<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加子账号</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" th:href="@{/public/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/layui/css/modules/layer/default/layer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/css/commer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/dataTables/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/client/threenets/css/announcement.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/adds.css}">
    <script type="text/javascript" th:src="@{/public/js/jquery.min.js}"></script>
</head>
<body>
    <form class="layui-form" action="" style='width: 500px;margin: 30px auto;'>
        <div class="layui-form-item">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-block">
                <input type="text" name="userName" required lay-verify="required" placeholder="请输入登录名" autocomplete="off" class="layui-input userName">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-block">
                <input type="password" name="userPassword" required lay-verify="required" placeholder="请输入登录密码" autocomplete="off" class="layui-input userPassword">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">再次输入密码</label>
            <div class="layui-input-block">
                <input type="password" name="checkUserPassword" required lay-verify="required" placeholder="再次输入密码" autocomplete="off" class="layui-input checkUserPassword">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客服号码</label>
            <div class="layui-input-block">
                <input type="text" name="userTel" required lay-verify="required" placeholder="请输入客服号码" autocomplete="off" class="layui-input userTel">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">QQ号</label>
            <div class="layui-input-block">
                <input type="text" name="userQq" required lay-verify="required" placeholder="请输入QQ号" autocomplete="off" class="layui-input userQq">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="userEmail" required lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input userEmail">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地区</label>
            <div class="layui-input-block">
                <select name="province" id="province" style="display: none!important;">
                    <option value="北京市">北京市</option>
                    <option value="天津市">天津市</option>
                    <option value="上海市">上海市</option>
                    <option value="重庆市">重庆市</option>
                    <option value="河北省">河北省</option>
                    <option value="河南省">河南省</option>
                    <option value="云南省">云南省</option>
                    <option value="辽宁省">辽宁省</option>
                    <option value="黑龙江省">黑龙江省</option>
                    <option value="湖南省">湖南省</option>
                    <option value="安徽省">安徽省</option>
                    <option value="山东省">山东省</option>
                    <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                    <option value="江苏省">江苏省</option>
                    <option value="浙江省">浙江省</option>
                    <option value="江西省">江西省</option>
                    <option value="湖北省">湖北省</option>
                    <option value="广西壮族自治区">广西壮族自治区</option>
                    <option value="甘肃省">甘肃省</option>
                    <option value="山西省">山西省</option>
                    <option value="内蒙古自治区">内蒙古自治区</option>
                    <option value="陕西省">陕西省</option>
                    <option value="吉林省">吉林省</option>
                    <option value="福建省">福建省</option>
                    <option value="贵州省">贵州省</option>
                    <option value="广东省">广东省</option>
                    <option value="青海省">青海省</option>
                    <option value="西藏">西藏</option>
                    <option value="四川省">四川省</option>
                    <option value="宁夏回族自治区">宁夏回族自治区</option>
                    <option value="海南省">海南省</option>
                    <option value="台湾省">台湾省</option>
                    <option value="香港">香港</option>
                    <option value="澳门">澳门</option>
                </select>
            </div>
        </div>
        <div class="layui-upload">
            <label class="layui-form-label">上传法人身份证正面</label>
            <button type="button" class="layui-btn imgs" id="IDpositive">上传法人身份证正面</button>
            <div class="layui-upload-list">
                <img class="layui-upload-img imgs_img" id="IDpositive_img" th:src="@{/public/images/addimg.png}" width="200px" height="100px">
            </div>
        </div>
        <div class="layui-upload">
            <label class="layui-form-label">上传法人身份证反面</label>
            <button type="button" class="layui-btn imgs" id="IDreverse">上传法人身份证反面</button>
            <div class="layui-upload-list">
                <img class="layui-upload-img imgs_img" id="IDreverse_img" th:src="@{/public/images/addimg.png}" width="200px" height="100px">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" style='margin-left: 54px;'>立即提交</button>
            </div>
        </div>
        <input type="hidden" id="cardz">
        <input type="hidden" id="cardf">
    </form>
</body>
<div th:include="threenets/threenet/common/head :: footer"></div>
<script th:src="@{/public/js/date.js}"></script>
<script type="text/javascript">
    var timestamp;
    $(function () {
        timestamp = timestamp();
    });

    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            var userName = $(".userName").val();
            var userPassword = $(".userPassword").val();
            var checkUserPassword = $(".checkUserPassword").val();
            var userTel = $(".userTel").val();
            var userQq = $(".userQq").val();
            var userEmail = $(".userEmail").val();
            var province = $("#province").val();
            var userCardZhen = $("#cardz").val();
            var userCardFan = $("#cardf").val();

            if (userPassword != checkUserPassword) {
                layer.msg("两次密码输入不一致！",{icon: 5,time:1000});
                return false;
            }
            if (userTel.length != 11 || !isTel(userTel)){
                layer.msg("客服号码格式不正确！",{icon: 5,time:1000})
                return false;
            }
            if (!isNotEmpty(userCardZhen)) {
                layer.msg("身份证正面照必传！",{icon: 5,time:1000})
                return false;
            }
            if (!isNotEmpty(userCardFan)) {
                layer.msg("身份证反面照必传！",{icon: 5,time:1000})
                return false;
            }
            
            AjaxPost("/threenets/insertUser",{
                userName:userName,
                userPassword:userPassword,
                checkUserPassword:checkUserPassword,
                userTel:userTel,
                userQq:userQq,
                userEmail:userEmail,
                province:province,
                userCardZhen:userCardZhen,
                userCardFan:userCardFan
            },function (res) {
                if (res.code == 200 && res.data){
                    //发异步，把数据提交给后台
                    layer.alert("增加成功", {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }else{
                    layer.msg(res.msg,{icon: 5,time:3000});
                }
            });
            return false;
        });
    });
    //照片上传
    layui.use('upload', function(){
        var upload = layui.upload;
        //上传身份证正面照
        var uploadInst = upload.render({
            elem: '#IDpositive',
            data:{
                flag:1,
                radom:timestamp
            }
            ,url: '/system/upload/cardImage'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#IDpositive_img').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //上传成功
                if (res.code == 200){
                    $("#cardz").val(res.data);
                }else{
                    layer.msg(res.msg,{icon: 6,time:1000});
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                return layer.msg("上传失败,请重新上传");
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        //上传身份证反面照
        var uploadInst = upload.render({
            elem: '#IDreverse'
            ,url: '/system/upload/cardImage',
            data:{
                flag:2,
                radom:timestamp
            }
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#IDreverse_img').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //上传成功
                if (res.code == 200){
                    $("#cardf").val(res.data);
                }else{
                    layer.msg(res.msg,{icon: 6,time:1000});
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                return layer.msg("上传失败,请重新上传");
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>
</html>
