<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/common/include :: header"></head>
<body class="layui-anim layui-anim-up">
<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="">首页</a>
			<a href="">用户管理</a>
			<a>
				<cite>用户列表</cite>
			</a>
		</span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i>
    </a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="javascript:void(0);">
            <input type="text" name="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input userName">
            <button class="layui-btn" onclick="showRingTable()"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <table class="layui-table" id="user_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名1</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>角色</th>
                <th>状态</th>
                <th>包月总数</th>
                <th>认证账户余额</th>
                <th>上级渠道商</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
</body>
<div th:include="admin/common/include :: footer"></div>
<script th:src="@{/admin/js/my/user_list.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        showRingTable();
    });
</script>
</html>