<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>企业彩铃公告</title>
<link rel="stylesheet" type="text/css" href="../public/css/common.css">
<link rel="stylesheet" type="text/css" href="../client/telcertification/css/homehead.css">
<link rel="stylesheet" type="text/css" href="../client/telcertification/css/center.css">
<script type="text/javascript" src="../public/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../public/js/regular.js"></script>
<style>
	table.dataTable thead th, table.dataTable thead td {
		width:20%!important;
    padding: 0!important; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff!important;
    border: 1px solid #0569FD!important;
    background-color: #0569FD!important;
}

</style>
</head>

<body>
<div class="header">
  <div class="top">
    <div class="logo"><img src="../client/telcertification/images/logo.png"><span>企业互联网服务平台</span></div>
    <div class="top_r"><span><img src="../client/telcertification/images/6286f08c-d5b4-47c5-a04c-3f28cc3fd338.jpg"></span><i>用户名</i> <a href="#" class="exit">退出登录</a></div>
  </div>
</div>
<div class="menu">
  <div class="cdwbk"><a href="home.html">首页</a> <a href="notice.html">公告</a><a href="center.html" class="dqxx">个人中心</a></div>
</div>
<div class="wbk">
  <div class="nbk">
    <div class="yhxxbk">
      <div class="bk_l"><img src="../client/telcertification/images/6286f08c-d5b4-47c5-a04c-3f28cc3fd338.jpg"> </div>
      <div class="bk_r">
        <h3>上网了测试账号</h3>
        <div class="yhxx">联系电话：<span>123456789</span></div>
        <div class="yhxx">地址：<span>123456789</span></div>
        <div class="yhxx">邮箱：<span>123456789</span></div>
        <div class="yhxx">代理编号：<span>123456789</span></div>
        <div class="xgmm" id="cause">修改密码</div>
      </div>
      <div class="zsy"></div>
    </div>
    <div class="zcmxbk">
      <div class="bgname"><span id="czjl" class="active">充值记录</span><span id="zcjl">支出记录</span></div>
      <div class="recharge_record">
        <table id="example">
          <thead>
            <tr>
              <th>充值时间</th>
              <th>充值项目</th>
              <th>充值金额</th>
              <th>剩余金额</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2018-08-05 14:01:12</td>
              <td>联通座机彩</td>
              <td>100</td>
              <td>300</td>
              <td>交易成功</td>
            </tr>
            <tr>
              <td>2018-08-05 14:01:12</td>
              <td>联通座机彩</td>
              <td>100</td>
              <td>300</td>
              <td>交易成功</td>
            </tr>
            <tr>
              <td>2018-08-05 14:01:12</td>
              <td>联通座机彩铃(河北联通</td>
              <td>100</td>
              <td>300</td>
              <td>交易成功</td>
            </tr>
            <tr>
              <td>2018-08-05 14:01:12</td>
              <td>联通座机彩铃(河北联通</td>
              <td>100</td>
              <td>300</td>
              <td>交易成功</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="spending_record bxs">
        <table id="record">
          <thead>
            <tr>
              <th>支出时间</th>
              <th>支出项目</th>
              <th>支出金额</th>
              <th>剩余金额</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2018-08-05 14:01:12</td>
              <td>联通座机彩铃(河北联通座机)</td>
              <td>100</td>
              <td>300</td>
              <td>交易成功</td>
            </tr>
            <tr>
              <td>2018-08-05 14:01:12</td>
              <td>联通座机彩铃(河北联通座机)</td>
              <td>100</td>
              <td>300</td>
              <td>交易成功</td>
            </tr>
            <tr>
              <td>2018-08-05 14:01:12</td>
              <td>联通座机彩铃(河北联通座机)联通座机彩铃(河北联通座机)</td>
              <td>100</td>
              <td>300</td>
              <td>交易成功</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--修改密码 -->
<div class="back display" id="pop">
  <div class="pop_content">
    <div class="xgtitle"><span>修改密码</span><i id="cancel"><img src="../client/telcertification/images/del.png"></i></div>
    <div class="xgmmbk">
      <div class="xgmm"><span>新密码:</span>
        <input id="newpwd" type="password" placeholder="请输入新密码">
      </div>
      <div class="xgmm"><span>确认密码:</span>
        <input id="againpwd" type="password" placeholder="请确认新密码">
      </div>
      <div class="xgmm"><span>验证手机号:</span>
        <input id="phone" type="tel" placeholder="请输入手机号">
      </div>
      <div class="xgmm"><span>验证码:</span>
        <input id="code" type="text" placeholder="请输入验证码">
      <input class="yzmbk" type="button" id="tel_code" value="获取验证码" />
</div>
    </div>
    <div class="qdan" onClick="changepwd()">确认修改</div>
  </div>
</div>
</body>
<script src="../public/dataTables/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../public/dataTables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="../public/dataTables/jquery.dataTables.min.css">
<script type="text/javascript">
function changepwd(){
	var newpwd = $('#newpwd').val();
    var againpwd= $('#againpwd').val();
	var phone= $('#phone').val();
	var code = $('#code').val();
		//判断密码
        if (!isNotEmpry(newpwd)) {
            alert("请输入新密码");
            return;
        }
		//判断密码
        if (!isNotEmpry(againpwd)) {
            alert("请确认新密码");
            return;
        }
		//判断确认密码
        if ($("#againpwd").val() != $("#newpwd").val()) {
            alert("密码不一致，请确认密码");
            return;
        }
		//判断手机号
        if (!isNotEmpry(phone)) {
            alert("请输入手机号");
            return;
        } else {
            if (phone.length != 11) {
                alert("请输入正确的手机号");
                return;
            }
        }
		//判断验证码
        if (!isNotEmpry(code)) {
            alert("请输入验证码");
            return;
        }
		$("#pop").addClass("display")
}
$(function(){
            //获取验证码
            var colock = '';
            var num = 30;
            $("#tel_code").on("click", function(){
                $("#tel_code").attr("disabled","true");
                console.log("222");
                $("#tel_code").val(num+"秒后重发");
                colock = setInterval(doLoop, 1000);//一秒一次
            })
            
            function doLoop(){
                num--;
                if(num > 0) {
                    $("#tel_code").val(num+"秒后重发");
                }else {
                    clearInterval(colock);//
                    $("#tel_code").removeAttr("disabled");
                    $("#tel_code").val("获取验证码");
                    num = 30;
                }
            }
        });

//一层弹窗
    $('#cause').on('click', function() { //点击按钮显示弹窗
        $("#pop").removeClass("display")
    })
    $("#cancel").on('click', function() { //点击取消隐藏弹窗
        $("#pop").addClass("display")
    })
	//表格切换
	 $('#czjl').on('click', function() { 
        $(".recharge_record").removeClass("bxs")
		$("#czjl").addClass("active")
		$(".spending_record").addClass("bxs")
		$("#zcjl").removeClass("active")
    })
    $('#zcjl').on('click', function() { 
        $(".recharge_record").addClass("bxs")
		$("#czjl").removeClass("active")
		$(".spending_record").removeClass("bxs")
		$("#zcjl").addClass("active")
    })
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
            // "pagingType":   "simple",
            "ordering": false,//禁止排序
            //"order": [[ 3, "desc" ]],//跟数组下标一样，第一列从0开始，这里表格初始化时，第四列默认降序
            "searching":false, //搜索框
            "bLengthChange":false,
            "language": {
                "decimal":",",
                "thousands":".",
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "没有找到记录",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "paginate" :{
                    // "first" : "",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    // "sLast" : ""
                }
            }
			
        });
    } );
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#record').DataTable({
            // "pagingType":   "simple",
            "ordering": false,//禁止排序
            //"order": [[ 3, "desc" ]],//跟数组下标一样，第一列从0开始，这里表格初始化时，第四列默认降序
            "searching":false, //搜索框
            "bLengthChange":false,
            "language": {
                "decimal":",",
                "thousands":".",
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "没有找到记录",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "paginate" :{
                    // "first" : "",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    // "sLast" : ""
                }
            }
			
        });
    } );
</script>
</html>
