<div th:fragment="header">
    <div id="heads">
        <div id="LAY_app" class="layadmin-tabspage-none" style="width:95%;margin:0 auto;">
            <div class="layui-row" style="height:110px;">
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1">
                        <img th:src="@{/public/images/logo.png}" alt="" width="580px" height="100px" style='margin: 5px 20px;'>
                    </div>
                </div>
                <div class="layui-col-xs6" id="navigation">
                    <div class="grid-demo" style="margin-top: 15px;">
                        <div class="layui-row layui-col-space5">
                            <div class="layui-col-md2">
                                <div class="grid-demo grid-demo-bg1" id="Mobile">移动工具箱</div>
                            </div>
                            <div class="layui-col-md2">
                                <div class="grid-demo" id="unicom">|&nbsp;&nbsp;联通工具箱</div>
                            </div>
                            <div class="layui-col-md4">
                                <div class="grid-demo grid-demo-bg1">您好,代理商，[[${session.username}]]</div>
                            </div>
                            <div class="layui-col-md1">
                                <a th:href="@{/threenets/toPersonalInformation}">
                                    <div class="grid-demo" style="cursor: pointer;">|&nbsp;&nbsp;设置</div>
                                </a>
                            </div>
                            <!--<div class="layui-col-md2">-->
                                <!--<a href="../set/change_pass.html">-->
                                    <!--<div class="grid-demo" style="cursor: pointer;">|&nbsp;&nbsp;修改密码</div>-->
                                <!--</a>-->
                            <!--</div>-->
                            <div class="layui-col-md1">
                                <a th:href="@{/loginout}">
                                    <div class="grid-demo grid-demo-bg1" style="cursor: pointer;">|&nbsp;&nbsp;退出</div>
                                </a>
                            </div>
                            <i class="layui-icon layui-icon-notice" style="font-size:30px" onclick="showAnnouncement()"></i>
                        </div>
                        <!-- 移动工具箱 -->
                        <div class="layui-row layui-col-space5 bxs" style="width: 65%;" id="Mobiles">
                            <div class="layui-col-md3">
                                <a href="javascript:;">
                                    <div class="grid-demo grid-demo-bg1" onclick="DelRingtone();">删除铃音</div>
                                </a>
                            </div>
                            <div class="layui-col-md3">
                                <a href="javascript:;">
                                    <div class="grid-demo" onclick="MobileUser();">用户信息</div>
                                </a>
                            </div>
                            <div class="layui-col-md3">
                                <a target="_blank" th:href="@{http://211.137.107.18:8888/artifact/sunshine!checkOpenBizStatusPage.action?token=kidUHNWDFDS87092}">
                                    <div class="grid-demo grid-demo-bg1">移动连接</div>
                                </a>
                            </div>
                            <div class="layui-col-md3">
                                <a target="_blank" th:href="@{http://211.137.107.18:8888/page/h5/index.html?token=iJ9eyJwYXlsb2FkIjp7InByaWNlIjo1MDB9LCJxZCI6Ijg0N2QyNGM5LTE1ZjEtNGJiMi1iYThlLWNmODQxMGY3NWM4Z#/}">
                                    <div class="grid-demo">下发验证码</div>
                                </a>
                            </div>
                        </div>
                        <!-- 联通工具箱 -->
                        <div class="layui-row layui-col-space5 bxs" style="width: 45%;" id="unicoms">
                            <div class="layui-col-md3">
                                <a href="javascript:;">
                                    <div class="grid-demo" onclick="UnicomUser();">用户信息</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6" style="display: flex;flex-direction: row;align-content: center;justify-content: flex-end">
                    <div style="width: 50px;height: 30px">
                    </div>
                </div>
            </div>
        </div>
        <!-- 导航栏tab切换 -->
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin:0 auto;">
            <ul class="layui-tab-title" id="tabs">
                <a th:href="@{/threenets/threeNetsTaskList}"><li class='index1'>待办任务</li></a>
                <a th:href="@{/threenets/threeNetsOrderList}"><li class='index2'>商户列表</li></a>
                <a th:href="@{/threenets/toNumberListPage}"><li class='index3'>号码列表</li></a>
                <a th:href="@{/threenets/toChildAccountPage}"><li class='index5'>子账号管理</li></a>
                <a th:href="@{/threenets/toDbusinessPage}"><li class='index6'>业务发展数据</li></a>
                <a th:href="@{/threenets/toPersonalInformation}"><li class='index10'>个人信息</li></a>
                <a th:href="@{/threenets/clcy/toMerchants}"target="_blank"><li class='index7'>疑难杂单</li></a>
                <a><li class='index8'>工具箱</li></a>
            </ul>
        </div>
    </div>


    <script>
        $("#Mobiles").hide();
        $("#unicoms").hide();
        //移动工具箱
        $("#Mobile").mouseover(function() {
            $("#Mobiles").show();
            $("#unicoms").hide();
            setTimeout(function () {
                $("#Mobiles").hide();
            },5000)
        });
        //联通工具箱
        $("#unicom").mouseover(function() {
            $("#unicoms").show();
            $("#Mobiles").hide();
            setTimeout(function () {
                $("#unicoms").hide();
            },5000)
        });
        //移动  删除铃音
        function DelRingtone() {
            layer.open({
                type: 2,
                title: '删除铃音设置',
                content: '/threenets/toYdDeleteRingPage',
                area: ['950px', '600px'],
                maxmin: true
            });
        }
        //移动  用户信息
        function MobileUser() {
            layer.open({
                type: 2,
                title: '用户信息',
                content: '/threenets/toYdUserInfoPage',
                area: ['950px', '600px'],
                maxmin: true
            });
        }
        //联通 用户信息
        function UnicomUser() {
            layer.open({
                type: 2,
                title: '用户信息',
                content: '/threenets/toLtUserInfoPage',
                area: ['950px', '600px'],
                maxmin: true
            });
        }
        
        function showAnnouncement() {
            layer.open({type: 2, title: '公告', area: ['850px', '500px'], content: '/threenets/threeNetsAnnunciate'});
        }
    </script>
</div>
