<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/common/include :: header"></head>
<body class="layui-anim layui-anim-up">
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="">首页</a>
			<a href="">系统管理</a>
			<a href="">日志管理</a>
			<a>
				<cite>登录日志</cite>
			</a>
		</span>
		<a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
			<i class="layui-icon" style="line-height:38px">ဂ</i>
		</a>
	</div>
	<div class="x-body">
		<table class="layui-table" id="example">
			<thead>
				<tr>
					<th>ID</th>
					<th>登录名称</th>
					<th>IP地址</th>
                    <th>登录地点</th>
                    <th>登录时间</th>
                    <th>登录状态</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="loginLog:${loginLogList}">
					<td th:text="${loginLog.loginLogId}">1</td>
					<td th:text="${loginLog.loginLogUsername}">admin</td>
					<td th:text="${loginLog.ipAdress}">127.0.0.1</td>
                    <td th:text="${loginLog.loginLocation}">江苏徐州</td>
                    <td th:text="${#dates.format(loginLog.loginLogTime,'yyyy-MM-dd HH:mm:ss')}">2019-06-19 17:20:26</td>
                    <td th:text="${loginLog.loginLogStatus}">登录成功</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<div th:include="admin/common/include :: footer"></div>
<script type="text/javascript">
	$(document).ready(function() {
	    page("#example",4);
	} );
</script>
</html>