<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/common/include :: header"></head>
<script type="text/javascript" charset="utf-8" th:src="@{/admin/kindeditor/kindeditor-all.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/admin/kindeditor/lang/zh-CN.js}"> </script>
<style type="text/css">
    .layui-input-inline{
        width: 490px!important;
    }
</style>
<body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="noticeTitle" class="layui-form-label">
                    <span class="x-red">*</span>标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="noticeTitle" name="noticeTitle" required lay-verify="noticeTitle" autocomplete="off" class="layui-input" th:value="${notice.noticeTitle}" value="测试公告">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="noticeContent" class="layui-form-label">
                    <span class="x-red">*</span>正文
                </label>
                <div class="layui-input-inline">
                    <textarea id="noticeContent" name="noticeContent" required lay-verify="noticeContent" autocomplete="off" placeholder="请输入" class="layui-textarea" style="height: 240px;" th:text="${notice.noticeContent}">测试公告测试公告测试公告测试公告测试公告</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="noticeModule" class="layui-form-label">
                    <span class="x-red">*</span>发布模块
                </label>
                <div class="layui-input-inline">
                    <select name="noticeModule" id="noticeModule" lay-verify="required" lay-filter="aihao">
                        <option th:selected="${notice.noticeModule} == 0" value="0">企业彩铃/视频彩铃</option>
                        <option th:selected="${notice.noticeModule} == 1" value="1">电话认证/挂机短信/彩印</option>
                        <option th:selected="${notice.noticeModule} == 2" value="2">400电话</option>
                        <option th:selected="${notice.noticeModule} == 3" value="3">企业秀</option>
                        <option th:selected="${notice.noticeModule} == 4" value="4">网站建设/万词霸屏/快排优化</option>
                        <option th:selected="${notice.noticeModule} == 5" value="5">微信/百度/抖音小程序</option>
                        <option th:selected="${notice.noticeModule} == 6" value="6">铃音录制/视频制作</option>
                        <option th:selected="${notice.noticeModule} == 7" value="7">流量卡/号卡</option>
                        <option th:selected="${notice.noticeModule} == 8" value="8">疑难杂单</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="noticeWeight" class="layui-form-label">
                    <span class="x-red">*</span>权重
                </label>
                <div class="layui-input-inline">
                    <input type="number" id="noticeWeight" name="noticeWeight" required lay-verify="noticeWeight" autocomplete="off" class="layui-input" value="1" th:value="${notice.noticeWeight}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    数字越大，排序越靠前
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>状态
                </label>
                <div class="layui-input-inline">
                    <input type="radio" name="noticeStatus" value="1" title="是" th:field="${notice.noticeStatus}">
                    <input type="radio" name="noticeStatus" value="0" title="否" th:field="${notice.noticeStatus}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">修改</button>
            </div>
        </form>
    </div>
</body>
<div th:include="admin/common/include :: footer"></div>
<script type="text/javascript" th:inline="javascript">
    var id = [[${id}]];
    var editor;
    KindEditor.ready(function(K) {
        var options = {
            items : [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent',
                'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|',
                'insertfile', 'table', 'hr','pagebreak','anchor', 'link', 'unlink', '|', 'about'
            ],
            filterMode : true,
            allowFileManager: true,
            //uploadJson: '${pageContext.request.contextPath }/server/upload'
        };
        editor = K.create('#noticeContent', options);
    });

    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer;
        //自定义验证规则
        form.verify({
            noticeTitle: function(value){
                if(value.length <= 0 || value.length > 10){
                    return '标题10位以内';
                }
            },
            noticeWeight:function(value){
                if (value <= 0) {
                    return "请输入大于0的整数";
                }
            }
        });
        //监听提交
        form.on('submit(add)', function(data){
            var noticeTitle = $("#noticeTitle").val();
            var noticeContent = editor.html();
            var noticeModule = $("#noticeModule").val();
            var noticeWeight = $("#noticeWeight").val();
            var noticeStatus = $("input[name='noticeStatus']:checked").val();

            AjaxPut("/admin/updateNotice",{
                noticeId:id,
                noticeTitle:noticeTitle,
                noticeContent:noticeContent,
                noticeModule:noticeModule,
                noticeWeight:noticeWeight,
                noticeStatus:noticeStatus
            },function (res) {
                if (res.code == 200 && res.data){
                    console.log(data);
                    //发异步，把数据提交给后台
                    layer.alert("修改成功", {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }else{
                    layer.msg("添加公告出错", {icon: 5, time: 1000});
                }
            });
            return false;
        });
    });
</script>
</html>