@charset "utf-8";
/*.header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header .logo {
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
}
.wbk {
	height: 700px;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.wbk .nbk {
	height: 100%;
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
}
.wbk .nbk .nbk_z {
	width: 55%;
	float: left;
	line-height: 100px;
	text-align: center;
	font-size: 36px;
	margin-top: 300px;
	color: #FFF;
}
.wbk .nbk .nbk_y {
	float: left;
	width: 380px;
	margin-top: 180px;
	padding: 30px;
	background-color: #FFF;
	border-radius: 10px;
}
.wbk .nbk .nbk_y .dltitle {
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
.wbk .nbk .nbk_y .srbk {
	height: 40px;
	padding-left: 30px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EAEAEA;
	padding-bottom: 10px;
	padding-top: 10px;
}
.wbk .nbk .nbk_y .srbk input {
	line-height: 38px;
	height: 38px;
	font-size: 90%;
	margin-top: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: none;
	width: 300px;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	float: left;
}
.wbk .nbk .nbk_y .yzm #imageCode {
	width: 150px;
}
.wbk .nbk .nbk_y .yzm .yzy {
	float: right;
	width: 50%;
	cursor: pointer;
}
.wbk .nbk .nbk_y .yzm .yzy span {
	width: 80px;
	display: block;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #75ACFF;
	height: 40px;
}
.wbk .nbk .nbk_y .srbk.yzm .yzy span img {
	height: 100%;
	width: 100%;
}

.wbk .nbk .nbk_y .phone {
	background-image: url(../images/zhangh.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size:24px;
}

.wbk .nbk .nbk_y .psd {
	background-image: url(../images/Password.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size:21px;
}
.wbk .nbk .nbk_y .yzm
 {
	background-image: url(../images/code.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size:18px;
}



.wbk .nbk .nbk_y .dlan {
	text-align: center;
	background-color: rgba(6,104,255,0.5);
	line-height: 36px;
	margin-top: 30px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
	border-radius: 5px;
	cursor: pointer;
}
.wbk .nbk .nbk_y .dlan a {
	display: block;
	color: #FFF;
}





.dibu {
	line-height: 100px;
	height: 100px;
	text-align: center;
	color: #999;
}
*/
body {
    height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.head {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    padding-top: 80px;
}

.head img {
    width: 100%;
}

.wbk {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.wbk .wbk_z {
    float: left;
    width: 660px;
    margin-left: 70px;
}

.wbk .wbk_z .imgbk {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 180px;
}

.wbk .wbk_z .imgbk img {
    width: 100%;
}

.wbk .wbk_y {
    float: right;
    height: 525px;
    width: 500px;
    background-color: #FFF;
    opacity: 0.8;
    border-radius: 10px;
    margin-right: 50px;
}

.wbk .wbk_y h3 {
    display: block;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    color: #CCC;
    font-size: 48px;
    line-height: 120px;
    padding-top: 30px;
    font-weight: normal;
}

.wbk .wbk_y .inputbk {
    height: 46px;
    width: 350px;
    border: 1px solid #CCC;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.wbk .wbk_y .inputbk .icon {
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 13px;
    margin-right: 13px;
    margin-left: 13px;
}

.wbk .wbk_y .inputbk input {
    width: 290px;
    background-color: #fff;
    line-height: 24px;
    height: 24px;
    margin-top: 12px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    font-size: 14px;
    border-left-width: 1px;
    border-left-color: #CCC;
    padding-left: 13px;
    float: left;
    outline: none;
}

.wbk .wbk_y .inputbk.yzm {
    margin-bottom: 40px;
}

.wbk .wbk_y .inputbk.yzm input {
    width: 200px;
    /*border-right-width: 1px;*/
    /*border-right-style: solid;*/
    /*border-right-color: #CCC;*/
}

.wbk .wbk_y .inputbk.yzm .yzy {
    float: left;
    width: 104px;
    height: 46px;
    text-align: center;
    /*margin-left: 5px;*/
    /*margin-top: 5px;*/
    cursor: pointer;
}

.wbk .wbk_y .inputbk.yzm .yzy img {
    max-width: 100%;
    height: 100%;
}

.wbk .wbk_y .dlan {
    line-height: 46px;
    height: 46px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-image: url(../images/anbj.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}
