<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>号码管理-设置铃音</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" th:href="@{/public/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/layui/css/modules/layer/default/layer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/css/commer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/dataTables/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/client/threenets/css/head.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/client/threenets/css/number_list.css}">
    <script type="text/javascript" th:src="@{/public/js/jquery.min.js}"></script>
    <style>
        .dataTables_wrapper .dataTables_filter input {
            height: 30px;
        }

        #mcontent .mconl {
            border-right: solid #ddd 1px;
        }
        .setting_title{
            height: 30px;
            line-height: 30px;
            border-bottom: 2px solid #ebedef;
            color: #c0009e;
            font-weight: 700;
            margin: 10px 0px;
        }
    </style>
</head>

<body>
    <!-- 头部 -->
    <div th:include="threenets/threenet/common/include :: header"></div>
    <div class="layui-row" id="mcontent">
        <div class="layui-col-xs1 mconl">
            <div class="grid-demo grid-demo-bg1">
                <div id="page-aside" class="aside">
                    <ul class="nav">
                        <li class="management">
                            <a class="banner" href="javascript:;">商户管理</a>
                        </li>
                        <li id="apersonnel" class="selected">
                            <a th:href="@{'/threenets/toMerchantsPhonePage/'+${orderId}}">号码管理</a>
                        </li>
                        <li id="ring">
                            <a th:href="@{'/threenets/toMerchantsRingPage/'+${orderId}}">铃音管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-xs11 mconr">
            <div class="grid-demo">
                <div class="layui-row contant" style="width:95%;">
                    <!-- 等待设置铃音 -->
                    <div class="layui-col-md12" id="search" style="margin-left: 20px;">
                        <div style="padding:10px 0 0 10px;font-size:16px;">
                            操作：
                            <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="sear">确认</button>
                        </div>
                        <div class="setting_title">
                            成员姓名：
                            <span id="linkman" th:text="${threenetsChildOrder.linkman}">18315065540</span> | 成员电话：
                            <span id="linkmanTel" th:text="${threenetsChildOrder.linkmanTel}">18315065540</span>
                        </div>
                        <table class="layui-table" id="set">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><input type="radio" id="allCheck" disabled="disabled"></th>
                                    <th>铃音名称</th>
                                    <th>创建时间</th>
                                    <th>在线试听</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="orderId" th:value="${orderId}">
    <input type="hidden" id="operate" th:value="${operate}">
    <input type="hidden" id="childOrderId" th:value="${id}">
</body>
<div th:include="threenets/threenet/common/head :: footer"></div>
<script>
    $(".index2").addClass("active");
    //分页
    $(document).ready(function() {
        showTable();

        $("#sear").click(function () {
            var orderId = $("#orderId").val();
            var ringId = $("input[type='radio']:checked").attr("data");
            var childOrderId = $("#childOrderId").val();
            var operate = $("#operate").val();
            if (!isNotEmpty(ringId)) return layer.msg('请选中一条!', {icon: 5, time: 1000});

            AjaxPut("/threenets/chidSetRing",{
                orderId:orderId,
                ringId:ringId,
                operate:operate,
                childOrderId:childOrderId
            },function (res) {
                if (res.code == 200){
                    layer.msg(res.msg, {icon: 6, time: 1000});
                    setTimeout(function () {
                        window.location.href = "/threenets/toMerchantsPhonePage/"+orderId;
                    },3000);
                }else{
                    layer.msg(res.msg, {icon: 5, time: 1000});
                }
            });
        });
    });
    function showTable() {
        var param = {
            orderId:$("#orderId").val(),
            operate:$("#operate").val()
        }
        var columns = [
            {"data": "id"},
            {"data": null},
            {"data": "ringName"},
            {"data": "createTime"}
        ];
        var columnDefs = [{
            targets: [1],
            render: function (data, type, row, meta) {
                var ringId = row.id;
                return "<input type='radio' name='check' data='"+ringId+"'>";
            }
        },{
            targets:[4],
            render:function (data, type, row, meta) {
                var id = row.id;
                return "<span onclick='openPlayer("+id+");'>试听</span>";
            }
        }];
        page("#set", 10, param, "/threenets/getThreeNetsRingSetingList", columns, columnDefs);
    }
    //在线试听
    function openPlayer(id){
        layer.open({
            type: 1,
            title: '在线试听',
            area: ['800px', '560px'],
            content: '<video id="ovideo" autoplay loop src="/threenets/playRing/' + id + '" controls="controls" allowfullscreen="true" quality="high" width="800px" height="514px" align="middle" allowscriptaccess="always" flashvars="isAutoPlay=true" type="application/x-shockwave-flash"></video>'
        });
    }
</script>
</html>
