<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>商户列表-号码管理</title>
<head th:include="threenets/threenet/common/head :: linkcss"></head>
<link rel="stylesheet" type="text/css" th:href="@{/client/threenets/css/number_list.css}">
<style>
    .dataTables_wrapper .dataTables_filter input {
        height: 30px;
    }

    #mcontent .mconl {
        border-right: solid #ddd 1px;
    }

    .contant {
        margin: 0;
        padding-top: 0px;
    }
</style>
<body>
<!-- 头部 -->
<div th:include="threenets/threenet/common/include :: header"></div>
<div class="layui-row" id="mcontent">
    <div class="layui-col-xs1 mconl">
        <div class="grid-demo grid-demo-bg1">
            <div id="page-aside" class="aside">
                <ul class="nav">
                    <li class="management">
                        <a class="banner" href="javascript:;">商户管理</a>
                    </li>
                    <li id="apersonnel" class="selected">
                        <a th:href="@{'/threenets/toMerchantsPhonePage/'+${parentOrderId}}">号码管理</a>
                    </li>
                    <li id="ring">
                        <a th:href="@{'/threenets/toMerchantsRingPage/'+${parentOrderId}}">铃音管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-xs11 mconr">
        <div class="grid-demo">
            <div class="layui-row contant" style="width:95%;">
                <!-- 等待设置铃音 -->
                <div class="layui-col-md12" id="search">
                    <input type="hidden" id="parentOrderId" th:value="${parentOrderId}">
                    <div class="title-bar clearfix">
                        <h1 class="pull-cnter">
                            您正在以 <span style="color: red;" th:text="${companyName}"></span> 的管理员身份进行操作。
                        </h1>
                    </div>
                    <div style="padding:10px 0 0 10px;font-size:16px;">
                        操作：
                        <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="sear" onclick="AddUser();">添加号码</button>
                        <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="update">批量更新</button>
                        <span style="color: red; margin-left: 20px;"> 如有新添加新省份的号码，请重新上传铃音。 </span>
                        <input type="button" class="btn btn-primary" value="批量下发短信" id="xiaF" onclick="Batch();">
                    </div>
                    <table class="layui-table" id="set" style="margin-left:10px;">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>员工姓名</th>
                                <th>成员号码</th>
                                <th>运营商</th>
                                <th>省份</th>
                                <th>加入时间</th>
                                <th>当前铃音</th>
                                <th>彩铃功能</th>
                                <th>企业彩铃</th>
                                <th>视频彩铃</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="threenets/threenet/common/head :: footer"></div>
<script>
    $(".index2").addClass("active");
    //分页
    $(document).ready(function () {
        showTable();
    });
    // 显示数据
    function showTable() {
        var params = {
            "isMonthly": 0,
            "timeType": 0,
            "id": $('#parentOrderId').val()
        }
        var columns = [
            {"data": "id"},
            {"data": "linkman"},
            {"data": "linkmanTel"},
            {"data": "operate"},
            {"data": "province"},
            {"data": "createDate"},
            {"data": "ringName"},
            {"data": "isRingtoneUser"},
            {"data": "isMonthly"},
            {"data": "isVideoUser"},
            {"data": "remark"}
        ];
        var columnDefs = [{
            targets:[1],
            render:function (data, type, row, meta) {
                return "<div style='text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:150px;' title='"+data+"'>"+data+"</div>";
            }
        },{
            targets: [3],
            render: function (data, type, row, meta) {
                if (data == 1) {
                    return '移动'
                } else if (data == 2) {
                    return '电信'
                } else {
                    return '联通'
                }
            }
        },{
            targets:[6],
            render:function (data,type,row,meta) {
                return "<div style='text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:150px;' title='"+data+"'>"+data+"</div>";
            }
        }, {
            targets: [7],
            render: function (data, type, row, meta) {
                var id = row.id;
                var status = data ? '是' : '否';
                return status + "<i onclick='getPhoneInfo("+id+")' class='layui-icon' title='刷新' data-rowindex='"+meta.row+"'><img src='../../client/threenets/images/refresh.png'></i>";
            }
        }, {
            targets: [8],
            render: function (data, type, row, meta) {
                var status = '';
                if (data == 1) {
                    status = '未包月';
                } else if (data == 2) {
                    status = '已包月';
                } else {
                    status = '已退订';
                }
                var id = row.id;
                return status + "<i onclick='getPhoneInfo("+id+")' class='layui-icon' title='刷新'><img src='../../client/threenets/images/refresh.png'></i>";
            }
        }, {
            targets: [9],
            render: function (data, type, row, meta) {
                var operate = row.operate;
                var id = row.id;
                var status = data ? '是' : '否'
                return status + (operate == 1 ? "<i onclick='refreshVbrtStatus("+id+")' class='layui-icon' title='刷新'><img src='../../client/threenets/images/refresh.png'></i>":'');
            }
        },{
            targets:[10],
            render:function (data, type, row, meta) {
                return "<div style='text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:150px;' title='"+data+"'>"+data+"</div>";
            }
        },{
            targets: [11],
            render: function (data, type, row, meta) {
                var id = row.id;
                var operate = row.operate;
                var isMonthly = row.isMonthly;
                var setRing = "<i class='layui-icon' title='设置铃音'><img src='../../client/threenets/images/ring.png'></i>";
                var refresh = "<i onclick='getPhoneInfo("+id+")' class='layui-icon layui-icon-refresh-3' title='刷新'></i>";
                var note = "<i onclick='sendMessage(2,1,"+id+");' class='layui-icon' title='下发短信'><img src='../../client/threenets/images/message.png'></i>";
                var linkNote = "<i onclick='sendMessage(2,2,"+id+");' class='layui-icon' title='下发链接短信'><img src='../../client/threenets/images/link.png'></i>";
                var del = "<i class='layui-icon layui-icon-delete' title='删除' onclick='devareTel(" + id + ")'></i>";
                return refresh + (isMonthly == 1 ? note :'') + (isMonthly == 2  ? setRing :'') + (operate == 3 && isMonthly == 1 ? linkNote :'') + del;
            }
        }]
        page("#set", 15, params, "/threenets/getThreeNetsTaskList", columns, columnDefs);
    }
    // 获取号码信息 彩铃功能、企业彩铃以及操作刷新都使用此方法
    function getPhoneInfo(id) {
        AjaxPut("/threenets/getPhoneInfo/"+id,{},function (res) {
            if (res.code == 200 &&　res.data){
                layer.msg('更新成功！',{icon: 6,time:3000});
                $("#set").DataTable().ajax.reload(null,false);
            }else{
                layer.msg(res.msg,{icon: 5,time:3000});
            }
        });
    }
    // 刷新视频彩铃功能
    function refreshVbrtStatus(id) {
        AjaxPut("/threenets/refreshVbrtStatus/"+id,{},function (res) {
            if (res.code == 200 &&　res.data){
                layer.msg('更新成功！',{icon: 6,time:3000});
                $("#set").DataTable().ajax.reload(null,false);
            }else{
                layer.msg(res.msg,{icon: 5,time:3000});
            }
        });
    }
    //添加账号
    function AddUser() {
        layer.open({
            type: 2,
            title: '添加号码',
            area: ['650px', '650px'],
            content: '/threenets/toAddMerchantsPhonePage/'+$("#parentOrderId").val()
        });
    }
    //批量下发短信
    function Batch() {
        layer.open({
            type: 1,
            title: '批量下发短信',
            area: ['500px', '300px'],
            content: "<div class='sendMes'>" +
                        "<input type='button' class='btn btn-primary' value='给所有未包月用户下发短信' id='SMS' onclick='sendMessage(1,1,);'>" +
                        "<span>(运营商下的所有未包月用户)</span></br></br></br></br>" +
                        "<input type='button' class='btn btn-primary' value='给所有未包月用户下发链接短信' id='links' onclick='sendMessage(1,2,);'>" +
                        "<span>(仅联通下的所有未包月用户)</span>" +
                    "</div>"
        });
    }

    // 发送短信 包含批量发送以及联通发送链接短信
    // type 标识是否是批量操作 1、批量操作/2、单个操作
    // flag 标识是否是下发链接短信 1、普通短信/2、链接短信
    // data 数据 type为1时，data为父级订单ID；type为2时，data为子订单ID
    function sendMessage(type,flag,data) {
        if (type == 1){
            data = $("#parentOrderId").val()
        }
        alert(type+"----"+flag+"----"+data);
        AjaxPut("/threenets/sendMessage",{
            type:type,
            flag:flag,
            data:data
        },function (res) {
            if (res.code == 200 &&　res.data){
                layer.msg(res.msg,{icon: 6,time:3000});
                $("#set").DataTable().ajax.reload(null,false);
            }else{
                layer.confirm(res.msg, {
                    btn: ["确定"]
                }, function () {
                    layer.closeAll('dialog');//关闭弹层
                });
            }
        });
    }

    //给所有未包月用户下发短信
    function sendAllMsg(obj) {
        if (obj == 1) {
            layer.msg("给所有未包月用户下发短信");
        } else if (obj == 2) {
            layer.msg("给所有未包月用户下发链接短信");
        }
    }

    //删除
    function devareTel(id) {
        layer.confirm("你确定要删除此行记录吗?", {
            btn: ["确定", "取消"] //按钮
        }, function () {
            AjaxDevare("/threenets/devareThreeNetsChildOrder", {"id": id}, function (result) {
                layer.closeAll('dialog');//关闭弹层
                layer.msg(result.msg + "!", {icon: result.code == 500 ? 2 : 1, time: 1000});
                $('#set').DataTable().ajax.reload(null,false);
            })
        }, function () {});
    }
</script>
</html>
