<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>商户列表-铃音管理</title>
<head th:include="threenets/threenet/common/head :: linkcss"></head>
<link rel="stylesheet" type="text/css" th:href="@{/client/threenets/css/number_list.css}">
<link rel="stylesheet" th:href="@{/client/threenets/css/ring.css}">
<body>
<!-- 头部 -->
<div th:include="threenets/threenet/common/include :: header"></div>
<div class="layui-row" id="mcontent">
    <div class="layui-col-xs1 mconl">
        <div class="grid-demo grid-demo-bg1">
            <div id="page-aside" class="aside">
                <ul class="nav">
                    <li class="management">
                        <a class="banner" href="javascript:;">商户管理</a>
                    </li>
                    <li id="apersonnel">
                        <a th:href="@{'/threenets/toMerchantsPhonePage/'+${orderId}}">号码管理</a>
                    </li>
                    <li id="ring" class="selected">
                        <a th:href="@{'/threenets/toMerchantsRingPage/'+${orderId}}">铃音管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-xs11 mconr">
        <div class="grid-demo">
            <div class="layui-row" style="width:98%;padding-top: 0px;">
                <div class="layui-col-md12" id="search">
                    <input type="hidden" id="orderId" th:value="${orderId}">
                    <input type="hidden" id="companyName" th:value="${companyName}">
                    <input type="hidden" id="operate" value="1">
                    <div class="title-bar clearfix">
                        <h1 class="pull-cnter">
                            您正在以 <span style="color: red;" th:text="${companyName}"></span> 的管理员身份进行操作。
                        </h1>
                    </div>
                    <div style="padding:10px 0 0 10px;font-size:16px;">
                        操作：
                        <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="sears"
                                onclick="addRing();" style='background-color: #17a9ff!important;'>上传铃音
                        </button>
                    </div>
                    <div class="InternetOperators clear" style="margin-left:10px;margin-top:15px;">
                        <input type="hidden" id="ringOperate" th:value="${ringOperate}">
                        <div class="yidong more" style="display: none;" onclick="dianxin(this)">移动</div>
                        <div class="dianxin more" style="display: none;" onclick="dianxin(this)">电信</div>
                        <div class="liantong more" style="display: none;" onclick="dianxin(this)">联通</div>
                    </div>
                    <table class="layui-table" id="set" style="margin-left:10px;">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>运营商</th>
                                <th>创建时间</th>
                                <th>铃音名称</th>
                                <th>铃音类型</th>
                                <th>在线试听</th>
                                <th>审核状态</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="threenets/threenet/common/head :: footer"></div>
<script th:src="@{/client/threenets/js/threenet/ring_list.js}"></script>
<script>
    //分页
    $(document).ready(function () {
        showTable();
    });
</script>
</html>
