<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>商户列表-号码管理</title>
<head th:include="threenets/threenet/common/head :: linkcss"></head>
<link rel="stylesheet" type="text/css" th:href="@{/client/threenets/css/number_list.css}">
<style>
    .dataTables_wrapper .dataTables_filter input {
        height: 30px;
    }

    #mcontent .mconl {
        border-right: solid #ddd 1px;
    }

    .contant {
        margin: 0;
        padding-top: 0px;
    }

    #telecomFile {
        color: #6191d4;
        line-height: 29px;
        height: 29px;
        display: inline-block;
        width: 100%;
    }

    .telecomImg {
        width: 220px;
        height: 220px;
    }

    .telecomDiv {
        display: flex;
        flex-direction: row;
        margin: 20px;
    }

    .telecomDiv > p {
        font-size: 16px;
    }

    .sumbit {
        background-color: #17A9FF;
    }
</style>
<body>
<!-- 头部 -->
<div th:include="threenets/threenet/common/include :: header"></div>
<div class="layui-row" id="mcontent">
    <div class="layui-col-xs1 mconl">
        <div class="grid-demo grid-demo-bg1">
            <div id="page-aside" class="aside">
                <ul class="nav">
                    <li class="management">
                        <a class="banner" href="javascript:;">商户管理</a>
                    </li>
                    <li id="apersonnel">
                        <a th:href="@{'/threenets/toMerchantsPhonePage/'+${parentOrderId}}">号码管理</a>
                    </li>
                    <li id="ring">
                        <a th:href="@{'/threenets/toMerchantsRingPage/'+${parentOrderId}}">铃音管理</a>
                    </li>
                    <li id="telecomFile" class="selected">
                        <a th:href="@{'/threenets/toMerchantsTelecomFilePage/'+${parentOrderId}}">商户认证</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-xs11 mconr">
        <div class="grid-demo">
            <div class="layui-row contant" style="width:95%;">
                <!-- 等待设置铃音 -->
                <div class="layui-col-md12" id="search">
                    <input type="hidden" id="parentOrderId" th:value="${parentOrderId}">
                    <input type="hidden" id="companyName" th:value="${companyName}">
                    <input type="hidden" id="folderName" th:value="${folderName}">
                    <input type="hidden" id="companyFile" name="companyFile">
                    <input type="hidden" id="clientFile" name="clientFile">
                    <div class="title-bar clearfix">
                        <h1 class="pull-cnter">
                            您正在以 <span style="color: red;" th:text="${companyName}"></span> 的管理员身份进行操作。
                        </h1>
                    </div>
                    <div style="">
                        <div class="telecomDiv">
                            <p>营业执照：</p>
                            <img class="telecomImg" th:src="${businessLicense}" id="businessLicense">
                            <input type="file" style="display: none;" name="companyFile" class="tpdza"
                                   id="businessLicenseAdd">
                        </div>
                        <div class="telecomDiv">
                            <p>业务协议：</p>
                            <img class="telecomImg" th:src="${confirmLetter}" id="confirmLetter">
                            <input type="file" style="display: none;" name="clientFile" class="tpdza"
                                   id="confirmLetterAdd">
                        </div>
                    </div>
                    <div style="padding-left: 160px">
                        <button type="button" class="layui-btn" id="" onclick="sub()">提交修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="threenets/threenet/common/head :: footer"></div>
<script th:src="@{/public/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajaxfileupload.js}"></script>
<script>
    $(document).ready(function () {
        $("addBusinessLicense").hide();
        $("addConfirmLetter").hide();
    });
    $("body").on('click', '#businessLicense', function () {
        valid("companyFile", $("#businessLicenseAdd"), "businessLicenseAdd", $(this));
    });
    $("body").on('click', '#confirmLetter', function () {
        valid("clientFile", $("#confirmLetterAdd"), "confirmLetterAdd", $(this));
    });

    function valid(url, pictureId, fileId, ts) {
        ts.next().click(); //隐藏了input:file样式后，点击头像就可以本地上传
        ts.next().on("change", function () {
            var pictureVal = pictureId.val();
            if (pictureVal != "" && validate_img2(pictureVal, this.files)) {
                if (this.files[0] != null && this.files[0] != "" && this.files[0] != undefined) {
                    var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        ts.attr("src", objUrl); //将图片路径存入src中，显示出图片
                    }
                    uploadFile(url, fileId);
                }
            }
        });
    }

    //限制上传文件的类型和大小
    function validate_img2(idVal, file) {
        var ext = idVal.substring(idVal.lastIndexOf('.') + 1, idVal.length).toLowerCase();
        if (ext == 'jpg' || ext == 'jpeg' || ext == 'png' || ext == 'bmp' || ext == 'gif') {
            if (((file[0].size).toFixed(2)) <= (4 * 1024 * 1024)) {
                return true;
            } else {
                layer.msg("请上传小于4M的图片!");
                return false;
            }
        } else {
            layer.msg('图片类型必须是jpeg,jpg,png,bmp,gif中的一种!');
            return false;
        }
    }

    /*上传图片预览*/
    //建立一個可存取到該file的url
    function getObjectURL(file) {
        if (file != null && file != "" && file != undefined) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    }

    //上传文件
    function uploadFile(url, fileId) {
        var layuiLoding = layer.load(0, { //icon支持传入0-2
            time: false,
            shade: [0.5, '#9c9c9c'], //0.5透明度的灰色背景
            content: '文件上传中...',
            success: function (layero) {
                layero.find('.layui-layer-content').css({
                    'padding': '39px 10px',
                    'width': '100px'
                });
            }
        });
        $.ajaxFileUpload({
                url: '/system/upload/' + url, //用于文件上传的服务器端请求地址
                type: 'post',
                data: {
                    "folderName": $("#folderName").val()
                },
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: fileId, //文件上传域的ID
                dataType: "text/html",
                success: function (data, status) {
                    var pre = data.split(">")[1];
                    var aft = pre.split("<")[0];
                    var json = $.parseJSON(aft);
                    data = json.data;
                    if (url === "companyFile") {
                        $("#companyFile").val(data)
                    } else if (url === "clientFile") {
                        $("#clientFile").val(data)
                    }
                    layer.close(layuiLoding);
                    layer.msg("上传成功！", {icon: 1, time: 3000});
                },
                error: function (data, status, e) {
                    layer.msg("上传失败！", {icon: 2, time: 3000});
                }
            }
        );
        return false;
    }

    function sub() {
        layer.confirm("修改认证文件会导致商户重新审核，是否提交？", {
            btn: ["确定", "取消"] //按钮
        }, function () {
            AjaxPost("/threenets/updateOrderCertification/", {
                "parentOrderId": $("#parentOrderId").val(),
                "companyUrl": $("#companyFile").val() ,
                "clientUrl":$("#clientFile").val()
            }, function (result) {
                layer.closeAll('dialog');//关闭弹层
                layer.msg(result.msg + "!", {icon: result.code == 500 ? 2 : 1, time: 1000});
            })
        }, function () {
            layer.closeAll();//关闭弹层
        });
    }
</script>
</html>
