<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtxn.ringtone.project.threenets.kedas.kedapublic.mapper.KedaPublicMapper">

    <resultMap id="BaseResultMap" type="com.hrtxn.ringtone.project.threenets.kedas.kedapublic.domain.KedaPublicUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, openid, nickname, sex, province, city, country, headimgurl,create_time
    </sql>

    <!--根据openid获取用户信息-->
    <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tb_kedapublic_user
        where openid = #{openid,jdbcType=VARCHAR}
    </select>
    <!--添加用户信息-->
    <insert id="insert" parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedapublic.domain.KedaPublicUser" useGeneratedKeys="true" keyProperty="id">
        insert into tb_kedapublic_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null">
                openid,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="headimgurl != null">
                headimgurl,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_kedapublic_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedapublic.domain.KedaPublicUser">
        update tb_kedapublic_user
        <set>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                headimgurl = #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="privilege != null">
                privilege = #{privilege,jdbcType=VARCHAR},
            </if>
            <if test="unionid != null">
                unionid = #{unionid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedapublic.domain.KedaPublicUser">
    update tb_kedapublic_user
    set openid = #{openid,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      privilege = #{privilege,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>