<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>业务发展数据</title>
<head th:include="threenets/kedas/kedasites/common/include::head"></head>
<link rel="stylesheet" type="text/css" th:href="@{/client/threenets/css/number_list.css}">
<link rel="stylesheet" type="text/css" th:href="@{/client/threenets/css/style.css}">
<style>
    .layui-laydate .layui-this {
        background-color: #039 !important;
        color: #fff !important;
    }

    #loading {
        border: none;
        background: #17a9ff !important;
    }

    .lists li {
        cursor: pointer;
        color: black;
        line-height: 16px;
        opacity: 0.8;
        width: 80%;
        margin: 2px auto;
        padding: 5px 0;
        text-align: left;
        font-size: 12px;
    }

    .selecteds {
        padding-top: 0px;
        background-color: #99f;
    }
</style>
<body>
<!-- 头部 -->
<div th:include="threenets/kedas/kedasites/common/include::nav"></div>
<div class="layui-row" id="mcontent">
    <div class="layui-col-xs1 mconl">
        <div class="grid-demo grid-demo-bg1">
            <div id="page-aside" class="aside">
                <ul class="nav">
                    <li class="management">
                        <a class="banner" href="javascript:;">按时间统计</a>
                    </li>
                    <li id="apersonnel" class="selected">
                        <a th:href="@{/threenets/clcy/toBusiness/1}">按日统计</a>
                    </li>
                    <li id="ring">
                        <a th:href="@{/threenets/clcy/toBusiness/2}">按月统计</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-xs2 mconl">
        <div class="grid-demo">
            <div style="width: 99%; height: 1000px; border-left: solid #ddd 1px;border-right:solid #ddd 1px; overflow: auto; float: left;">
                <div class="title-bar btn-group">
                    <input type="text" name="enterprisename" id="enterprisename" placeholder="请输入代理商的名称" style="width:55%;margin:10px 5px;">
                    <input type="button" value="搜索" onclick="searchEnterprise();">
                </div>
                <ul class="lists">
                    <li class="lists_li" onclick="sel(this);">
                        <span style="display: none">0</span>
                        <span>全部汇总</span>
                    </li>
                    <li class="lists_li" onclick="sel(this)" th:each="user : ${userList}">
                        <span style="display: none" th:text="${user.id}"></span>
                        <span th:text="${user.userName}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-xs9 mconr">
        <div class="grid-demo">
            <div class="title-bar clearfix">
                <h1 class="pull-left">
                    <input type="hidden" value="" id="auserid">
                    日发展量分布：
                    <span class="DatePicker_Icon_Wrapper"
                          style="display: inline-block; position: relative; float: none; top: auto; right: auto; bottom: auto; left: auto;">
                            <input type="text" name="month" id="month" class="datepicker input-small" readonly="readonly" style="height: 24px;margin-top: 7px;text-align: center;">
                        </span>
                    <button type="button" id="loading" onclick="loading()" class="btn btn-primary">查询</button>
                </h1>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id='main' style='width:100%;height:400px;'></div>
                </div>
            </div>
            <div id="tlist">
                <p>详细列表</p>
                <table class="layui-table" id="set">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>日期</th>
                            <th>新增用户数(已包月)</th>
                            <th>退订用户数</th>
                            <th>累计用户数(已包月)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="threenets/kedas/kedasites/common/include::footer"></div>
<script type="text/javascript" th:src="@{/public/js/echarts.min.js}"></script>
<script th:src="@{/client/threenets/js/kedasites/dbusiness.js}"></script>
</html>
