<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<!--修改订单 -->
<div class="back display" id="editor" th:fragment="edit">
    <div class="pop_content">
        <div class="approve_title">
            <h3>更改业务</h3>
            <div class="gban" id="gbxg"><img src="../../client/telcertification/images/close.png"></div>
        </div>
        <div class="approvecon" style="padding-top:100px;">
            <div class="approvebk"><span><i>*</i>集团名称</span>
                <input type="text" placeholder="需跟营业执照名称一致">
            </div>
            <div class="approvebk"><span><i>*</i>联系人姓名</span>
                <input type="text">
            </div>
            <div class="approvebk"><span><i>*</i>联系人电话</span>
                <input type="tel">
            </div>
            <div class="approvebk"><span><i>*</i>认证展示内容</span>
                <input type="text" placeholder="请跟营业执照主体一致">
            </div>
            <div class="imgbk"><span><i>*</i>上传营业执照</span>
                <div class="tpscbk">
                    <div class="tpimgbka"><img class="tpimga" border="0" src="../../public/images/addimg.png" test="111" style="margin:0px auto;max-height:140px;"></div>
                    <input type="file" style="display: none;" name="file" class="tpdza" onclick="javascript:validate_img(this);">
                </div>
            </div>
            <div class="imgbk"><span><i>*</i>上传法人身份证正面</span>
                <div class="tpscbk">
                    <div class="tpimgbka"><img class="tpimga" border="0" src="../../public/images/addimg.png" test="111" style="margin:0px auto;max-height:140px;"></div>
                    <input type="file" style="display: none;" name="file" class="tpdza" onclick="javascript:validate_img(this);">
                </div>
            </div>
            <div class="imgbk"><span><i>*</i>上传法人身份证反面</span>
                <div class="tpscbk">
                    <div class="tpimgbka"><img class="tpimga" border="0" src="../../public/images/addimg.png" test="111" style="margin:0px auto;max-height:140px;"></div>
                    <input type="file" style="display: none;" name="file" class="tpdza" onclick="javascript:validate_img(this);">
                </div>
            </div>
            <div class="imgbk"><span><i>*</i>上传LOGO</span>
                <div class="tpscbk">
                    <div class="tpimgbka"><img class="tpimga" border="0" src="../../public/images/addimg.png" test="111" style="margin:0px auto;max-height:140px;"></div>
                    <input type="file" style="display: none;" name="file" class="tpdza" onclick="javascript:validate_img(this);">
                </div>
            </div>
            <div class="approvebk"><span><i>*</i>上传授权书</span>
                <input class="scwj" type="file" placeholder="选填">
            </div>
            <div class="ckalbk">
                <div class="ckan opencase">查看案例</div>
                <div class="mbxz"><a href="http://v.130.xyz/api/auth/uploadModel?type=3">授权书模板下载</a></div>
            </div>
            <div class="approvebk"><span><i>*</i>号码证明</span>
                <input class="scwj" type="file" placeholder="选填">
            </div>
            <div class="ckalbk">
                <div class="ckan opencase">查看案例</div>
                <div class="mbxz"><a href="http://v.130.xyz/api/auth/uploadModel?type=3">授权书模板下载</a></div>
            </div>
            <div class="bzbk"><span>备注</span>
                <textarea placeholder="请输入内容"></textarea>
            </div>
            <div class="approvebk"><span><i>*</i>订购协议</span>
                <div class="dgxy">
                    <input type="radio" checked="checked" >
                    <span>我同意此<i class="openagreement">订购协议</i></span></div>
            </div>
            <div class="xgan" onClick="determine()">确认修改</div>
        </div>
    </div>
</div>