#qrcode[data-v-6c6902fe] img {
    margin: 0 auto
}

.c-container[data-v-7c58087b] {
    position: relative;
    margin-bottom: 10px;
    padding: 20px 30px
}

.c-container .ewm[data-v-7c58087b] {
    position: absolute;
    right: -35px;
    top: 25px;
    width: 30px;
    cursor: pointer
}

.c-container .title[data-v-7c58087b] {
    font-weight: 700;
    margin-right: 12px;
    display: inline-block;
    margin-left: 20px
}

.c-container .search[data-v-7c58087b] {
    width: 450px
}

.c-container .search .el-button[data-v-7c58087b] {
    background: #3c74ff;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100px;
    height: 40px
}

.c-container .content[data-v-7c58087b] {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-row-gap: 20px;
    justify-items: center
}

.c-container .content .phone-item[data-v-7c58087b] {
    border: 1px solid #dadada;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    overflow: hidden;
    position: relative
}

.c-container .content .phone-item>.el-button[data-v-7c58087b] {
    -webkit-transition: all .3s;
    transition: all .3s;
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%
}

.c-container .content .phone-item:hover>.el-button[data-v-7c58087b] {
    bottom: 0
}

.c-container .content .phone-item .phone[data-v-7c58087b] {
    padding: 16px 0;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #e0e0e0;
    color: #4d4d4d
}

.c-container .content .phone-item .price[data-v-7c58087b] {
    color: #565656;
    padding: 2px 0
}

.c-container .content .phone-item .price>span[data-v-7c58087b]:first-child {
    color: #ff4a26
}

.c-container .content .phone-item .price>span[data-v-7c58087b]:last-child {
    color: #ff4a26;
    font-size: 22px;
    font-weight: 700
}

.c-container .content .phone-item .operator[data-v-7c58087b] {
    position: absolute;
    top: 5px;
    right: -15px;
    width: 60px;
    color: #f5f5f5;
    font-size: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.c-container .content .phone-item .on-sale[data-v-7c58087b] {
    position: absolute;
    left: 5px;
    top: 16px;
    background-color: #e91b59;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff7e5b), to(#e91b59));
    background-image: linear-gradient(90deg, #ff7e5b 0, #e91b59);
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 3px
}
