<div th:fragment="header">
    <div class="header">
        <div class="top">
            <div class="logo">
                <img th:src="@{/public/images/logo.png}">
                <span>企业的有声名片</span>
            </div>
            <div class="top_r">
                <span>欢迎！</span>
                <i>[[${session.username}]]</i>
                <a shiro:hasRole="admin" th:href="@{/admin/index}" th:target="_blank" class="admin">管理端</a>
                <a th:href="@{/loginout}" class="exit">退出登录</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="foot">
    <script type="text/javascript" th:src="@{/public/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/regular.js}"></script>
    <script type="text/javascript" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/system/center/js/center.js}"></script>
    <script type="text/javascript" th:src="@{/admin/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/regular.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/ajax.js}"></script>
</div>