*{
	margin: 0px;
	padding: 0px;	
	}a {
	color: #666;
	text-decoration: none;
}
i {
	font-style: normal;
}
body {
	font-size: 16px;
}


.zsy {
    margin: 0px;
    padding: 0px;
    clear: both;
    width: 100%;
    overflow: hidden;
    line-height: 0px;
    height: 0px;
}.bxs {
	display: none;
}
.dqxx {
	color: #0569FD;
}
