#form1{
    width:800px;
    margin:20px auto;
}
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #17a9ff;
}
.layui-form-radio * {
    font-size: 12px;
}
.layui-form-radio>i {
    font-size: 20px;
}
.noclick {
    pointer-events: none;
}

#floatingWindows>div {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 786px;
    height: 467px;
}

.fw-channelPrompt-con,
.fw-channelPrompt2-con {
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    margin: 28px 0;
}
.radio-newBlocPage-con4 {
    width: 460px;
    margin-top:0;
}
.dmoney{
    line-height:36px;
    width: 80px;
}
/**************************************************************/
.layui-layer-page .layui-layer-content {
    line-height: 57px;
    font-size: 14px;
}
.layui-input-block {
    text-align: right !important;
}
#newBlocPage {
    width: 650px;
    background: #ffffff;
    margin: 0 auto;
    padding-bottom: 45px;
}
[class^="newBlocPage-con"] {
    margin-right: 100px;
}
.newBlocPage-con2, .newBlocPage-con3, .newBlocPage-con4, .newBlocPage-con6, .newBlocPage-con8 {
    margin-top: 10px;
}
.layui-form-item {
    margin-bottom: 0;
}
.addBell .bellType {
    line-height: 54px;
    margin: 0;
}
.layui-form-select dl dd.layui-this {
    background-color: #17a9ff;
    color: #fff;
}