#Adds,#lower,#Alower {
    background: #EEEEEE;
    color: black;
}

.seled {
    background: #0074cc !important;
    color: white !important;
}
.layui-input-block {
    width: 300px;
    margin-left: 170px!important;
    min-height: 30px;
}
.layui-form-label {
    width: 140px!important;
}
.layui-upload button{
    position: absolute;
    width: 200px;
    height: 100px;
    opacity: 0;
}
.layui-btn {
    background-color: #17a9ff!important;
}
select {
    display: block !important;
    float: left;
    height: 38px;
    width: 300px;
    border-color: #e6e6e6; 
    text-align:center;
    text-align-last: center;
}
#two{
    margin-left: 20px;
}
.layui-form-item {
    margin-bottom: 10px;
}
.layui-form-label {
    padding: 5px 15px;
}
.layui-input, .layui-select, .layui-textarea {
    height: 30px;
}