*{
    margin: 0;
    padding: 0;
}
body{
	font-family: "微软雅黑";
	overflow-x: hidden;
}
img{border: 0;}
a{text-decoration: none;}
i{font-style: normal;}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
.clear{
    zoom:1;
}
#ie_prompt{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 10;
    display: none;
}
input{
    -moz-appearance:textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

