#navigation{
	float: right;
	height: 70px;
	text-align: center;
	/*color:#0965B8;*/
}
#Mobile,#unicom{
	text-align: center;
	cursor: pointer;
}
#tabs{padding-left: 70px;}
#tabs li{
	font-size: 16px;
}
.active{
	color: #0569FD !important;
    border-bottom: 2px solid #0569FD;
}
#ringMsisdn{
	width: 200px;
    height: 22px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear 0.2s, box-shadow linear 0.2s;
    padding: 4px;
    margin-bottom: 9px;
    line-height: 18px;
    border-radius: 5px;
}
#sear,#Addr,#update{
    margin-bottom: 8px;
    background-color: #17a9ff!important;
    background-repeat: repeat-x;
    border-color: #17a9ff!important;
    color: white;
    padding: 0 10px;
    line-height: 25px;
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
}
#Addr{float:right;}
.per{
	margin-top: 10px;
    border-bottom: 2px solid #ebedef;
    height: 30px;
    line-height: 30px;
}
.per .lt{
	padding-left: 20px;
    color: #c0009e;
}
.per .rg{
	text-align: right;
    padding-right: 20px;
    color: #0074cc;
    cursor: pointer;
}
table td,th{text-align: center!important;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
    width: 100% !important; 
}
#per{margin: 10px 0;}
