#navigation {float: right;height: 70px;text-align: center;}

#Mobile, #unicom {text-align: center;cursor: pointer;}

#tabs {padding-left: 70px;}

#tabs li {font-size: 16px;}

.active {color: #0569FD !important;border-bottom: 2px solid #0569FD;}

#ringMsisdn {width: 200px;height: 22px;font-size: 16px;background-color: #ffffff;border: 1px solid #cccccc;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);transition: border linear 0.2s, box-shadow linear 0.2s;padding: 4px;margin-bottom: 9px;line-height: 18px;border-radius: 5px;}

#phoneNum {width: 200px;height: 22px;font-size: 16px;background-color: #ffffff;border: 1px solid #cccccc;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);transition: border linear 0.2s, box-shadow linear 0.2s;padding: 4px;margin-bottom: 9px;line-height: 18px;border-radius: 5px;}

#sear, #Addr, #update {margin-bottom: 8px;background-color: #17a9ff !important;background-repeat: repeat-x;border-color: #17a9ff !important;color: white;padding: 0 10px;line-height: 25px;border-radius: 5px;margin-left: 10px;height: 30px;}
#searchPhone {margin-bottom: 4px;background-color: #17a9ff !important;background-repeat: repeat-x;border-color: #17a9ff !important;color: white;line-height: 25px;border-radius: 5px;height: 30px;}

#Addr {float: right;}

.per {margin-top: 10px;border-bottom: 2px solid #ebedef;height: 30px;line-height: 30px;}

.per .lt {padding-left: 20px;color: #c0009e;}

.per .rg {text-align: right;padding-right: 20px;color: #0074cc;cursor: pointer;}

table td, th {text-align: center !important;}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {color: #333;width: 100% !important;}

#per {margin: 10px 0;}

.toolbox_par{
    position:static;
    font-size: 14px;
    font-weight: 600;
}

.toolbox_chi{
    position:absolute;
    top:25px;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    z-index: 99;
}
.toolbox_chi>a{
    margin: 5px;
    color:#17a9ff;
}