<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtxn.ringtone.project.threenets.threenet.mapper.ThreenetsOrderMapper">

    <resultMap id="BaseResultMap" type="com.hrtxn.ringtone.project.threenets.threenet.domain.ThreenetsOrder">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="operator" property="operator" jdbcType="INTEGER"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="company_linkman" property="companyLinkman" jdbcType="VARCHAR"/>
        <result column="linkman_tel" property="linkmanTel" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="message" property="message" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, operator, company_name, company_linkman, linkman_tel,province, city, create_time, status, user_id, message,
        (SELECT COUNT(*) FROM tb_threenets_child_order WHERE parent_order_id = p.id) as childOrderQuantity,
        (SELECT COUNT(*) FROM tb_threenets_child_order WHERE parent_order_id = p.id AND is_monthly = 2) as childOrderQuantityByMonthly,
        (SELECT user_name FROM tb_user u WHERE u.id = p.user_id ) AS userName
    </sql>

    <sql id="parameters">
        <if test="param.userId != null and param.userId != ''">
            AND p.user_id = #{param.userId}
        </if>
        <if test="param.id != null and param.id != ''">
            AND p.id = #{param.id}
        </if>
        <if test="param.tel != null and param.tel !=''">
            AND p.linkman_tel like '%${param.tel}%'
        </if>
        <if test="param.name != null and param.name !=''">
            AND p.company_name like '%${param.name}%'
        </if>
    </sql>
    <!-- 查询三网商户列表信息 -->
    <select id="getAllorderList" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            tb_threenets_order p
        WHERE  1 = 1
        <include refid="parameters" />
        ORDER BY create_time DESC
        <if test="page.page != null and page.pagesize != null and page.pagesize !=''">
            LIMIT #{page.page},#{page.pagesize}
        </if>
    </select>
    <!-- 查询三网商户列表总数 -->
    <select id="getCount" resultType="int">
        select
            count(*)
        from
            tb_threenets_order p
        where 1 = 1
        <include refid="parameters" />
    </select>
    <!-- 查询名称是否重复-->
    <select id="isRepetitionByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from tb_threenets_order
        where company_name = #{name,jdbcType=VARCHAR}
    </select>
    <!-- 根据ID获取三网订单信息 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            tb_threenets_order p
        WHERE
            p.id = #{id,jdbcType=INTEGER}
    </select>
    <!-- 删除三网订单 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM
            tb_threenets_order
        WHERE
            id = #{id,jdbcType=INTEGER}
    </delete>
    <!-- 添加三网订单信息 -->
    <insert id="insertThreenetsOrder" parameterType="com.hrtxn.ringtone.project.threenets.threenet.domain.ThreenetsOrder" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_threenets_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="companyLinkman != null">
                company_linkman,
            </if>
            <if test="linkmanTel != null">
                linkman_tel,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyLinkman != null">
                #{companyLinkman,jdbcType=VARCHAR},
            </if>
            <if test="linkmanTel != null">
                #{linkmanTel,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!-- 修改三网订单信息-->
    <update id="updateByPrimaryKey" parameterType="ThreenetsOrder">
        update tb_threenets_order
        <set>
            <if test="operator != null">
                operator = #{operator,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyLinkman != null">
                company_linkman = #{companyLinkman,jdbcType=VARCHAR},
            </if>
            <if test="linkmanTel != null">
                linkman_tel = #{linkmanTel,jdbcType=VARCHAR},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType,jdbcType=INTEGER},
            </if>
            <if test="paymentPrice != null">
                payment_price = #{paymentPrice,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>



    <update id="updateMessageById" parameterType="java.lang.Integer">
        update tb_threenets_order
        <set>
            message = 1
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateMessageIsNotNullById" parameterType="java.lang.Integer">
        update tb_threenets_order
        <set>
            message = 2
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>