<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>添加号码</title>
    <link rel="stylesheet" th:href="@{/public/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/public/layui/css/modules/layer/default/layer.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/ThunderBase2.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/common.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/Addmerchants.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/enterpriseBell.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/MyPlus.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/Add.css}">
    <script type="text/javascript" th:src="@{/public/js/jquery.min.js}"></script>
    <style>
        .input_css1 {
            width: 200px;
            height: 30px;
            padding-left: 20px;
            box-sizing: content-box;
            float: right;
            border: 1px solid rgb(229, 229, 229);
            font-size: 16px;
            margin-right: 163px;
        }
    </style>
</head>
<body>
<form action="" name="Form" id="Form" method="post" class="layui-form">
    <input type="hidden" id="orderId" th:value="${orderId}">
    <div id="newBlocPage" style="padding-bottom: 20px;">
        <div class="newBlocPage-con4 clear">
            <div class="right-newBlocPage-con4">
                <div style="font-size: 12px; color: #333;line-height: 20px;text-align: left;">
                    温馨提示：</br>
                    1.若要添加多个号码，号码之间使用“换行符（回车）”分隔，单次最多支持20个用户。</br>
                    2.当输入框号码后面出现"#错误消息"，比如"#号码不正确"时，代表该行的号码格式错误，需要修改。修改完成后请注意去掉"#错误消息"的标识。
                </div>
            </div>
            <textarea onchange="verificationTels()" name="memberTels" id="memberTels" required lay-verify="required"></textarea>
        </div>
        <div id="protocolTelecom10Div">
            <div class="newBlocPage-con6 clear">
                <div class="file_css2">
                    <div class="show_input_file" id="showProtocolTelecom10"></div>
                    <div class="file_css_button queren10">电信10元协议证书</div>
                    <input type="file" class="input_file" id="protocolTelecom10File" name="protocolTelecom10File" required multiple="multiple" accept="image/*">
                    <input type="hidden" name="protocolTelecom10" id="protocolTelecom10" value="">
                </div>
                <h6><i style="color: red"></i>电信10元协议证书</h6>
            </div>
        </div>
        <div id="protocolTelecom20Div">
            <div class="newBlocPage-con6 clear">
                <div class="file_css2">
                    <div class="show_input_file" id="showProtocolTelecom20"></div>
                    <div class="file_css_button queren20">电信20元协议证书</div>
                    <input type="file" class="input_file" id="protocolTelecom20File" name="protocolTelecom20File" required multiple="multiple" accept="image/*">
                    <input type="hidden" name="protocolTelecom20" id="protocolTelecom20" value="">
                </div>
                <h6><i style="color: red"></i>电信20元协议证书</h6>
            </div>
        </div>
        <input type="hidden" id="folderName" name="folderName" th:value="${orderId}">
        <input type="hidden" id="tels" name="tels">
        <input type="hidden" id="telNum" name="telNum">
        <div id="tijiao" class="newBlocPage-button" onclick="subNew();">确定提交</div>
    </div>
</form>
</body>
<div th:include="threenets/kedas/kedasites/common/include::footer"></div>
<script th:src="@{/client/threenets/js/kedasites/addnumber.js}"></script>
<script>

    $(document).ready(function () {
        $("#protocolTelecom10Div").hide();
        $("#protocolTelecom20Div").hide();
    });
</script>
</html>
