<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>添加号码</title>
    <link rel="stylesheet" th:href="@{/public/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/public/layui/css/modules/layer/default/layer.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/ThunderBase2.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/common.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/Addmerchants.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/enterpriseBell.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/MyPlus.css}">
    <link rel="stylesheet" th:href="@{/client/threenets/css/Add.css}">
    <script type="text/javascript" th:src="@{/public/js/jquery.min.js}"></script>
    <style>
        .input_css1 {
            width: 200px;
            height: 30px;
            padding-left: 20px;
            box-sizing: content-box;
            float: right;
            border: 1px solid rgb(229, 229, 229);
            font-size: 16px;
            margin-right: 163px;
        }
    </style>
</head>
<body>
<form action="" name="Form" id="Form" method="post" class="layui-form">
    <input type="hidden" id="orderId" th:value="${orderId}">
    <div id="newBlocPage">
        <div class="newBlocPage-con1 clear">
            <input class="input_css1" type="text" name="apersonnelName" id="apersonnelName" maxlength="32"
                   autocomplete="off">
            <h6><i style="color: red">*</i>员工姓名</h6>
        </div>
        <div class="newBlocPage-con2 clear" style="position: relative;">
            <input class="input_css1" type="text" name="apersonnelPhone" id="apersonnelPhone" maxlength="32"
                   autocomplete="off">
            <h6><i style="color: red">*</i>员工号码</h6>
        </div>
        <div id="tijiao" class="newBlocPage-button" onclick="sub();">确定提交</div>
    </div>
</form>
</body>
<div th:include="threenets/kedas/kedasites/common/include::footer"></div>
<script th:src="@{/client/threenets/js/kedasites/addnumber.js}"></script>
</html>
