<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>商户列表-铃音管理</title>
<link rel="stylesheet" th:href="@{/client/threenets/css/number_list.css}">
<link rel="stylesheet" th:href="@{/client/threenets/css/ring.css}">
<head th:include="threenets/kedas/kedasites/common/include::head"></head>
<body>
<!-- 头部 -->
<div th:include="threenets/kedas/kedasites/common/include::nav"></div>
<div class="layui-row" id="mcontent">
    <div class="layui-col-xs1 mconl">
        <div class="grid-demo grid-demo-bg1">
            <div id="page-aside" class="aside">
                <ul class="nav">
                    <li class="management">
                        <a class="banner" href="javascript:;">商户管理</a>
                    </li>
                    <li id="apersonnel">
                        <a th:href="@{'/threenets/clcy/toNumberList/'+${id}+'/'+${name}}">号码管理</a>
                    </li>
                    <li id="ring" class="selected">
                        <a th:href="@{'/threenets/clcy/toRingList/'+${id}+'/'+${name}}">铃音管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-xs11 mconr">
        <div class="grid-demo">
            <div class="layui-row contant" style="width:95%;">
                <!-- 等待设置铃音 -->
                <div class="layui-col-md12" id="search">
                    <div class="title-bar clearfix">
                        <h1 class="pull-cnter">
                            您正在以 <span style="color: red;" id="name" th:text="${name}"></span> 的管理员身份进行操作。
                            <input type="hidden" id="orderId" th:value="${id}">
                        </h1>
                    </div>
                    <div style="padding:10px 0 0 10px;font-size:16px;">
                        操作：
                        <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="sears"
                                onclick="AddUser();" style='background-color: #17a9ff!important;'>上传铃音
                        </button>
                    </div>
                    <table class="layui-table" id="set" style="margin-left:10px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>铃音名称</th>
                                <th>审核状态</th>
                                <th>在线试听</th>
                                <th>创建时间</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="threenets/kedas/kedasites/common/include::footer"></div>
<script th:src="@{/client/threenets/js/kedasites/ring_list.js}"></script>
</html>
