<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>企业彩铃</title>
    <link rel="stylesheet" href="../../admin/css/font.css" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" href="../../admin/css/xadmin.css" th:href="@{/admin/css/xadmin.css}">
    <link rel="stylesheet" type="text/css" href="../../public/dataTables/jquery.dataTables.min.css" th:href="@{/admin/dataTables/jquery.dataTables.min.css}">
</head>

<div th:fragment="footer">
    <script src="public/js/jquery.min.js" th:src="@{/public/js/jquery.min.js}"></script>
    <script src="public/js/regular.js" th:src="@{/public/js/regular.js}"></script>
    <script type="text/javascript" src="../../admin/lib/layui/layui.js" charset="utf-8" th:src="@{/admin/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="../../admin/js/xadmin.js" th:src="@{/admin/js/xadmin.js}"></script>
    <!--<script data-cfasync="false" src="../../public/js/page.js" th:src="@{/admin/js/page.js}"></script>-->
    <script type="text/javascript" src="../../admin/dataTables/jquery.dataTables.min.js" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>
    <script data-cfasync="false" src="../../public/js/ajax.js" th:src="@{/public/js/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
    <script th:inline="javascript"> var ctx = [[@{/}]]; </script>
</div>