<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>企业彩铃</title>
    <link rel="stylesheet" type="text/css" href="../../static/system/error/css/404.css" th:href="@{/system/error/css/404.css}">
    <style>
        body {
            background-image: url("/system/error/images/404.jpg");
            background-repeat: no-repeat;
            background-position: right top;
        }
    </style>
</head>

<body>
<div class="wbk">
    <div class="logo"><img src="../../static/public/images/cllogo.jpg" th:src="@{/public/images/cllogo.jpg}"></div>
</div>
<div class="tswz">很抱歉，网页不翼而飞啦！</div>
</body>
</html>
