<!DOCTYPE>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>企业彩铃</title>
    <link rel="stylesheet" type="text/css" th:href="@{/public/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/system/home/css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/system/home/css/homehead.css}">
</head>

<body>
    <div th:include="system/common/include :: header"></div>
    <div class="menu">
        <div class="cdwbk">
            <a th:href="@{/system/index}" class="dqxx">首页</a>
            <a th:href="@{/system/toClinetNoticeListPage}">公告</a>
            <a th:href="@{/system/toCenterPage}">个人中心</a>
        </div>
    </div>
    <div class="wbk">
        <div class="nbk">
            <shiro:hasPermission name="1">
                <div class="xzbk">
                    <a href="/threenets/threeNetsTaskList" target="_blank">
                        <span>企业彩铃<br/>视频彩铃</span>
                        <i><img th:src="@{/system/home/images/home_qycl.png}"></i>
                    </a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="2">
                <div class="xzbk">
                    <a href="javascript:;" target="_blank" onclick="alert('请联系管理员开通对应权限！');">
                    <a href="/telcertify/toTelIndexPage" target="_blank">
                        <span>电话认证<br/>挂机短信彩印</span>
                        <i><img th:src="@{/system/home/images/home_dhrz.png}"></i>
                    </a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="3">
                <div class="xzbk">
                    <a href="javascript:;" target="_blank" onclick="alert('请联系管理员开通对应权限！');">
                        <span>400电话</span>
                        <i><img th:src="@{/system/home/images/home_400.png}"></i>
                    </a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="4">
                <div class="xzbk">
                    <a href="javascript:;" target="_blank" onclick="alert('请联系管理员开通对应权限！');">
                        <span>企业秀</span>
                        <i><img th:src="@{/system/home/images/home_qyx.png}"></i>
                    </a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="5">
                <div class="xzbk">
                    <a href="javascript:;" target="_blank" onclick="alert('请联系管理员开通对应权限！');">
                        <span>网站建设/万词霸屏<br/>快排优化</span>
                        <i><img th:src="@{/system/home/images/home_wzjs.png}"></i>
                    </a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="6">
                <div class="xzbk">
                    <a href="javascript:;" target="_blank" onclick="alert('请联系管理员开通对应权限！');">
                        <span>微信/百度/抖音<br/>小程序</span>
                        <i><img th:src="@{/system/home/images/home_xcx.png}"></i>
                    </a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="7">
            <div class="xzbk">
                <a href="javascript:;" target="_blank" onclick="alert('请联系管理员开通对应权限！');">
                    <span>铃音录制<br/>视频制作</span>
                    <i><img th:src="@{/system/home/images/home_lylz.png}"></i>
                </a>
            </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="8">
                <div class="xzbk">
                    <a href="javascript:;" target="_blank" onclick="alert('请联系管理员开通对应权限！');">
                        <span>流量卡/号卡</span>
                        <i><img th:src="@{/system/home/images/home_kh.png}"></i>
                    </a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="9">
                <div class="xzbk">
                    <a href="javascript:;" target="_blank" onclick="alert('请联系管理员开通对应权限！');">
<!--                    <a href="/toolboxs/toToolboxs" target="_blank">-->
                        <span>工具库</span>
                        <i><img th:src="@{/system/home/images/home_gjx.png}"></i>
                    </a>
                </div>
            </shiro:hasPermission>
        </div>
    </div>
</body>
</html>
