<!DOCTYPE>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>企业彩铃-登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/public/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/system/login/css/login.css}">
</head>

<body>
<div class="head"><img th:src="@{/system/login/images/top.png}"></div>
<div class="wbk">
    <div class="wbk_z">
        <div class="imgbk"><img th:src="@{/system/login/images/login_qycl.png}"></div>
        <div class="imgbk"><img th:src="@{/system/login/images/login_dhrz.png}"></div>
        <div class="imgbk"><img th:src="@{/system/login/images/login_400.png}"></div>
        <div class="imgbk"><img th:src="@{/system/login/images/login_qyx.png}"></div>
        <div class="imgbk"><img th:src="@{/system/login/images/login_wzjs.png}"></div>
        <div class="imgbk"><img th:src="@{/system/login/images/login_xcx.png}"></div>
        <div class="imgbk"><img th:src="@{/system/login/images/login_ly.png}"></div>
        <div class="imgbk"><img th:src="@{/system/login/images/login_llk.png}"></div>
        <div class="imgbk"><img th:src="@{/system/login/images/login_gjx.png}"></div>
    </div>
    <form class="login-form" th:action="@{/login}" th:method="post">
        <div class="wbk_y">
            <h3>企业联盟</h3>
            <div class="inputbk">
                <div class="icon"><img th:src="@{/system/login/images/zhangh.png}"></div>
                <input type="text" id="user_name" name="username" placeholder="请输入用户名">
            </div>
            <div class="inputbk">
                <div class="icon"><img th:src="@{/system/login/images/password.png}"></div>
                <input type="password" id="password" name="password" placeholder="请输入用户密码">
            </div>
            <div class="inputbk yzm">
                <div class="icon"><img th:src="@{/system/login/images/code.png}"></div>
                <input type="text" id="imageCode" name="captchaCode" class="txtVerification" placeholder="请验证码">
                <div class="yzy" onClick="captcha();" tampode>
                    <img class="yzmImage imgcode" th:src="@{/imageCode(type=char)}">
                </div>
            </div>
            <div class="dlan login">登 录</div>
            <div style="text-align: center;"><span th:text="${msg}" style="color: red;:none;"></span></div>
        </div>
    </form>
    <div class="zsy"></div>
</div>
</body>
<div th:include="admin/common/include :: footer"></div>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("body").keydown(function(event) {
            if (event.keyCode == "13") {//keyCode=13是回车键
                $(".login").click();
            }
        });
        // 点击执行登录
        $(".login").click(function () {
            check_login();
            return false;
        });
        $('.imgcode').click(function () {
            var url = ctx + "imageCode?type=char&s=" + Math.random();
            $(".imgcode").attr("src", url);
        });
    });
    // 检查用户名密码是否为空
    function check_login() {
        var name = $("#user_name").val();
        var pass = $("#password").val();
        if (!isNotEmpty(name)) {
            layer.msg('登录名不能为空!', {icon: 5, time: 1000});
            return;
        }
        if (!isNotEmpty(pass)) {
            layer.msg('密码不能为空!', {icon: 5, time: 1000});
            return;
        }
        $(".login-form").submit();
    }
</script>
</html>
