/* .layui-layer-title {
    color: #fff !important;
    background-color: #ff6637 !important;
}
.layui-layer-btn .layui-layer-btn0 {
    border-color: #FF6637 !important;
    background-color: #FF6637 !important;
}
*/
.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #ff6637 !important;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #ff6637 !important;
    background-color: #ff6637 !important;
}

/* 修改企业信息弹框 */
.modifyinfobz {
    display: none;
}

.modifyinfo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.modifyinfo>div {
    width: 540px;
    background: #fff;
}

.modifyinfo>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.modifyinfo>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 200px;
}

.modifyinfo>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.editinfo_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editinfo_div>div:nth-of-type(1) {

    margin-top: 40px;
}

.editinfo_div>div {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.editinfo_div>div input {
    width: 260px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #aaa;
}

.editinfo_div>div>p {
    width: 75px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-right: 20px;
    text-align: left;
}

.editinfo_div>button {
    width: 140px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: #ff6637;
    color: #FFF;
    display: block;
    text-align: center;
    border: none;
    margin: 50px auto 40px;
}

/* 修改密码 */
.modifypwdbz {
    display: none;
}

.modifypwd {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.modifypwd>div {
    width: 540px;
    background: #fff;
}

.modifypwd>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.modifypwd>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 227px;
}

.modifypwd>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.editpwd_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editpwd_div>div:nth-of-type(1) {
    margin-top: 40px;
}

.editpwd_div>div {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.editpwd_div>div input {
    width: 260px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #aaa;
}

.editpwd_div>div>p {
    width: 140px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-right: 20px;
    text-align: right;
}

.editpwd_div>div>div {
    display: flex;
    align-items: center;
}

.editpwd_div>div>div input {
    width: 140px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #aaa;
}

.editpwd_div>div>div button {
    width: 110px;
    margin-left: 10px;
    height: 32px;
    font: 400 16px/32px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.editpwd_div>button {
    width: 140px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: #ff6637;
    color: #FFF;
    display: block;
    text-align: center;
    border: none;
    margin: 50px auto 40px;
}

/* 小程序版本立即购买 */
.immediateOrderbz {
    display: none;
}

.immediateOrder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.immediateOrder>div {
    width: 540px;
    background: #fff;
}

.immediateOrder>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.immediateOrder>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 230px;
}

.immediateOrder>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.immediateOrder>div>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.immediateOrder>div>div:nth-of-type(2) h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font: 400 20px/20px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.immediateOrder>div>div:nth-of-type(2) p {
    font: 400 18px/18px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.Order_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.Order_div>div {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.Order_div>div input {
    width: 260px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #aaa;
}

.Order_div>div>p {
    width: 140px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-right: 20px;
    text-align: right;
}

.Order_div>div>p span {
    color: #ff6637;
    margin-right: 5px;
}

.Order_div>div textarea {
    resize: none;
    width: 260px;
    height: 72px;
    border: 1px solid #aaa;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font: 400 16px 'MicrosoftYaHei[Regular]';
    margin-bottom: 16px;
}

.Order_div>div button {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.Order_div>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #999;
    margin-top: 20px;
}

/* 修改企业信息 */
/* .modifyinfobz {
    display: none;
}

.modifyinfo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.modifyinfo>div {
    width: 540px;
    background: #fff;
}

.modifyinfo>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.modifyinfo>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 200px;
}

.modifyinfo>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.editinfo_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editinfo_div>div:nth-of-type(1) {

    margin-top: 40px;
}

.editinfo_div>div {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.editinfo_div>div input {
    width: 260px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #aaa;
}

.editinfo_div>div>p {
    width: 75px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-right: 20px;
    text-align: left;
}

.editinfo_div>button {
    width: 140px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: #ff6637;
    color: #FFF;
    display: block;
    text-align: center;
    border: none;
    margin: 50px auto 40px;
} */

/* 新增渠道 */
.addchannelbz {
    display: none;
}

.addchannel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.addchannel>div {
    width: 460px;
    background: #fff;
}

.addchannel>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.addchannel>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 200px;
}

.addchannel>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.add_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_div>div:nth-of-type(1) {
    margin-top: 30px;
}

.add_div>div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add_div>div input {
    width: 266px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #ddd;
}

.add_div>div>p {
    width: 114px;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin: 0;
    text-align: left;
    display: flex;
    align-items: center;
}

.add_div>div>p span {
    height: 34px;
    font: 400 24px/34px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
    margin-right: 5px;
}

.add_div>button {
    width: 114px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: #ff6637;
    color: #FFF;
    display: block;
    text-align: center;
    border: none;
    margin: 40px auto 30px;
}


.uploadidcard {
    position: relative;
}


.uploadidcard>div {
    display: flex;
    align-items: center;
}

.uploadidcard>div div:nth-of-type(1) {
    width: 114px;
    height: 34px;
    background: #ff6637;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
}

.uploadidcard>div div:nth-of-type(2) {
    width: 266px;
    height: 32px;
    font: 400 14px/32px 'MicrosoftYaHei [Regular]';
    border: 1px solid #ddd;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#burl {
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#idcardfile {
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.uploadidcard2 {
    position: relative;
}

.uploadidcard2>div {
    display: flex;
    align-items: center;
}

.uploadidcard2>div div:nth-of-type(1) {
    width: 114px;
    height: 34px;
    background: #ff6637;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;

}

.uploadidcard2>div div:nth-of-type(2) {
    width: 266px;
    height: 32px;
    font: 400 14px/32px 'MicrosoftYaHei [Regular]';
    border: 1px solid #ddd;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 渠道配置 */
.configurebz {
    display: none;
}

.configure {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.configure>div {
    width: 433px;
    background: #fff;
}

.configure>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}


.configure>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 162px;
}

.configure>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.configure2>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
    font-size: 20px;
    color: #333;
    flex-wrap: wrap;
    margin-top: 20px;

}

.configure2>div:nth-of-type(2) label {
    display: flex;
    align-items: center;
}

.configure2>div:nth-of-type(2) label input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
    display: block;
}

.configure2>button {
    width: 140px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: #ff6637;
    color: #FFF;
    display: block;
    text-align: center;
    border: none;
    margin: 40px auto 30px;
}

/* 续费 */
.renewbz {
    display: none;
}

.renew {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.renew>div {
    width: 540px;
    background: #fff;
}

.renew>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.renew>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 257px;
}

.renew>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.renew>div>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.renew>div>div:nth-of-type(2) h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font: 400 20px/20px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.renew>div>div:nth-of-type(2) p {
    font: 400 18px/18px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.renew_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.renew_div>div {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.renew_div>div:nth-of-type(1) {
    display: flex;
    align-items: flex-start;
}

.renew_div>div:nth-of-type(1)>div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap
}

.renew_div>div:nth-of-type(1)>div a {
    border: 1px solid #ff6637;
    height: 30px;
    padding: 0 20px;
    font: 400 16px/30px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    margin-left: 20px;
    margin-bottom: 20px;
}

.renew_div>div:nth-of-type(1)>p {
    width: 83px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    text-align: left;
    margin-left: 40px;
}

.renew_div>div:nth-of-type(2) {
    margin-top: 80px;
}

.renew_div>div button {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.renew_div>div a.qq {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.renew_div>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #999;
    margin-top: 20px;
}

/* 订单修改信息 */
.immediateOrderbz {
    display: none;
}

.immediateOrder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.immediateOrder>div {
    width: 540px;
    background: #fff;
}

.immediateOrder>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.immediateOrder>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 230px;
}

.immediateOrder>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.immediateOrder>div>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.immediateOrder>div>div:nth-of-type(2) h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font: 400 20px/20px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.immediateOrder>div>div:nth-of-type(2) p {
    font: 400 18px/18px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.Order_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.Order_div>div {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.Order_div>div input {
    width: 260px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #aaa;
}

.Order_div>div>p {
    width: 140px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-right: 20px;
    text-align: right;
}

.Order_div>div>p span {
    color: #ff6637;
    margin-right: 5px;
}

.Order_div>div textarea {
    resize: none;
    width: 260px;
    height: 72px;
    border: 1px solid #aaa;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font: 400 16px 'MicrosoftYaHei[Regular]';
    margin-bottom: 16px;
}

.Order_div>div button {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.Order_div>div a {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.Order_div>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #999;
    margin-top: 20px;
}

/* 订单修改信息 */
.orderchangeinfobz {
    display: none;
}

.orderchangeinfo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.orderchangeinfo>div {
    width: 540px;
    background: #fff;
}

.orderchangeinfo>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.orderchangeinfo>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 230px;
}

.orderchangeinfo>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.orderchange_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.orderchange_div>div {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.orderchange_div>div input {
    width: 260px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #aaa;
}

.orderchange_div>div>p {
    width: 140px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-right: 20px;
    text-align: right;
}

.orderchange_div>div>p span {
    color: #ff6637;
    margin-right: 5px;
}


.orderchange_div>div button {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.orderchange_div>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #999;
    margin-top: 20px;
}

/* 订单-代制作 */
.isDobz {
    display: none;
}

.isDo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.isDo>div {
    width: 540px;
    background: #fff;
}

.isDo>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.isDo>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 265px;
}

.isDo>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.isDo>div>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.isDo>div>div:nth-of-type(2) h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font: 700 18px/18px 'MicrosoftYaHei [Regular]';
    color: #333;
}

.isDo>div>div:nth-of-type(2) p {
    font: 700 20px/20px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.isDo_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.isDo_div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.isDo_div>div>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #333;
    display: flex;
    align-items: center;
}

.isDo_div>div>p span {
    color: #ff0000;
    font: 700 20px 'MicrosoftYaHei [Regular]';
    margin-right: 5px;
    margin-left: 10px;
}

.isDo_div>div button {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.isDo_div>div a.qq {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.isDo_div>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #999;
    margin-top: 20px;
}

/* 订单-申诉 */
.appealbz {
    display: none;
}

.appeal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.appeal>div {
    width: 500px;
    background: #fff;
}

.appeal>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appeal>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.appeal>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 230px;
}

.appeal>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.appeal>div>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.appeal>div>div:nth-of-type(2) h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font: 400 18px/18px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
}

.appeal>div>div:nth-of-type(2) div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.appeal>div>div:nth-of-type(2) div p {
    font: 400 14px/14px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    margin-left: 8px;
}

.appeal>div textarea {
    resize: none;
    width: 400px;
    height: 200px;
    border: 1px solid #aaa;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font: 400 16px 'MicrosoftYaHei[Regular]';
    margin-top: 30px;

}

.appeal>div>button {
    width: 160px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: #ff6637;
    color: #fff;
    display: block;
    text-align: center;
    border: none;
    margin: 30px auto;
}

/* 优惠券领取 */
.couponbz {
    display: none;
}

.coupon {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.coupon>div {
    width: 700px;
    min-height: 410px;
    border-radius: 20px;
    background: #fff;
}

.coupon>div>div:nth-of-type(1) {
    height: 60px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coupon>div>div:nth-of-type(1)>p {
    font: 400 36px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    text-indent: 280px;
}

.coupon>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.coupon>div>div:nth-of-type(2) {
    margin-top: 30px;
    margin-bottom: 22px;
    max-height: 421px;
    overflow: auto;
}

.couponlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.couponlist:last-of-type {
    border-bottom: none;
}

.couponlist>div {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.couponlist>div>div:nth-of-type(1) {
    position: relative;
    width: 76px;
    height: 76px;
    padding-left: 25px;
}

.couponlist>div>div:nth-of-type(1)>img {
    width: 76px;
    height: 76px;

}

.couponlist>div>div:nth-of-type(1)>p {
    padding-left: 25px;
    margin-top: 28px;
    position: absolute;
    /* bottom: 10px;
    left: 36px; */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #fff;
}

.couponlist>div>div:nth-of-type(2) {
    margin-left: 20px;
}

.couponlist>div>div:nth-of-type(2)>p {
    font: 400 16px/25px 'MicrosoftYaHei [Regular]';
    color: #333;
}

.couponlist>div>div:nth-of-type(2)div>h3 {
    font: 400 20px/30px 'MicrosoftYaHei [Regular]';
    color: #333;
}

.couponlist>button {
    width: 100px;
    border-radius: 5px;
    height: 42px;
    font: 400 18px/42px 'MicrosoftYaHei [Regular]';
    background: #ff6637;
    color: #fff;
    display: block;
    text-align: center;
    border: none;
    margin-right: 25px;
    /* margin: 30px auto; */
}

/* 收益详情 */
.profitz {
    display: none;
}

.profit {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.profit>div {
    width: 700px;
    min-height: 410px;
    border-radius: 20px;
    background: #fff;
}

.profit>div>div:nth-of-type(1) {
    height: 48px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profit>div>div:nth-of-type(1)>p {
    font: 400 25px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    text-indent: 280px;
}

.profit>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.profit>div>div:nth-of-type(2) {
    margin-top: 25px;
    margin-bottom: 15px;
    max-height: 280px;
    overflow: auto;
}

.profitTitle {
    display: flex;
    align-items: center;
    height: 50px;
    background: #f0f0f0;

}

.profitTitle p {
    font: 400 20px/50px 'MicrosoftYaHei [Regular]';
    color: #333;
    width: 233px;
    text-align: center;
}

.profitlist {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    height: 40px;
}

.profitlist>p {
    font: 400 16px/40px 'MicrosoftYaHei [Regular]';
    color: #333;
    width: 233px;
    text-align: center;
}

/* 公告 */
.noticebz {
    display: none;
}

.noti {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.noti>div {
    width: 700px;
    min-height: 410px;
    border-radius: 20px;
    background: #fff;
}

.noti>div>div:nth-of-type(1) {
    height: 60px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noti>div>div:nth-of-type(1)>p {
    font: 400 32px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    text-indent: 238px;
}

.noti>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.noti>div>div:nth-of-type(2) {
    margin-top: 30px;
    margin-bottom: 22px;
    max-height: 360px;
    overflow: auto;
}

.notilist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #ddd;
}

.notilist>div {
    display: flex;
    align-items: flex-start;

}

.notilist>div>div:nth-of-type(1) {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.notilist>div>div:nth-of-type(1) img {
    width: 100px;
}

.notilist>div>div:nth-of-type(2) {
    margin-left: 18px;
}

.notilist>div>div:nth-of-type(2)>h3 {
    font: 700 18px 'MicrosoftYaHei [Regular]';
    color: #333;
    display: flex;
    align-items: center;
}

.notilist>div>div:nth-of-type(2)>h3 img {
    width: 40px;
    height: 20px;
    margin-left: 15px;
}

.notilist>div>div:nth-of-type(2)>p {
    font: 400 17px/17px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    margin-top: 18px;
    width: 425px;
}

.notilist>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #999;
    margin-right: 20px;
}


/* 网通立即订购 */
.phoneOrderbz {
    display: none;
}

.phoneOrder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.phoneOrder>div {
    width: 480px;
    background: #fff;
}

.phoneOrder>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.phoneOrder>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 200px;
}

.phoneOrder>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.phoneOrder>div>div:nth-of-type(2) p {
    margin-top: 15px;
    font: 400 18px/32px 'MicrosoftYaHei [Regular]';
    color: #333;
    text-align: center;
}

.phoneOrder>div>div:nth-of-type(2) p:nth-of-type(2) {
    font: 400 16px/30px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
    text-align: center;
}

.netcombuy_div {
    margin-left: 35px;
    height: 540px;
    overflow-y: auto;
}

.netcombuy_div>div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.netcombuy_div>div:nth-of-type(1) {
    margin-top: 15px;
}

.netcombuy_div>div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.netcombuy_div>div:nth-of-type(5) {
    margin-left: 100px;
    color: #757575;
    margin-top: 5px;
    flex-direction: column;
}

.netcombuy_div>div:nth-of-type(5)>p {
    width: 90%;
    color: #757575;
}

.netcombuy_div>div:nth-of-type(5)>div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.netcombuy_div>div:nth-of-type(5)>div img {
    margin-left: 6px;
}

.netcombuy_div>div:nth-of-type(4) img {
    margin-left: 6px;
}

.netcombuy_div>div input {
    width: 266px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #ddd;
}

.netcombuy_div>div>p {
    width: 114px;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin: 0;
    text-align: left;
    display: flex;
    align-items: center;
}

.netcombuy_div>div textarea {
    width: 266px;
    resize: none;
    height: 80px;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font: 400 16px 'MicrosoftYaHei[Regular]';
}

.netcombuy_div>div>p span {
    height: 34px;
    font: 400 24px/34px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
    margin-right: 5px;
}

.netcombuy_div>div>a {
    width: 114px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
    margin-top: 20px;
    margin-left: 20px;
}

.netcombuy_div>p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font: 400 14px/14px 'MicrosoftYaHei [Regular]';
    color: #757575;
}

.uploadidcard {
    position: relative;
}


.uploadidcard>div {
    display: flex;
    align-items: center;
}

.uploadidcard>div div:nth-of-type(1) {
    width: 114px;
    height: 34px;
    background: #ff6637;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
}

.uploadidcard>div div:nth-of-type(2) {
    width: 266px;
    height: 32px;
    font: 400 14px/32px 'MicrosoftYaHei [Regular]';
    border: 1px solid #ddd;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#ringTone {
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#reverseidcardfile {
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#Agreementfile {
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
/* 网通-新增号码 */
.addmobilebz {
    display: none;
}

.addmobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.addmobile>div {
    width: 496px;
    background: #fff;
}

.addmobile>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.addmobile>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 200px;
}

.addmobile>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.netcomadd_div {
    margin-left: 15px;
    padding-right: 15px;
    max-height: 460px;
    overflow-y: auto;
}

.netcomadd_div>div:nth-of-type(1) {
    margin-top: 40px;
}

.netcomadd_div>div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.netcomadd_div>div:nth-of-type(2) {
    margin-left: 12px;
    color: #757575;
    margin-top: 5px;
    flex-direction: column;
}

.netcomadd_div>div:nth-of-type(2)>p {
    width: 90%;
    color: #757575;
}

.netcomadd_div>div:nth-of-type(2)>div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.netcomadd_div>div:nth-of-type(2)>div img {
    margin-left: 6px;
}

.netcomadd_div>div:nth-of-type(1) img {
    margin-left: 6px;
}

.netcomadd_div>div input {
    width: 266px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #ddd;
}

.netcomadd_div>div>p {
    width: 80px;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin: 0;
    text-align: left;
    display: flex;
    align-items: center;
}

.netcomadd_div>button {
    width: 114px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    color: #fff;
    display: block;
    background: #ff6637;
    border: 1px solid #ff6637;
    margin: 50px auto 30px;
}

/* 号码认证显示内容修改 */
.updateContentbz {
    display: none;
}


.updateContent {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.updateContent>div {
    width: 540px;
    background: #fff;
}

.updateContent>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.updateContent>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 180px;
}

.updateContent>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.updateContent>div>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.updateContent>div>div:nth-of-type(2) h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font: 700 18px/18px 'MicrosoftYaHei [Regular]';
    color: #333;
}

.updateContent>div>div:nth-of-type(2) p {
    font: 700 20px/20px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.updateContent_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.updateContent_div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.updateContent_div>div>textarea {
    width: 420px;
    resize: none;
    height: 100px;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font: 400 16px 'MicrosoftYaHei[Regular]';
}

.updateContent_div>div>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #333;
    display: flex;
    align-items: center;
}

.updateContent_div>div>p span {
    color: #ff0000;
    font: 700 20px 'MicrosoftYaHei [Regular]';
    margin-right: 5px;
    margin-left: 10px;
}

.updateContent_div>div button {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.updateContent_div>div a.qq {
    width: 140px;
    border-radius: 5px;
    margin-left: 30px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    background: transparent;
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
}

.updateContent_div>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #999;
    margin-top: 20px;
}

/* 号码查询立即订购 */
.numberOrderbz {
    display: none;
}

.numberOrder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.numberOrder>div {
    width: 480px;
    background: #fff;
}

.numberOrder>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.numberOrder>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 200px;
}

.numberOrder>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.numberOrder>div>div:nth-of-type(2) p {
    margin-top: 15px;
    font: 400 18px/32px 'MicrosoftYaHei [Regular]';
    color: #333;
    text-align: center;
}

.numberOrder>div>div:nth-of-type(2) p:nth-of-type(2) {
    font: 400 16px/30px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
    text-align: center;
}

.types {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.types>div {
    display: flex;
    align-items: center;
    width: 150px;
}

.types>div>div {
    width: 114px;
    height: 34px;
    background: #ff6637;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
}

.types>div>img {
    display: none;
}

.typeactive {
    background: #cd4f29 !important;
}

.numberbuy_div {
    margin-left: 35px;
    height: 540px;
    overflow-y: auto;
}

.numberbuy_div>div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberbuy_div>div:nth-of-type(1) {
    margin-top: 15px;
}

.numberbuy_div>div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.numberbuy_div>div:nth-of-type(6) {
    margin-left: 100px;
    color: #757575;
    margin-top: 5px;
    flex-direction: column;
}

.numberbuy_div>div:nth-of-type(6)>p {
    width: 90%;
    color: #757575;
}

.numberbuy_div>div:nth-of-type(6)>div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberbuy_div>div:nth-of-type(6)>div img {
    margin-left: 6px;
}

.numberbuy_div>div:nth-of-type(5) img {
    margin-left: 6px;
}

.numberbuy_div .exdownload {
    margin-left: 67px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.numberbuy_div>div a {
    font: 400 13px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    text-decoration: underline;
}

.numberbuy_div>div input {
    width: 266px;
    height: 32px;
    text-indent: 5px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    border: 1px solid #ddd;
}

.numberbuy_div>div>p {
    width: 114px;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin: 0;
    text-align: left;
    display: flex;
    align-items: center;
}

.numberbuy_div>div textarea {
    width: 266px;
    resize: none;
    height: 100px;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font: 400 16px 'MicrosoftYaHei[Regular]';
}

.numberbuy_div>div>p span {
    height: 34px;
    font: 400 24px/34px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
    margin-right: 5px;
}

.numberbuy_div>div>button {
    width: 114px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    display: block;
    text-align: center;
    border: 1px solid #ff6637;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.numberbuy_div>p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font: 400 14px/14px 'MicrosoftYaHei [Regular]';
    color: #757575;
}

.uploadimg {
    position: relative;
}


.uploadimg>div {
    display: flex;
    align-items: center;
}

.uploadimg>div div:nth-of-type(1) {
    width: 114px;
    height: 34px;
    background: #ff6637;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
}

.uploadimg>div div:nth-of-type(2) {
    width: 256px;
    height: 32px;
    font: 400 14px/32px 'MicrosoftYaHei [Regular]';
    color: #666;
    border: 1px solid #ddd;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

#showLogo {
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#acceptanceForm {
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.agreement>div {
    display: flex;
    align-items: center;
}

.agreement>div>input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.agreement>div>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-left: 5px;
}

.agreement>div>p a {
    font: 400 15px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    text-decoration: underline
}

.chanuploadimg {
    position: relative;
    margin-top: 20px;
}


.chanuploadimg>div {
    display: flex;
    align-items: center;
   
}

.chanuploadimg>div span {
    color: #ff0000;
    height: 34px;
    font: 400 24px/34px 'MicrosoftYaHei [Regular]';
}

.chanuploadimg>div div:nth-of-type(1) {
    width: 124px;
    height: 34px;
    background: #ff6637;
    font: 400 16px/34px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
}

.chanuploadimg>div div:nth-of-type(2) {
    width: 200px;
    height: 32px;
    font: 400 14px/32px 'MicrosoftYaHei [Regular]';
    color: #666;
    border: 1px solid #ddd;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

#yyzz{
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#frsfzzm{
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#frsfzfm{
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#sqs{
    width: 380px !important;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
/*号码认证-查看示例 */
.viewExamplesbz {
    display: none;
}

.viewExamples {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.viewExamples>div {
    width: 640px;
    background: #fff;
}

.viewExamples>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.viewExamples>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 265px;
}

.viewExamples>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.viewExamples>div>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.viewExamples>div>div:nth-of-type(2) img {
    width: 380px;
}

/* 号码认证-订购协议 */
.orderAgreementbz {
    display: none;
}

.orderAgreement {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.orderAgreement>div {
    width: 640px;
    background: #fff;
}

.orderAgreement>div>div:nth-of-type(1) {
    background: #ff6637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.orderAgreement>div>div:nth-of-type(1)>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 265px;
}

.orderAgreement>div>div:nth-of-type(1)>img {
    margin-right: 30px;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

.orderAgreement>div>div:nth-of-type(2) {
    background: #fff;
    height: 500px;
    overflow: auto;
    padding: 30px 20px;
}

/* 号码标记-付钱10元 */
.numberpaybz {
    display: none;
}

.numberpay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.3);
}

.numberpay>div {
    width: 480px;
    height: 240px;
    background: #f7f7f7;
    border-radius: 25px;
}

.numberpay>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.numberpay>div>div>p {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #333;
    text-indent: 215px;

}

.numberpay>div>div>img {
    margin-right: 5px;
    cursor: pointer;
}

.numberpay>div>p {
    font: 400 40px 'MicrosoftYaHei [Regular]';
    color: #000;
    text-align: center;
    padding: 30px 0;
}

.numberpay>div>button {
    width: 220px;
    border-radius: 5px;
    height: 40px;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    color: #fff;
    background: #ff3e41;
    display: block;
    text-align: center;
    border: 1px solid #ff3e41;
    margin: 20px auto;
    cursor: pointer;
}