@charset "utf-8";

.wbk {
	background-size: 100% 100%;
	padding-bottom: 50px;
	min-height: 100%;
}

.nbk {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
}
.nbk .yhxxbk {
	border: 1px solid #ddd;
	padding: 40px;
	margin-bottom: 40px;
}

.nbk .yhxxbk .bk_l {
	float: left;
	height: 300px;
	width: 300px;
	overflow: hidden;
	text-align: center;
}
.nbk .yhxxbk .bk_l img {
	height: 100%;
	min-width:100px;
}
.nbk .yhxxbk .bk_r {
	float: left;
	margin-left: 50px;
	width: 700px;
	font-family: "宋体";
}
.nbk .yhxxbk .bk_r .xgmm {
	height: 40px;
	line-height: 40px;
	width: 140px;
	text-align: center;
	color: #FFF;
	background-color: #0569FD;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
}
.nbk .yhxxbk .bk_r h3 {
	line-height: 40px;
	margin-bottom: 10px;
	font-size: 20px;
}
.nbk .yhxxbk .bk_r .yhxx {
	line-height: 40px;
	color: #666;
}
.nbk .zcmxbk {

}
.nbk .zcmxbk table {
	width: 100%;
	line-height: 30px;
	border-collapse: collapse;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	border-left-color: #ddd;
	margin: 0px;
	padding: 0px;
}
.nbk .zcmxbk table tr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
}

.nbk .zcmxbk table tr th {
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 50px;
	background-color: #EFEFEF;
}
.nbk .zcmxbk table tr td {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #666;
	font-family: "宋体";
}
.nbk .zcmxbk .bgname {
	line-height: 50px;
	height: 50px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0569FD;
}
.nbk .zcmxbk .bgname span  {
	display: block;
	float: left;
	width: 140px;
	text-align: center;
	cursor: pointer;
	line-height: 49px;
	height: 49px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #0569FD;
	border-right-color: #0569FD;
	border-left-color: #0569FD;
}
.nbk .zcmxbk .bgname .active {
	color: #FFF;
	background-color:#0569FD;
}
/*弹窗*/
.back {
	position: fixed;/*背景位置固定100%*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);/*rgba(红，绿，蓝，透明度)，0，0，0代表黑*/
	z-index: 99999;
}
.pop_content {
	width: 600px;/*宽度*/
	z-index: 1;/*距离顶部及居中*/
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	top: 20%;
	left: 30%;
	height: 450px;
	background-color: #fbfcff;
	font-size: 14px;
	border-radius:10px;
}
.pop_content .xgtitle {
	background-color: #f5f5f5;
	line-height: 50px;
	height: 50px;
	text-align: center;
}
.pop_content .xgtitle i {
	display: block;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 7px;
	right: 14px;
	cursor: pointer;
}
.pop_content .xgtitle i img  {
	height: 100%;
	width: 100%;
}
.pop_content .xgmmbk {
	padding-top: 40px;
}

.pop_content .xgmmbk .xgmm {
	line-height: 40px;
	height: 40px;
	margin-bottom: 20px;
}
.pop_content .xgmmbk .xgmm span {
	display: block;
	float: left;
	width: 160px;
	text-align: right;
	padding-right: 10px;
}
.pop_content .xgmmbk .xgmm input {
	display: block;
	float: left;
	width: 260px;
	height: 36px;
	margin-top: 1px;
	border: 1px solid #ddd;
	line-height: 36px;
	padding-right: 10px;
	padding-left: 10px;
}
.pop_content .xgmmbk .xgmm .yzmbk {
	cursor: pointer;
	display: block;
	float: left;
	line-height: 30px;
	margin-top: 5px;
	margin-left: 10px;
	color: #FFF;
	background-color: #0569FD;
	border-radius: 5px;
	width: 100px;
	height: 30px;
}
.pop_content .qdan {
	line-height: 40px;
	height: 40px;
	width: 140px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-color: #0569FD;
	color: #FFF;
	border-radius: 5px;
	margin-top: 40px;
	cursor: pointer;
}

.display {
	display: none;
}
