@charset "utf-8";
html{
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:100% 100%;	
	}


.nbk {
	width: 930px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 80px;
}
.nbk .xzbk {
	height: 250px;
	width: 190px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 50px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #FFF;
	border-radius: 10px;
}
.nbk .xzbk a {
	display: block;
	height: 100%;
	width: 100%;
}
.nbk .xzbk a span {
	line-height: 26px;
	color: #000;
	font-size: 18px;
	padding-top: 30px;
	display: block;
	margin-bottom: 25px;
	font-family: "宋体";
	min-height: 40px;
	padding-right: 15px;
	padding-left: 15px;
}


.nbk .xzbk a img {

}
.nbk .xzbk a i {
	display: block;
	width: 100%;
}
