#cover{
    position:absolute;left:0px;top:0px;
    background:rgba(0, 0, 0, 0.4);
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:100%;
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display:none;
    z-Index:999;
}
#ids{
    width: 650px;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    background-color:#fff;
    display:none;
    cursor:pointer;
    z-Index:9999;
}
#ids p{
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}
.ids_price{
    position: relative;
}
#guan{
    font-size: 25px;
    position: absolute;
    top: 21%;
    right: 7%;
}
.xing{
    color: #ff6637;
    padding-right: 5px;
    font-size: 16px;
}
.layui-form-label {width: 150px;}
.layui-input-block {
    margin-left: 130px;
}
.layui-input, .layui-textarea {width: 75%;}
.add_phone{
    position: absolute;
    top: 7px;
    right: 4%;
}
#allPrice{font-style: normal;}
.layui-upload-drag{margin-top: 20px;}
#sqsinput,#dnumber{
    width: 75%;
    height: 38px;
    border: 1px solid #e6e6e6;
    line-height: 38px;
    padding-left: 10px;
    color: #797676;
    position: absolute;
    top: 0;
    left: 50px;
}
.exdownload{
    margin-left: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.exdownload a{
    font: 400 13px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    text-decoration: underline;
}
.ids_price{
    position: fixed;
    top: 18%;
    left: auto;
    width: 650px;
    background: white;
    z-index: 999999999;
}
#orders{
    font: 400 15px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    text-decoration: underline;
    padding-left: 5px;
}
.imgs{
    position: absolute;
    width: 200px;
    height: 100px;
    opacity: 0;
}
.imgs_img{
    width: 200px;
    height: 100px;
}
.layui-layer-title {
    text-align: center;
    font-size: 20px;
    background: #ff6637;
    color: white;
}
#orders{cursor: pointer;}.new_businesses {
	cursor: pointer;
}
