<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>订单列表</title>
    <link href="../client/400/css/app.c972703d.css" rel="stylesheet">
    <link href="../client/400/css/chunk-1d18d900.8acebab1.css" rel="stylesheet">
    <link href="../client/400/css/chunk-vendors.753ee7da.css" rel="stylesheet">
    <link href="../client/400/css/chunk-175c044e.5fd6e6b9.css" rel="stylesheet">
    <link href="../client/400/css/chunk-29aab2f7.0fff83d4.css" rel="stylesheet">
    <link href="../client/400/css/chunk-537e6598.7396185f.css" rel="stylesheet">
</head>

<body style="background:white;">
    <div role="dialog" aria-modal="true" aria-label="订单号: 1165196029239365632" class="el-dialog medium-dialog" style="width: 1000px;margin:20px auto;">
        <div class="el-dialog__header"><span class="el-dialog__title">订单号: 1165196029239365632</span><button type="button" aria-label="Close" class="el-dialog__headerbtn">
        </button>
    </div>
        <div class="el-dialog__body">
            <div data-v-a828bc16="" class="container">
                <div data-v-a828bc16="" class="title">订单信息</div>
                <div data-v-a828bc16="" style="display: flex; padding: 12px 20px; height: 250px; overflow: auto; border-bottom: 1px solid rgb(238, 238, 238);">
                    <div data-v-a828bc16="" style="width: 360px; border-right: 1px solid rgb(242, 242, 242);">
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">订单号：</span> 1165196029239365632</div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">订单状态：</span>
                            <div data-v-a828bc16="" style="display: inline-block;">待补充信息 (请尽快补充资料完成订单)</div>
                        </div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">选购号码：</span> 4009998947</div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">价格：</span> 2500元</div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">运营商：</span> 电信</div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">充值年限：</span> 1年</div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">创建时间：</span> 2019-08-24 17:35:56</div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">开通时间：</span> --</div>
                    </div>
                    <div data-v-a828bc16="" style="padding: 0px 50px; line-height: 46px;">
                        <div data-v-a828bc16="" class="line-item"><span data-v-a828bc16="" class="time-line">2019-08-24 17:35:56</span><span data-v-a828bc16="">选号成功生成订单</span></div>
                    </div>
                </div>
                <div data-v-a828bc16="" class="wrap">
                    <div data-v-a828bc16="" class="title">基本信息
                    </div>
                    <div data-v-a828bc16="" class="base-info">
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">绑定号码: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">号码使用地: </span><span data-v-a828bc16="">河北省 唐山市</span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">公司名: </span><span data-v-a828bc16="">辉瑞天禧</span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">法人姓名: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">法人电话: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">法人身份证号码: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">公司地址: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">电子邮箱: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">经营许可证号: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">行业: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">经营范围: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">法人身份证地址: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">固定电话: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">开户银行: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">银行账户: </span><span data-v-a828bc16=""></span></div>
                    </div>
                </div>
                <div data-v-a828bc16="" class="wrap">
                    <div data-v-a828bc16="" class="title">附件资料</div>
                    <div data-v-a828bc16="" class="basicAttachment">
                        <div data-v-a828bc16="">
                            <div data-v-a828bc16="">营业执照</div>
                            <div data-v-a828bc16="" style="padding-right: 10px; display: inline-block;">
                                <div data-v-a828bc16="" type="button" class="el-button el-button--text">
                                    <a href="">下载</a>
                                </div>
                                <br data-v-a828bc16="">
                                <img data-v-a828bc16="" src="http://qycl-qd.oss-cn-shanghai.aliyuncs.com/phone400/2019/8/26/bafc8910c7d311e9bc0a8fff036b2996.jpeg" class="img-attachment" style="cursor: zoom-in;">
                            </div>
                        </div>
                        <div data-v-a828bc16="">
                            <div data-v-a828bc16="">受理单</div>
                            <div data-v-a828bc16="" style="padding-right: 10px; display: inline-block;">
                                <div data-v-a828bc16="" type="button" class="el-button el-button--text">
                                    <a href="">下载</a>
                                </div>
                                <br data-v-a828bc16="">
                                <img data-v-a828bc16="" src="http://qycl-qd.oss-cn-shanghai.aliyuncs.com/phone400/2019/8/26/bafc8910c7d311e9bc0a8fff036b2996.jpeg" class="img-attachment" style="cursor: zoom-in;">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-a828bc16="" class="wrap">
                    <div data-v-a828bc16="" class="title">套餐及合同</div>
                    <div data-v-a828bc16="" class="base-info">
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">套餐类型: </span><span data-v-a828bc16="">固定套餐</span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">套餐金额: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">套餐周期: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">扣费周期: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">费率: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">最低消费金额: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16=""><span data-v-a828bc16="" class="name">签订合同日期: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16="" style="width: 700px;"><span data-v-a828bc16="" class="name">备注信息: </span><span data-v-a828bc16=""></span></div>
                        <div data-v-a828bc16="" style="margin-bottom: 12px; width: 100%;">
                            <span data-v-a828bc16="" class="name">合同附件: </span>
                            <div data-v-a828bc16="">
                                <div data-v-a828bc16="" style="display: inline-block; padding-right: 10px;">
                                    <div data-v-a828bc16="" type="button" class="el-button el-button--text">
                                        <a href="">下载</a>
                                    </div>
                                    <br data-v-a828bc16="">
                                    <img data-v-a828bc16="" src="http://qycl-qd.oss-cn-shanghai.aliyuncs.com/phone400/2019/8/26/ccb19dd0c7d311e9ae33490da4a46d62.jpeg" width="100%" class="img-attachment" style="cursor: zoom-in;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="el-loading-mask" style="display: none;">
                    <div class="el-loading-spinner">
                        <svg viewBox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../client/400/js/jquery-3.2.0.min.js"></script>
<script src="../public/layui/layui.js"></script>
<script src="../client/400/lib/layui/layui.js"></script>
</html>
