<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtxn.ringtone.project.threenets.kedas.kedasites.mapper.KedaRingMapper">
    <resultMap id="BaseResultMap" type="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaRing">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="ring_name" property="ringName" jdbcType="VARCHAR"/>
        <result column="ring_status" property="ringStatus" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="opertate_id" property="opertateId" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="ring_num" property="ringNum" jdbcType="VARCHAR"/>
        <result column="ring_url" property="ringUrl" jdbcType="VARCHAR"/>
        <result column="ring_path" property="ringPath" jdbcType="VARCHAR"/>
        <result column="ring_content" property="ringContent" jdbcType="LONGVARCHAR"/>
        <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, ring_name, ring_status, create_time, opertate_id, order_id, ring_num, ring_url,
        ring_path,ring_content, remark
    </sql>
    <!--获取铃音列表-->
    <select id="getKedaRingList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from tb_keda_ring
        where 1 = 1
        <include refid="parameters"/>
        order by create_time desc
        <include refid="page"/>
    </select>
    <!-- 获取总数 -->
    <select id="getCount" resultType="java.lang.Integer"
            parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaChildOrder">
        SELECT COUNT(*) FROM tb_keda_ring
        WHERE 1=1
        <include refid="parameters"/>
    </select>
    <!--批量删除铃音-->
    <delete id="deletePlKedaRing" parameterType="int[]">
        delete from tb_keda_ring
        where id in
        <foreach collection="ids" item="id" index="no" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--刪除鈴音-->
    <delete id="deleteRing" parameterType="int">
         delete from tb_keda_ring where id = #{id}
    </delete>
    <!--添加铃音信息-->
    <insert id="isertKedaRingOrder"
            parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaRing">
        insert into tb_keda_ring
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ringName != null">
                ring_name,
            </if>
            <if test="ringStatus != null">
                ring_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="opertateId != null">
                opertate_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="ringNum != null">
                ring_num,
            </if>
            <if test="ringUrl != null">
                ring_url,
            </if>
            <if test="ringPath != null">
                ring_path,
            </if>
            <if test="ringContent != null">
                ring_content,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ringName != null">
                #{ringName,jdbcType=VARCHAR},
            </if>
            <if test="ringStatus != null">
                #{ringStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opertateId != null">
                #{opertateId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="ringNum != null">
                #{ringNum,jdbcType=VARCHAR},
            </if>
            <if test="ringUrl != null">
                #{ringUrl,jdbcType=VARCHAR},
            </if>
            <if test="ringPath != null">
                #{ringPath,jdbcType=VARCHAR},
            </if>
            <if test="ringContent != null">
                #{ringContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <!-- 修改鈴音信息 -->
    <update id="updateKedaRing" parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaRing">
        update tb_keda_ring
        <set>
            <if test="ringStatus != null">
                ring_status = #{ringStatus,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--条件-->
    <sql id="parameters">
        <if test="param != null and param.id != null">
            AND id = #{param.id}
        </if>
        <if test="param != null and param.orderId != null">
            AND order_id = #{param.orderId}
        </if>
        <if test="param != null and param.isMonthly != null">
            AND ring_status = #{param.isMonthly}
        </if>
        <if test="param != null and param.name != null and param.name != '' ">
            AND ring_name = #{param.name}
        </if>
    </sql>
    <!--分页-->
    <sql id="page">
        <if test="page != null and page.page != null and page.pagesize != null">
            LIMIT #{page.page},#{page.pagesize}
        </if>
    </sql>
</mapper>