<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtxn.ringtone.project.threenets.kedas.kedasites.mapper.KedaChildOrderMapper">
    <resultMap id="BaseResultMap" type="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaChildOrder">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="link_man" property="linkMan" jdbcType="VARCHAR"/>
        <result column="link_tel" property="linkTel" jdbcType="VARCHAR"/>
        <result column="operate" property="operate" jdbcType="INTEGER"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="operate_id" property="operateId" jdbcType="VARCHAR"/>
        <result column="employee_id" property="employeeId" jdbcType="BIGINT"/>
        <result column="ring_id" property="ringId" jdbcType="INTEGER"/>
        <result column="ring_name" property="ringName" jdbcType="VARCHAR"/>
        <result column="is_monthly" property="isMonthly" jdbcType="INTEGER"/>
        <result column="is_ringtone_user" property="isRingtoneUser" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, link_man, link_tel, operate, province, city, create_time, status,
        operate_id, employee_id, ring_id, ring_name, is_monthly, is_ringtone_user, user_id,remark,order_id
    </sql>
    <!-- 获取近5日信息-->
    <select id="getFiveData" resultType="com.hrtxn.ringtone.project.threenets.threenet.domain.PlotBarPhone">
        SELECT
            DATE_FORMAT(create_time, '%Y-%m-%d') AS dateTimes,
            COUNT(*) AS addUser
        FROM
            tb_keda_child_order
        WHERE
            user_id = #{id}
            AND is_monthly = 1
        GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d') DESC
        LIMIT 0,5;
    </select>
    <!-- 获取总数 -->
    <select id="getCount" resultType="java.lang.Integer" parameterType="com.hrtxn.ringtone.common.domain.BaseRequest">
        SELECT COUNT(*) FROM tb_keda_child_order
        WHERE 1=1
        <include refid="parameters"/>
    </select>
    <!--待办任务 等待铃音设置-->
    <select id="getKeDaChildOrderBacklogList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from tb_keda_child_order
        where 1 = 1
        <include refid="parameters"/>
        order by create_time desc
        <include refid="page"/>
    </select>
    <!--根据条件查询子订单已包月数据-->
    <select id="getIsMonthly" resultType="com.hrtxn.ringtone.project.threenets.threenet.domain.PlotBarPhone">
        SELECT
        <if test="type == 1">
            DATE_FORMAT(create_time, '%Y-%m-%d') AS dateTimes, COUNT(*) AS addUser
        </if>
        <if test="type == 2">
            DATE_FORMAT(create_time, '%Y-%m') AS dateTimes, COUNT(*) AS addUser
        </if>
        FROM
        tb_keda_child_order
        WHERE 1= 1
        AND is_monthly = 1
        <if test="param != null and param.userId != null">
            AND user_id = #{param.userId}
        </if>
        <if test="param != null and param.arrayById != null">
            AND user_id in
            <foreach collection="param.arrayById" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="param != null and param.month != null and param.month != '' ">
            <if test="type == 1">
                AND DATE_FORMAT(create_time, '%Y-%m') = #{param.month}
                GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d')
            </if>
            <if test="type == 2">
                AND DATE_FORMAT(create_time, '%Y') = #{param.month}
                GROUP BY DATE_FORMAT(create_time, '%Y-%m')
            </if>
        </if>
    </select>
    <!--根据条件查询子订单已退订数据-->
    <select id="getUnsubscribe" resultType="com.hrtxn.ringtone.project.threenets.threenet.domain.PlotBarPhone">
        SELECT
        <if test="type == 1">
            DATE_FORMAT(create_time, '%Y-%m-%d') AS dateTimes, COUNT(*) AS unsubscribeUser
        </if>
        <if test="type == 2">
            DATE_FORMAT(create_time, '%Y-%m') AS dateTimes, COUNT(*) AS unsubscribeUser
        </if>
        FROM
        tb_keda_child_order
        WHERE 1= 1
        AND is_monthly IN (2,3,5,6)
        <if test="param != null and param.userId != null">
            AND user_id = #{param.userId}
        </if>
        <if test="param != null and param.arrayById != null">
            AND user_id in
            <foreach collection="param.arrayById" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="param != null and param.month != null and param.month != '' ">
            <if test="type == 1">
                AND DATE_FORMAT(create_time, '%Y-%m') = #{param.month}
                GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d')
            </if>
            <if test="type == 2">
                AND DATE_FORMAT(create_time, '%Y') = #{param.month}
                GROUP BY DATE_FORMAT(create_time, '%Y-%m')
            </if>
        </if>
    </select>
    <!--根据条件获取业务发展总数-->
    <select id="getBussinessCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_keda_child_order
        WHERE 1=1
        AND is_monthly = 1
        <if test="param != null and param.userId != null">
            AND user_id = #{param.userId}
        </if>
        <if test="param != null and param.arrayById != null">
            AND user_id in
            <foreach collection="param.arrayById" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
    <!--添加子级订单-->
    <insert id="insertKedaChildOrder"
            parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaChildOrder"
            useGeneratedKeys="true" keyProperty="id">
        insert into tb_keda_child_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="linkMan != null">
                link_man,
            </if>
            <if test="linkTel != null">
                link_tel,
            </if>
            <if test="operate != null">
                operate,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="operateId != null">
                operate_id,
            </if>
            <if test="ringId != null">
                ring_id,
            </if>
            <if test="ringName != null">
                ring_name,
            </if>
            <if test="isMonthly != null">
                is_monthly,
            </if>
            <if test="isRingtoneUser != null">
                is_ringtone_user,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="linkMan != null">
                #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="linkTel != null">
                #{linkTel,jdbcType=VARCHAR},
            </if>
            <if test="operate != null">
                #{operate,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="operateId != null">
                #{operateId,jdbcType=VARCHAR},
            </if>
            <if test="ringId != null">
                #{ringId,jdbcType=INTEGER},
            </if>
            <if test="ringName != null">
                #{ringName,jdbcType=VARCHAR},
            </if>
            <if test="isMonthly != null">
                #{isMonthly,jdbcType=INTEGER},
            </if>
            <if test="isRingtoneUser != null">
                #{isRingtoneUser,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <!--批量删除子级订单-->
    <delete id="deletePlKedaChilOrder" parameterType="int[]">
        delete from tb_keda_child_order
        where id in
        <foreach collection="keDaChildOrderIds" item="keDaChildOrderId" index="no" open="(" separator="," close=")">
            #{keDaChildOrderId}
        </foreach>
    </delete>
    <!--单个删除子级订单-->
    <delete id="deleteKedaChilOrder" parameterType="int">
        DELETE FROM tb_keda_child_order WHERE id = #{id}
    </delete>
    <!--修改子级订单信息-->
    <update id="updatKedaChildOrder" parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaChildOrder">
        update tb_keda_child_order
        <set>
            <if test="linkMan != null">
                link_man = #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="linkTel != null">
                link_tel = #{linkTel,jdbcType=VARCHAR},
            </if>
            <if test="operate != null">
                operate = #{operate,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="operateId != null">
                operate_id = #{operateId,jdbcType=VARCHAR},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId,jdbcType=BIGINT},
            </if>
            <if test="ringId != null">
                ring_id = #{ringId,jdbcType=INTEGER},
            </if>
            <if test="ringName != null">
                ring_name = #{ringName,jdbcType=VARCHAR},
            </if>
            <if test="isMonthly != null">
                is_monthly = #{isMonthly,jdbcType=INTEGER},
            </if>
            <if test="isRingtoneUser != null">
                is_ringtone_user = #{isRingtoneUser,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--定时器任务-->
    <select id="selectKedaChildorder" parameterType="integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from tb_keda_child_order
        where 1 = 1
        <if test="type != null and type == 1">
            AND is_monthly IN (0,2,3,4)
        </if>
        <if test="type != null and type == 2">
            AND is_monthly = 1
        </if>
    </select>
    <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.hrtxn.ringtone.common.domain.BaseRequest">
        SELECT * FROM tb_keda_child_order
        WHERE 1=1
        <include refid="parameters"/>
    </select>
    <!--条件-->
    <sql id="parameters">
        <if test="param != null and param.id != null">
            AND id = #{param.id}
        </if>
        <if test="param != null and param.userId != null">
            AND user_id = #{param.userId}
        </if>
        <if test="param != null and param.orderId != null">
            AND order_id = #{param.orderId}
        </if>
        <if test="param != null and param.isMonthly != null">
            AND is_monthly = #{param.isMonthly}
        </if>
        <if test="param != null and param.timeType != null and param.timeType == 1">
            AND DATEDIFF(NOW(),create_time) &lt;= 1
        </if>
        <if test="param != null and param.timeType != null and param.timeType == 2">
            AND DATEDIFF(NOW(),create_time) &lt;= 7
        </if>
        <if test="param != null and param.timeType != null and param.timeType == 3">
            AND DATEDIFF(NOW(),create_time) &lt;= 15
        </if>
        <if test="param != null and param.timeType != null and param.timeType == 4">
            AND DATEDIFF(NOW(),create_time) &lt;= 30
        </if>
        <if test="param != null and param.tel != null and param.tel != ''">
            AND link_tel = #{param.tel}
        </if>
        <if test="param != null and param.linkMan != null and param.linkMan != ''">
            AND link_man = #{param.linkMan}
        </if>
        <if test="param != null and param.remark != null and param.remark != ''">
            AND remark like '%${param.remark}%'
        </if>
    </sql>
    <!--分页-->
    <sql id="page">
        <if test="page != null and page.page != null and page.pagesize != null">
            LIMIT #{page.page},#{page.pagesize}
        </if>
    </sql>
</mapper>