<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtxn.ringtone.project.threenets.kedas.kedasites.mapper.KedaOrderMapper">

    <resultMap id="BaseResultMap" type="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaOrder">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="link_man" property="linkMan" jdbcType="VARCHAR"/>
        <result column="link_tel" property="linkTel" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="cerate_time" property="cerateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="credit_file" jdbcType="VARCHAR" property="creditFile" />
        <result column="protocol_telecom_10" jdbcType="VARCHAR" property="protocolTelecom10" />
        <result column="protocol_telecom_20" jdbcType="VARCHAR" property="protocolTelecom20" />
        <result column="folder_name" jdbcType="VARCHAR" property="folderName" />
        <result column="keda_id" jdbcType="VARCHAR" property="kedaId" />
    </resultMap>

    <sql id="Base_Column_List">
        id, company_name, link_man, link_tel, province, city, cerate_time, status, user_id, credit_file, protocol_telecom_10, protocol_telecom_20, folder_name,keda_id,
        (SELECT COUNT(*) FROM tb_keda_child_order WHERE order_id = p.id) as childOrderQuantity,
        (SELECT COUNT(*) FROM tb_keda_child_order WHERE order_id = p.id AND is_monthly = 1) as childOrderQuantityByMonthly,
        (SELECT user_name FROM tb_user u WHERE u.id = p.user_id ) AS userName
    </sql>

    <!--获取父级订单列表-->
    <select id="getKeDaOrderList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        tb_keda_order p
        WHERE 1 = 1
        <include refid="parameters"/>
        ORDER BY cerate_time DESC
        <include refid="page"/>
    </select>
    <!-- 获取总数 -->
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tb_keda_order
        WHERE 1=1
        <include refid="parameters"/>
    </select>
    <!--修改父级订单信息-->
    <update id="updateKedaOrder" parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaOrder">
        update tb_keda_order
        <set>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="linkMan != null">
                link_man = #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="linkTel != null">
                link_tel = #{linkTel,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="cerateTime != null">
                cerate_time = #{cerateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="creditFile != null">
                credit_file = #{creditFile,jdbcType=VARCHAR},
            </if>
            <if test="protocolTelecom10 != null">
                protocol_telecom_10 = #{protocolTelecom10,jdbcType=VARCHAR},
            </if>
            <if test="protocolTelecom20 != null">
                protocol_telecom_20 = #{protocolTelecom20,jdbcType=VARCHAR},
            </if>
            <if test="folderName != null">
                folder_name = #{folderName,jdbcType=VARCHAR},
            </if>
            <if test="kedaId != null">
                keda_id = #{kedaId,jdbcType=VARCHAR},
            </if>
            <if test="kedaName != null">
                keda_name = #{kedaName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--添加父级订单-->
    <insert id="insertKedaOrder" parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaOrder" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_keda_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">
                company_name,
            </if>
            <if test="linkMan != null">
                link_man,
            </if>
            <if test="linkTel != null">
                link_tel,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="cerateTime != null">
                cerate_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="creditFile != null">
                credit_file,
            </if>
            <if test="protocolTelecom10 != null">
                protocol_telecom_10,
            </if>
            <if test="protocolTelecom20 != null">
                protocol_telecom_20,
            </if>
            <if test="folderName != null">
                folder_name,
            </if>
            <if test="kedaId != null">
                keda_id,
            </if>
            <if test="kedaName != null">
                keda_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="linkMan != null">
                #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="linkTel != null">
                #{linkTel,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="cerateTime != null">
                #{cerateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="creditFile != null">
                #{creditFile,jdbcType=VARCHAR},
            </if>
            <if test="protocolTelecom10 != null">
                #{protocolTelecom10,jdbcType=VARCHAR},
            </if>
            <if test="protocolTelecom20 != null">
                #{protocolTelecom20,jdbcType=VARCHAR},
            </if>
            <if test="folderName != null">
                #{folderName,jdbcType=VARCHAR},
            </if>
            <if test="kedaId != null">
                #{kedaId,jdbcType=VARCHAR},
            </if>
            <if test="kedaName != null">
                #{kedaName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--删除父级订单-->
    <delete id="deleteKedaOrder" parameterType="java.lang.Integer">
        delete from tb_keda_order
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <select id="getKedaOrder" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select * from tb_keda_order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!-- 按照条件查询，无分页 -->
    <select id="liseOrderNoPage" parameterType="com.hrtxn.ringtone.project.threenets.kedas.kedasites.domain.KedaOrder" resultMap="BaseResultMap">
        select * from tb_keda_order
        WHERE 1=1
        <if test="companyName != null">
           and  company_name = #{companyName,jdbcType=VARCHAR}
        </if>
        <if test="linkTel != null">
            and link_tel = #{linkTel,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and status = #{status,jdbcType=VARCHAR}
        </if>
    </select>
    <!--条件-->
    <sql id="parameters">
        <if test="param != null and param.userId != null">
            AND user_id = #{param.userId}
        </if>
        <if test="param != null and param.tel != null and param.tel != ''">
            AND (link_tel like '%${param.tel}%'
            or id in(select order_id from tb_keda_child_order where link_tel like '%${param.tel}%' GROUP BY order_id))
        </if>
        <if test="param != null and param.name != null and param.name != ''">
            AND company_name like CONCAT('%',#{param.name},'%')
        </if>
        <if test="param != null and param.companyName != null and param.companyName != ''">
            AND company_name = #{param.companyName}
        </if>
        <if test="param != null and param.linkMan != null and param.linkMan != ''">
            AND link_man = #{param.linkMan}
        </if>
    </sql>
    <!--分页-->
    <sql id="page">
        <if test="page != null and page.page != null and page.pagesize != null">
            LIMIT #{page.page},#{page.pagesize}
        </if>
    </sql>
</mapper>