<!DOCTYPE>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/public/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/public/layui/css/modules/layer/default/layer.css}">
    <link rel="stylesheet" th:href="@{/public/layui/css/modules/laydate/default/laydate.css}">
    <link rel="stylesheet" th:href="@{/public/css/commer.css}">
    <link rel="stylesheet" th:href="@{/client/telcertification/css/boxstyle.css}">
    <link rel="stylesheet" th:href="@{/client/telcertification/css/msgbox.css}">
    <link rel="stylesheet" th:href="@{/client/telcertification/css/webandwxxcx.css}">
    <link rel="stylesheet" th:href="@{/client/telcertification/css/orderform.css}">
    <link rel="stylesheet" th:href="@{/client/telcertification/css/order.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/client/telcertification/css/choose.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/client/telcertification/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/dataTables/jquery.dataTables.min.css}">
    <style>
        .rz_y .active {
            background-color: #0569FD !important;
            color: #fff !important;
        }

        .scwj {
            margin-top: 5px;
            line-height: 28px !important;
            height: 28px !important;
            padding-left: 2px !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            color: #fff !important;
            border: 1px solid #17a9ff !important;
            background-color: #17a9ff !important;
        }

        .new_businesses {
            width: 80px !important;
            margin-bottom: 0px !important;
            padding-left: 20px !important;
            height: 34px !important;
            line-height: 34px !important;
            background-color: #17a9ff !important;
        }
    </style>
</head>
<body>
<!--订购弹窗 -->
<!--<div th:replace="telcertification/common/charge :: charge"></div>-->
<form action="/telcertify/saveTelCerMerchant" name="Form" id="Form" method="post" class="layui-form">
<div class="back">
    <div class="pop_content" style="left: 0%;top:0%;">
        <div class="approve_title">
<!--            <h3>业务订购</h3>-->
            <h4>共需支付：<span id="yfje">80</span>元</h4>
<!--            <div class="gban" id="cancel"><img th:src="@{/client/telcertification/images/close.png}"></div>-->
        </div>
        <div class="rz_y">
            <div class="title" th:each="c:${configList}">
                <span th:text="${c.name}" th:if="${c.type}!=4">泰迪熊号码认证</span><i th:if="${c.type}!=4" th:text="'¥ ' + ${c.price} + '元/年'">¥ 80元/年</i>
                <span th:text="${c.name}" th:if="${c.type}==4">挂机短信</span><i th:if="${c.type}==4" th:text="'¥ ' + ${c.price} + '元/条'">¥ 0.1元/条</i>
            </div>
            <div class="ywxz">
                <div class="tswz">选择业务</div>
                <div class="choosebk">
                    <button id="taidix" class="btn-calculate active">泰迪熊</button>
                    <button id="dhb" class="btn-calculate">电话邦</button>
                    <button id="caiyin" class="btn-calculate">彩印</button>
                    <button id="gjdx" class="btn-calculate">挂机短信</button>
                </div>
                <div class="zsy"></div>
            </div>
            <div class="ywxz" id="tdxcon">
                <div class="tswz">泰迪熊有效期</div>
                <div class="choosebk year">
                    <button class="btn-calculate active" value="1">1年</button>
                    <button class="btn-calculate" value="2">2年</button>
                    <button class="btn-calculate" value="3">3年</button>
                    <button class="btn-calculate" value="4">4年</button>
                    <button class="btn-calculate" value="5">5年</button>
                </div>
                <div class="zsy"></div>
            </div>
            <div class="ywxz bxs" id="dhbcon">
                <div class="tswz">电话邦有效期</div>
                <div class="choosebk dhbyear">
                    <button class="btn-calculate active" value="1">1年</button>
                    <button class="btn-calculate" value="2">2年</button>
                    <button class="btn-calculate" value="3">3年</button>
                    <button class="btn-calculate" value="4">4年</button>
                    <button class="btn-calculate" value="5">5年</button>
                </div>
                <div class="zsy"></div>
            </div>
            <div class="ywxz bxs" id="cycon">
                <div class="tswz">彩印有效期</div>
                <div class="choosebk permanent">
                    <button class="btn-allocate btn-normal active">永久有效</button>
                </div>
                <div class="zsy"></div>
            </div>
            <div class="ywxz bxs" id="gjdxcon">
                <div class="gmdx">
                    <label>挂机短信</label>
                    <input id="dxsrk" value="" type="number" placeholder="请输入整百数,例：100" step="100" min="100">
                    <span>元<i id="dxnumber"> 0 </i>条</span></div>
                <div class="dxsx">
                    <div class="tswz">挂机短信上限</div>
                    <div class="choosebk note">
                        <button class="btn-calculate active">100条/月</button>
                        <button class="btn-calculate">200条/月</button>
                        <button class="btn-calculate">300条/月</button>
                        <button class="btn-calculate">500条/月</button>
                        <button class="btn-calculate">700条/月</button>
                    </div>
                    <div class="zsy"></div>
                </div>
            </div>
        </div>
        <div class="approvecon">
            <div class="approvebk"><span><i>*</i>集团名称</span>
                <input type="text" placeholder="需跟营业执照名称一致" name="companyName" id="companyName"
                       maxlength="32" autocomplete="off" onblur="verificationTelCerMerName()">
            </div>
            <div class="approvebk"><span><i>*</i>联系人姓名</span>
                <input type="text" name="companyLinkman" id="companyLinkman" maxlength="32" autocomplete="off">
            </div>
            <div class="approvebk"><span><i>*</i>联系人电话</span>
                <input type="tel" name="linkmanTel" id="linkmanTel" maxlength="11" autocomplete="off">
            </div>
            <div class="approvebk"><span><i>*</i>认证展示内容</span>
                <input type="text" placeholder="请跟营业执照主体一致">
            </div>
            <div class="phonenum">
                <div class="approvebk"><span><i>*</i>开通号码</span>
                    <input class="opennum" type="tel" id="member" placeholder="如果是座机号码务必加上区号">
                    <img th:src="@{/client/telcertification/images/addphone.png}" alt="" class="add_phone" onclick="addLandline();" width="25px">
                    <!--                    <em id="moreadd" onClick="addtel(this,$('#member').val());"><img-->
<!--                            th:src="@{/client/telcertification/images/addphone.png}"></em>-->
                </div>
                <div id="num"></div>
                <!--                &lt;!&ndash;<div class="approvebk">-->
                <!--                  <input type="tel" placeholder="如果是座机号码务必加上区号" style="margin-left:180px;">-->
                <!--                  <em onClick="remove(this)"><img th:src="@{/client/telcertification/images/del.png}"></em>-->
                <!--                </div> &ndash;&gt;-->
                <!--                <div class="zsy" id="before"></div>-->
                <!--            </div>-->
                <div class="imgbk"><span><i>*</i>上传营业执照</span>
                    <div class="tpscbk">
                        <div class="tpimgbka"><img class="tpimga" border="0" th:src="@{/public/images/addimg.png}"
                                                   test="111" style="margin:0px auto;max-height:140px;"></div>
                        <input type="file" style="display: none;" name="file" class="tpdza"
                               onclick="javascript:validate_img(this);">
                    </div>
                </div>
                <div class="imgbk"><span><i>*</i>上传法人身份证正面</span>
                    <div class="tpscbk">
                        <div class="tpimgbka"><img class="tpimga" border="0" th:src="@{/public/images/addimg.png}"
                                                   test="111" style="margin:0px auto;max-height:140px;"></div>
                        <input type="file" style="display: none;" name="file" class="tpdza"
                               onclick="javascript:validate_img(this);">
                    </div>
                </div>
                <div class="imgbk"><span><i>*</i>上传法人身份证反面</span>
                    <div class="tpscbk">
                        <div class="tpimgbka"><img class="tpimga" border="0" th:src="@{/public/images/addimg.png}"
                                                   test="111" style="margin:0px auto;max-height:140px;"></div>
                        <input type="file" style="display: none;" name="file" class="tpdza"
                               onclick="javascript:validate_img(this);">
                    </div>
                </div>
                <div class="imgbk"><span><i>*</i>上传LOGO</span>
                    <div class="tpscbk">
                        <div class="tpimgbka"><img class="tpimga" border="0" th:src="@{/public/images/addimg.png}"
                                                   test="111" style="margin:0px auto;max-height:140px;"></div>
                        <input type="file" style="display: none;" name="file" class="tpdza"
                               onclick="javascript:validate_img(this);">
                    </div>
                </div>
                <div class="approvebk"><span><i>*</i>上传授权书</span>
                    <input class="scwj" type="file" placeholder="选填">
                </div>
                <div class="ckalbk">
                    <div class="ckan opencase">查看案例</div>
                    <div class="mbxz"><a href="http://v.130.xyz/api/auth/uploadModel?type=3">授权书模板下载</a></div>
                </div>
                <div class="approvebk"><span><i>*</i>上传号码证明</span>
                    <input class="scwj" type="file" placeholder="选填">
                </div>
                <div class="ckalbk">
                    <div class="ckan opencase">查看案例</div>
                    <div class="mbxz"><a href="http://v.130.xyz/api/auth/uploadModel?type=2">号码证明模板下载</a></div>
                </div>
                <div class="bzbk"><span>备注</span>
                    <textarea placeholder="备注"></textarea>
                </div>
                <div class="approvebk"><span><i>*</i>订购协议</span>
                    <div class="dgxy">
                        <input type="radio" checked="checked">
                        <span>我同意此<i class="openagreement">订购协议</i></span></div>
                </div>
                <div class="xgan" onClick="determine()">确认添加</div>
                <!--            <div class="xgan" lay-submit lay-filter="addform">确认添加</div>-->
            </div>
        </div>
    </div>
</div>
<!--订购协议-->
<div th:replace="telcertification/common/agreement :: agreement"></div>
</form>

</body>
<script th:src="@{/public/js/jquery-2.1.4.min.js}"></script>
<!--<script th:src="@{/public/js/jquery-3.2.0.min.js}"></script>-->
<script th:src="@{/public/layui/layui.js}"></script>
<script th:src="@{/public/layui/lay/modules/laydate.js}"></script>
<script th:src="@{/public/layui/lay/modules/layer.js}"></script>
<script th:src="@{/public/js/regular.js}"></script>
<script type="text/javascript" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajax.js}"></script>
<script th:src="@{/client/telcertification/js/merchants.js}"></script>
<script th:src="@{/client/telcertification/js/charge.js}"></script>
<script>
    function verificationTelCerMerName() {
        if ($("#orderId").val()) {
            return;
        }
        var name = $("#companyName").val();
        if (name == '' || name == null) {
            layer.msg("集团名称不能为空！");
            return
        }
        // AjaxPost("/threenets/verificationName", {
        //     "companyName": name,
        // }, function (result) {
        //     if (result.code == 500) {
        //         layer.msg(result.msg);
        //         $("#companyName").focus();
        //     } else {
        //         $("#orderId").val(result.data);
        //         $("#parentOrderId").val(result.data);
        //         $("#ringName").val(name);
        //         $("#ringName,#ringFile,#ringContent").attr("disabled", false);
        //     }
        // })
    }

    //addPhoneNumList
    //添加号码
    function addLandline() {
        //所输入的号码集合
        var checkData = [];
        for (var i = 0; i < document.getElementsByClassName('numlists').length; i++) {
            if (document.getElementsByClassName('numlists')[i].value.length == 0) {
                layui.use('layer', function () {
                    layer.msg("新增号码不能为空！");
                });
                return;
            }
            if (document.getElementsByClassName('numlists')[i].value.length != 0) {
                checkData.push(document.getElementsByClassName('numlists')[i].value)
            }
        }
        $("#num").append(
            '<div class="layui-form-item" style="position: relative;">' +
                '<div class="layui-input-block" style="margin-left: 156px;">' +
                    '<input type="text" style="width:81%;" name="content" class="layui-input numlists" value="" placeholder="如果是座机号码务必加上区号" ' +
                        'autocomplete="off" onblur="checkNum(this)">' +
                '</div>' +
                '<img src="../../client/telcertification/images/del.png" alt="" class="add_phone" ' +
                    'onclick="delLandline(this);" width="28px">' +
            '</div>'
        );
    }
    //删除号码
    function delLandline(obj) {
        $(obj).parent().remove();
        checkNum(obj);
    }

    //号码添加按钮
    function addtel(obj,phone) {
        var phoneNum = phone;
        var err = 0;
        //判断座机格式的
        // var partten = /^(\d{3,4}\-)?\d{7,8}$/i;   //座机格式是 010-98909899
        var partten = /^0(([1-9]\d)|([3-9]\d{2}))\d{8}$/; //没有中间那段 -的 座机格式是 01098909899
        var zuoji = partten.test(phoneNum);
        //判断手机格式可以用
        // var re = /^1[35]\d{9}$/i;
        var re = /^1(3|4|5|6|7|8|9)\d{9}$/;
        var shouji = re.test(phoneNum);
        $(".opennum").each(function () {
            if (phoneNum == "") {
                alert("请输入开通号码！");
                err++;
                return;
            }
            if(!isTel(phoneNum)){
                alert("你输入的电话号码有误！")
                $(obj).focus();
                return;
            }
            // if (phoneNum != zuoji || phoneNum !=shouji) {
            //
            // }
        });
        if (err > 0) {
            return false;
        }
        //循环添加开通号码
        var str = '<div class="approvebk">' +
            '<input class="opennum" type="tel" placeholder="如果是座机号码务必加上区号" style="margin-left:180px;" ' +
            'onblur="jiSuan()">' +
            '<em onClick="removephone(this)">' +
            '<img th:src="@{/client/telcertification/images/del.png}"></em></div>';
        $("#before").before(str);
    }


    //移除号码
    function removephone(e) {
        $(e).parent().remove();
        var total = Number($("#yfje").html());
        var num = 0;
        $(".opennum").each(function () {
            if ($(this).val() != "") {
                num++;
            }
        });
        $("#yfje").html(price * num);
    };
</script>
</html>
