<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>号码认证订购</title>
    <link rel="stylesheet" th:href="@{/public/css/commer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/client/telcertification/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/client/telcertification/css/choose.css}">
    <style>
        .active {
            background-color: #ff6637 !important;
            color: #fff !important;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="top">
        <div class="logo"><img th:src="@{/client/telcertification/images/logo.png}"></div>
        <div class="top_r">
            <a href="notice.html" class="notice">公告</a>
        </div>
    </div>
    <div class="menu">
        <div class="cdwbk">
            <a href="index.html" class="home">首页</a>
            <a href="choose.html" class="dqxx">号码认证订购</a>
            <a href="merchants.html">订单列表</a>
            <a href="#">认证查询与取消</a>
        </div>
    </div>
</div>
<div class="ktzysx">
    <h3>开通注意事项</h3>
    <div class="ktcon">
        <p><span style="color: rgb(255, 0, 0); font-weight: bold;">风险提示：</span></p>
        <p><span style="color: rgb(255, 0, 0);">泰迪熊官方无终身版套餐，目前市面上存在的终身版质保2年其实做的就是泰迪熊官方2年套餐，然后赌到期后是否被其他品牌免费收录。直白来说，任何说质保几年的终身版，其实后台给你开通的就是几年套餐。</span>
        </p>
        <p>业务说明：</p>
        <p>1、官方渠道，开通需要资料</p>
        <p>提供营业执照拍照件。<span style="color: rgb(255, 0, 0); font-weight: bold;">个人可以用手持身份证正面拍照件代替</span></p>
        <p>提供法人身份证正反面拍照件 或者经办人身份证拍照件+授权书；</p>
        <p>
            2、关于开通：所有手机、座机、虚拟号码都可以开通，400电话暂时无法开通，座机填写格式为区号-号码，举例：0755-12345678。无需回复短信，平台显示订购成功后，将在2-3个工作日内覆盖下图机型，不同机型覆盖时间存在先后。</p>
        <p>3、展示文字须跟营业执照上关键词一致。建议8个字左右，8个字可在屏幕完整展示，如果超过，会展示前面文字，最长20字；</p>
        <p>4、如需展示地址，可在备注栏填写，字数控制在30字内，部分机型无法展示地址。<span style="color: rgb(255, 0, 0);">地址格式必须精确到XX路XX号，具体可先在百度或者高德地图中找到位置，然后复制过来，如位置提供过于模糊，平台会默认不展示；</span>
        </p>
        <p>5、使用途中可付费修改内容，在订单右侧操作中有修改内容按钮；如果客户中途不想使用，可以退订，但费用无法退回；号码提供错误，认证成功后，费用也无法退回。</p>
        <p>6、关于logo上传：<span style="color: rgb(255, 0, 0);">logo上传需要收费，</span><span style="color: rgb(255, 0, 0);">如需上传客户自己logo，请选择【泰迪熊+自定义logo】项，个人版不支持自定义logo。</span>logo上传服务因手机差异会存在部分机型无法展示，不接受因为机型不展示的理由退款；规格120*120，大小20kb，不能有白边，不能有切边，不能出现欢迎语。
        </p>
        <p style="text-align: center; "><img src="http://v.130.xyz/files/f80685a3-0bea-416a-a93d-b675523a90fa.jpg"
                                             style="width: 900px;"></p>
        <p>具体支持机型如下：</p>
        <p style="text-align: center; "><img src="http://v.130.xyz/files/2689b34a-6ec9-4cd8-9004-3da78101f3a5.jpg"
                                             style="width: 900px;"></p>
    </div>
</div>


</body>
<script th:src="@{/public/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/public/js/regular.js}"></script>

</html>
