<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/public/layui/css/layui.css}">
    <style>
        .ids{
            width: 500px;
            height: 600px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            overflow: auto;
        }
        .contents{
            width:90%;
            margin:0 auto;
            text-align: center;
            padding-bottom: 25px;
        }
        .contents p{padding: 5px 0;}
        .contents img{width:100%;}
    </style>
</head>
<body>
    <div class="ids">
        <div class="layui-form-item">
            <label class="layui-form-label">集团名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" readonly='' autocomplete="off" class="layui-input" th:value="${telCerOrder.telCompanyName}" style="width: 95%;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly th:value="${telCerOrder.telLinkName}" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 95%;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly th:value="${telCerOrder.telLinkPhone}" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 95%;">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">展示机型</label>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="text" name="title" readonly value="产品名称" required lay-verify="required" autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">成员数</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly th:value="${telCerOrder.memberNum}" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 95%;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly th:value="${telCerOrder.statusName}" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 95%;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总价(元)</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly th:value="${telCerOrder.unitPrice}" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 95%;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly th:value="${#dates.format(telCerOrder.telOrderTime,'yyyy-MM-dd HH:mm:ss')}" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 95%;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="title" readonly th:value="${telCerOrder.remark}" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 95%;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">购买的产品</label>
            <div class="layui-input-block">

<!--                <input type="text" name="title" readonly th:value="${service}" required lay-verify="required" autocomplete="off" class="layui-input" style="width: 95%;">-->
                <tr th:each="s:${service}">
                    <td th:text="${s.name} + ','"></td>
                    <td th:text="${s.periodOfValidity} + ','"></td>
                    <td th:text="${s.cost} + '元'"></td><br/>
                </tr>
            </div>
        </div>

        <div class="contents">
            <p>aaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaa</p>
            <p><img src="../../client/telcertification/images/6286f08c-d5b4-47c5-a04c-3f28cc3fd338.jpg" alt=""></p>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
       showDetails();
    });

</script>
</html>
