<!DOCTYPE>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="telcertification/common/include :: linkcss"></head>
<head>
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
    <!--    <meta charset="utf-8"/>-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>商户管理</title>
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

</head>

<body>
<div th:include="telcertification/common/include :: header"></div>
<!--<div class="header">-->
<!--    <div class="top">-->
<!--        <div class="logo"><img th:src="@{/client/telcertification/images/logo.png}"></div>-->
<!--        <div class="top_r">-->
<!--            <span style="float: left">欢迎！</span>-->
<!--            <i>[[${session.username}]]</i>-->
<!--            <a href="/telcertify/toTelNoticePage" class="notice">公告</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="menu">-->
<!--        <div class="cdwbk">-->
<!--            <a href="/telcertify/toTelIndexPage" class="home">首页</a>-->
<!--            <a href="/telcertify/toTelChoosePage">号码认证订购</a>-->
<!--            <a href="/telcertify/toTelMerchantsPage" class="dqxx">订单列表</a>-->
<!--            <a href="#">认证查询与取消</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div id="allOrder">
    <div class="order_middle">
        <!-- 即将到期号码 -->
        <div class="net_middle" style="display:block">
            <div class="net_bottom">
                <div class="search">
                    <div>
                        <p>号码:</p>
                        <input type="text" id="number">
                    </div>
                    <button onclick="showFallDueTable()"
                            style="background:#17a9ff;border:none;color:#fff; border-radius:5px;">
                        搜索
                    </button>
                </div>
                <div class="numberdf_list">
                    <table class="layui-table" id="fall_due_table" style="width:1200px!important;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>成员号码</th>
                            <th>订购年份</th>
                            <th>价格(元)</th>
                            <th>业务状态</th>
                            <th>业务反馈</th>
                            <th>提交时间</th>
                            <th>到期时间</th>
                            <!--                            <th>备注</th>-->
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="page"></div>
    </div>
    <div class="zsy"></div>
</div>

<!--查看示例-->
<div class="back display" id="case">
    <div class="pop_content">
        <div class="approve_title">
            <h5>查看示例</h5>
            <div class="gban" id="closecase"><img th:src="@{/client/telcertification/images/close.png}"></div>
        </div>
        <div class="casecon"><img th:src="@{/client/telcertification/images/sqs.jpg}"></div>
    </div>
</div>
<!--订购协议-->
<div th:replace="telcertification/common/agreement :: agreement"></div>
</body>
<script th:src="@{/public/js/jquery-2.1.4.min.js}"></script>
<!--<script th:src="@{/public/js/jquery-3.2.0.min.js}"></script>-->
<script th:src="@{/public/layui/layui.js}"></script>
<script th:src="@{/public/layui/lay/modules/laydate.js}"></script>
<script th:src="@{/public/layui/lay/modules/layer.js}"></script>
<script th:src="@{/public/js/regular.js}"></script>
<script type="text/javascript" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajax.js}"></script>
<!--<script th:src="@{/client/telcertification/js/merchants.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/public/js/ajaxfileupload.js}"></script>-->
<script>
    $(".index3").addClass("active");
    $(document).ready(function () {
        showFallDueTable();
    });
    function showFallDueTable() {
        var param = {
            "phoneNum": $("#number").val().trim()
        }
        var columns = [
            {"data": null},
            {"data": "telChildOrderPhone"},
            {"data": "years"},
            {"data": "price"},
            {"data": "statusName"},
            {"data": "businessFeedback"},
            {"data": "telChildOrderCtime"},
            {"data": "telChildOrderExpireTime"}
        ];
        var columnDefs = [{
            targets: [5],
            render: function (data, type, row, meta) {
                if (data != null && data != "") {
                    return data;
                } else {
                    return "<div>暂无<div/>";
                }
            }
        },{
            targets:[8],
            render: function (data, type, row, meta) {
                var phoneNumber = row.telChildOrderPhone;
                var id = row.id;
                return "<p><i class='layui-icon layui-icon-log' title='查看详情' onclick='ckeckDetailsOne("+id+");'></i></p>";
            }
        }];
        if(param.phoneNum != "" && param.phoneNum != null){
            if(!isTel(param.phoneNum)){
                if(!isPhone(param.phoneNum)){
                    if(!is_Phone(param.phoneNum)){
                        layer.msg("请输入正确的成员手机号码！",{icon: 0, time: 3000});
                        return;
                    }
                }
            }
        }
        page("#fall_due_table", 10, param, "/telcertify/getFallDueList", columns, columnDefs);
    }
</script>
</html>
