<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../../public/css/common.css">
<link rel="stylesheet" type="text/css" href="../../client/telcertification/css/header.css">
</head>

<body>
<div class="header">
  <div class="top">
    <div class="logo"><img src="../../client/telcertification/images/logo.png"></div>
    <div class="top_r">
      <a href="notice.html" class="notice">公告</a>
    </div>
  </div>
  <div class="menu">
    <div class="cdwbk">
      <a href="index.html" class="home">首页</a>
      <a href="choose.html">号码认证订购</a>
      <a href="merchants.html">订单列表</a>
      <a href="#">认证查询与取消</a>
    </div>
  </div>
</div>
</body>
</html>
