<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../public/layui/css/layui.css">
    <link rel="stylesheet" href="../../public/layui/css/modules/layer/default/layer.css">
    <link rel="stylesheet" href="../../public/css/commer.css" />
    <link rel="stylesheet" href="../../client/telcertification/css/boxstyle.css">
    <link rel="stylesheet" href="../../client/telcertification/css/msgbox.css">
    <link rel="stylesheet" href="../../client/telcertification/css/webandwxxcx.css">
    <link rel="stylesheet" href="../../client/telcertification/css/orderform.css">
    <link rel="stylesheet" href="../../client/telcertification/css/order.css">
    <link rel="stylesheet" type="text/css" href="../../client/telcertification/css/header.css">
    <style>
        .layui-layer-title {
            font-size: 1.2rem !important;
            letter-spacing: 4px !important;
        }
        .layui-form-label {
            width: 125px!important;
        }
        .number_search{
            width: 1200px;
            margin: 20px auto;
        }
        .new_busi {
            border-radius: 5px;
            width: 100px !important;
            height: 38px;
            font: 400 16px/38px 'MicrosoftYaHei [Regular]';
            color: #fff;
            background: #ff6637;
            border: none;
            text-align: center;
            float: right;
            display: block !important;
        }
        #example_filter{margin:0 auto;background: white;}
    </style>
</head>

<body>
<div class="header">
  <div class="top">
    <div class="logo"><img src="../../client/telcertification/images/logo.png"></div>
    <div class="top_r">
        <a href="/telcertify/toTelNoticePage" class="notice">公告</a>
    </div>
  </div>
  <div class="menu">
    <div class="cdwbk">
        <a href="/telcertify/toTelIndexPage" class="home">首页</a>
        <a href="/telcertify/toTelChoosePage">号码认证订购</a>
        <a href="/telcertify/toTelMerchantsPage" class="dqxx">订单列表</a>
        <a href="#">认证查询与取消</a>
    </div>
  </div>
</div>
    <div id="allOrder" style="margin-top: 30px;">
        <div class="order_middle">
            <!-- 我的订单 -->
            <div class="myorder">
                <div class="number_search">
                    <div class="new_busi" onclick="Edits();">添加号码</div>
                </div>
                <div class="number_list">
                    <input type="hidden" id="id" th:value="${memberId}">
                    <table class="layui-table" id="members" style="width:1200px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>成员号码</th>
                                <th>订购年份</th>
                                <th>价格(元)</th>
                                <th>业务状态</th>
                                <th>业务反馈</th>
                                <th>提交时间</th>
                                <th>开通时间</th>
                                <th>到期时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
<!--                        <tbody>-->
<!--                            <tr th:each="telcerchild : ${telcerChildOrder}">-->
<!--                                <td th:text="${telcerchild.telChildOrderNum}">123</td>-->
<!--                                <td th:text="${telcerchild.years}">3年</td>-->
<!--                                <td th:text="${telcerchild.price}">200.00</td>-->
<!--                                <td th:text="${telcerchild.telChildOrderStatus}">1</td>-->
<!--                                <td th:text="${telcerchild.businessFeedback}">反馈</td>-->
<!--                                <td th:text="${telcerchild.telChildOrderCtime}">2016-11-29 02:12:36</td>-->
<!--                                <td th:text="${telcerchild.telChildOrderOpenTime}">2016-11-29 02:12:36</td>-->
<!--                                <td th:text="${telcerchild.telChildOrderExpireTime}">2016-11-29 02:12:36</td>-->
<!--                                <td class="icons">-->
<!--                                    <a href="javascript:;"><i class="layui-icon layui-icon-rmb" title="续费" onclick="Renewal()"></i></a>-->
<!--                                    <a href="cost.html"><i class="layui-icon layui-icon-form" title="费用支出记录"></i></a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </tbody>-->
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加号码 -->
    <div id="cover"></div>
    <div id="ids" style="width:500px;height:500px;">
        <div class="ids_price" style="width:500px;background: #e4e2e3;">
            <i class="layui-icon layui-icon-close" id="guan" onclick="closePanel();"></i>
            <p>新增号码</p>
        </div>
        <div>
            <div class="layui-form-item"  style="position: relative;margin-top:30px;">
                <label class="layui-form-label">新增号码</label>
                <div class="layui-input-block">
                    <input type="text" name="content" class="layui-input numlists" value="" placeholder="如果是座机号码务必加上区号" autocomplete="off" onblur="checkNum(this)">
                </div>
                <img src="../../client/telcertification/images/addphone.png" alt="" class="add_phone" onclick="addLandline();" width="25px">
            </div>
            <div id="num"></div>
            <div class="layui-form-item">
                <label class="layui-form-label">总费用</label>
                <div class="layui-input-block" style='color: rgb(180, 0, 1);'>
                    <span style="font: 400 16px/34px &quot;MicrosoftYaHei [Regular]&quot;; color: rgb(51, 51, 51);"  id="allPrice">0</span>
                    <span style="font: 400 16px/34px &quot;MicrosoftYaHei [Regular]&quot;; color: rgb(51, 51, 51);">元</span>
                    (号码新增费用<span>80</span>/个，请确保号码正确)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司名称</label>
                <div class="layui-input-block" style="line-height: 36px;">池州市贵池区缘份驿站婚恋交友服务中心</div>
            </div>
            <div>
                <button type="button" class="subs">提交</button>
            </div>
        </div>
    </div>
</body>
<script src="../../public/js/jquery-2.1.4.min.js"></script>
<script src="../../public/layui/layui.js"></script>
<script src="../../public/layui/lay/modules/layer.js"></script>
<script type="text/javascript" src="../../public/dataTables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../public/dataTables/jquery.dataTables.min.css">
<script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
<script th:src="@{/client/telcertification/js/members.js}"></script>
<script>
    $(document).ready(function(){
        showTelCerMemberTable();
    });
</script>
</html>

