<!DOCTYPE>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="telcertification/common/include :: linkcss"></head>
<head>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
<!--    <meta charset="utf-8"/>-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>商户管理</title>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

</head>

<body>
<div th:include="telcertification/common/include :: header"></div>
<!--<div class="header">-->
<!--    <div class="top">-->
<!--        <div class="logo"><img th:src="@{/client/telcertification/images/logo.png}"></div>-->
<!--        <div class="top_r">-->
<!--            <span style="float: left">欢迎！</span>-->
<!--            <i>[[${session.username}]]</i>-->
<!--            <a href="/telcertify/toTelNoticePage" class="notice">公告</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="menu">-->
<!--        <div class="cdwbk">-->
<!--            <a href="/telcertify/toTelIndexPage" class="home">首页</a>-->
<!--            <a href="/telcertify/toTelChoosePage">号码认证订购</a>-->
<!--            <a href="/telcertify/toTelMerchantsPage" class="dqxx">订单列表</a>-->
<!--            <a href="#">认证查询与取消</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div id="allOrder">
    <div class="order_middle">
<!--        <div class="order_div1">-->
<!--            <p style="cursor:pointer" class="active" id="myorder" onclick="telCerTable()">我的订单</p>-->
<!--            <p style="cursor:pointer" id="myorder2" onclick="fallDueTable()">即将到期号码</p>-->
<!--            <p style="cursor:pointer" id="myorder3" onclick="dueTable()">到期号码</p>-->
<!--        </div>-->
        <!-- 我的订单 -->
        <div class="myorder">
            <div class="number_search">
                <div>
                    <p>提交时间:</p>
                    <input type="text" class="layui-input" id="rangetime" name="rangetime">
                </div>
                <div>
                    <p>集团名称:</p>
                    <input type="text" id="companyName" name="companyName">
                </div>
                <div>
                    <p>联系电话:</p>
                    <input type="text" id="tel" name="tel">
                </div>
                <div>
                    <p>成员号码:</p>
                    <input type="text" id="membernum" name="membernum">
                </div>
                <button onclick="showTelCerTable()">搜索</button>
                 <div class="new_businesses" id="cause">新增商户</div>
            </div>
            <!-- 集团信息列表-->
            <div class="number_list">
<!--                <input type="hidden" id="id" th:value="${id}">-->
                <table class="layui-table" id='merchants' style="width:1200px!important;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>集团名称</th>
                        <th>展示名称</th>
                        <th>联系人</th>
                        <th>联系电话</th>
                        <th>成员数</th>
                        <th>总价(元)</th>
                        <th>创建时间</th>
                        <th>订购的产品</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- 即将到期号码 -->
        <div class="net_middle" style="display:none">
            <div class="net_bottom">
                <div class="search">
                    <div>
                        <p>号码:</p>
                        <input type="text" id="number">
                    </div>
                    <button onclick="showFallDueTable()"
                            style="background:#17a9ff;border:none;color:#fff; border-radius:5px;">
                        搜索
                    </button>
                </div>
                <div class="numberdf_list">
                    <table class="layui-table" id="fall_due_table" style="width:1200px!important;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>成员号码</th>
                            <th>订购年份</th>
                            <th>价格(元)</th>
                            <th>业务状态</th>
                            <th>业务反馈</th>
                            <th>提交时间</th>
                            <th>到期时间</th>
                            <!--                            <th>备注</th>-->
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- 到期号码-->
        <div class="net_middle2" style="display:none">
            <div class="net_bottom">
                <div class="search">
                    <div>
                        <p>号码:</p>
                        <input type="text" id="number2">
                    </div>
                    <button onclick="showDueTable()"
                            style="background:#17a9ff;border:none;color:#fff; border-radius:5px;">
                        搜索
                    </button>
                </div>
                <div class="numberdf_list">
                    <table class="layui-table" id="due_table" style="width:1200px!important;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>成员号码</th>
                            <th>订购年份</th>
                            <th>价格(元)</th>
                            <th>业务状态</th>
                            <th>业务反馈</th>
                            <th>提交时间</th>
                            <th>到期时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="page"></div>
    </div>
    <div class="zsy"></div>
</div>
<!--订购弹窗 -->
<div id="pop" class="back display">
    <div class="pop_content">
        <div class="approve_title">
            <h3>业务订购</h3>
            <h4>共需支付：<span th:each="c:${configList}"><span th:if="${c.type}==1"><span id="yfje" th:text="${c.price}">80</span></span></span>元</h4>
            <div class="gban" id="cancel"><img th:src="@{/client/telcertification/images/close.png}"></div>
        </div>
        <div class="rz_y">
            <div class="title" th:each="c:${configList}">
                <span th:text="${c.typeName}" th:if="${c.type}!=4">泰迪熊号码认证</span><i th:if="${c.type}!=4" th:text="'¥ ' + ${c.price} + '元/年'">¥ 80元/年</i>
                <span th:text="${c.typeName}" th:if="${c.type}==4">挂机短信</span><i th:if="${c.type}==4" th:text="'¥ ' + ${c.price} + '元/条'">¥ 0.1元/条</i>
            </div>
            <div class="ywxz">
                <div class="tswz">选择业务</div>
                <div class="choosebk">
                    <button id="taidix" class="btn-calculate active" value="泰迪熊">泰迪熊</button>
                    <button id="dhb" class="btn-calculate" value="电话邦">电话邦</button>
                    <button id="caiyin" class="btn-calculate" value="彩印">彩印</button>
                    <button id="gjdx" class="btn-calculate" value="挂机短信">挂机短信</button>
                </div>
                <div class="zsy"></div>
            </div>
            <div class="ywxz" id="tdxcon">
                <div class="tswz">泰迪熊有效期</div>
                <div class="choosebk year">
                    <button class="btn-calculate active" value="1">1年</button>
                    <button class="btn-calculate" value="2">2年</button>
                    <button class="btn-calculate" value="3">3年</button>
                    <button class="btn-calculate" value="4">4年</button>
                    <button class="btn-calculate" value="5">5年</button>
                </div>
                <div class="zsy"></div>
            </div>
            <div class="ywxz bxs" id="dhbcon">
                <div class="tswz">电话邦有效期</div>
                <div class="choosebk dhbyear">
                    <button class="btn-calculate active" value="1">1年</button>
                    <button class="btn-calculate" value="2">2年</button>
                    <button class="btn-calculate" value="3">3年</button>
                    <button class="btn-calculate" value="4">4年</button>
                    <button class="btn-calculate" value="5">5年</button>
                </div>
                <div class="zsy"></div>
            </div>
            <div class="ywxz bxs" id="cycon">
                <div class="tswz">彩印有效期</div>
                <div class="choosebk permanent">
                    <button class="btn-allocate btn-normal active">永久有效</button>
                </div>
                <div class="zsy"></div>
            </div>
            <div class="ywxz bxs" id="gjdxcon">
                <div class="gmdx">
                    <label>挂机短信</label>
                    <input id="dxsrk" value="" type="number" placeholder="请输入整百数,例：100" step="100" min="100">
                    <span>元<i id="dxnumber"> 0 </i>条</span></div>
                <div class="dxsx">
                    <div class="tswz">挂机短信上限</div>
                    <div class="choosebk note">
                        <button class="btn-calculate active" value="100">100条/月</button>
                        <button class="btn-calculate" value="200">200条/月</button>
                        <button class="btn-calculate" value="300">300条/月</button>
                        <button class="btn-calculate" value="500">500条/月</button>
                        <button class="btn-calculate" value="700">700条/月</button>
                    </div>
                    <div class="zsy"></div>
                </div>
            </div>
        </div>
        <div class="approvecon">
            <div class="approvebk"><span><i>*</i>集团名称</span>
                <input type="text" placeholder="需跟营业执照名称一致" required lay-verify="required" name="telCompanyNameAdd" id="telCompanyNameAdd"
                       maxlength="32" autocomplete="off" onblur="verificationName()">
            </div>
            <div class="approvebk"><span><i>*</i>联系人姓名</span>
                <input type="text" id="telLinkNameAdd" maxlength="10" autocomplete="off" name="telLinkNameAdd">
            </div>
            <div class="approvebk"><span><i>*</i>联系人电话</span>
                <input type="tel" id="telLinkPhoneAdd" maxlength="12" autocomplete="off" name="telLinkPhoneAdd" onblur="vertifyTelLinkPhone()">
            </div>
            <div class="approvebk"><span><i>*</i>认证展示内容</span>
                <input type="text" placeholder="请跟营业执照主体一致" id="telContentAdd" autocomplete="off" name="telContentAdd">
            </div>
            <div class="phonenum">
                <div class="approvebk"><span><i>*</i>开通号码</span>
                    <input type="text" name="phoneNum" class="layui-input numlists" value=""
                           placeholder="如果是座机号码务必加上区号" autocomplete="off" onblur="checkNum(this)">
<!--                    <input class="opennum" type="tel" placeholder="如果是座机号码务必加上区号">-->
                    <em id="moreadd"><img th:src="@{/client/telcertification/images/addphone.png}" alt="" onclick="addLandline();"></em>
                </div>
                <div id="num"></div>
                <!--                                  <input type="tel" placeholder="如果是座机号码务必加上区号" style="margin-left:180px;">-->
<!--                                  <em onClick="remove(this)"><img th:src="@{/client/telcertification/images/del.png}"></em>-->
<!--                                </div> -->
<!--                                <div class="zsy" id="before"></div>-->

                <div class="imgbk"><span><i>*</i>上传营业执照</span>
                    <div class="tpscbk">
                        <div class="tpimgbka" id="businessLicenseClass"><img class="tpimga" border="0" th:src="@{/public/images/addimg.png}" test="111" style="margin:0px auto;max-height:140px;"></div>
                        <input type="file" style="display: none;" name="businessLicense" class="tpdza" id="businessLicenseAdd">
                    </div>
                </div>
                <div class="imgbk"><span><i>*</i>上传法人身份证正面</span>
                    <div class="tpscbk">
                        <div class="tpimgbka" id="legalPersonCardZhenClass"><img class="tpimga" border="0" th:src="@{/public/images/addimg.png}" test="111" style="margin:0px auto;max-height:140px;"></div>
                        <input type="file" style="display: none;" name="legalPersonCardZhen" class="tpdza" id="legalPersonCardZhenAdd">
                    </div>
                </div>
                <div class="imgbk"><span><i>*</i>上传法人身份证反面</span>
                    <div class="tpscbk">
                        <div class="tpimgbka" id="legalPersonCardFanClass"><img class="tpimga" border="0" th:src="@{/public/images/addimg.png}" test="111" style="margin:0px auto;max-height:140px;"></div>
                        <input type="file" style="display: none;" name="legalPersonCardFan" class="tpdza" id="legalPersonCardFanAdd">
                    </div>
                </div>
                <div class="imgbk"><span><i>*</i>上传LOGO</span>
                    <div class="tpscbk">
                        <div class="tpimgbka" id="logoClass"><img class="tpimga" border="0" th:src="@{/public/images/addimg.png}" test="111" style="margin:0px auto;max-height:140px;"></div>
                        <input type="file" style="display: none;" name="logo" class="tpdza" id="logoAdd">
                    </div>
                </div>
                <div class="approvebk"><span><i>*</i>上传授权书</span>
                    <input class="scwj" type="file" placeholder="选填" id="authorizationAdd" name="authorization">
                </div>
                <div class="ckalbk">
                    <div class="ckan opencase">查看案例</div>
                    <div class="mbxz"><a href="http://v.130.xyz/api/auth/uploadModel?type=3">授权书模板下载</a></div>
                </div>
                <div class="approvebk"><span><i>*</i>上传号码证明</span>
                    <input class="scwj" type="file" placeholder="选填" id="numberProveAdd" name="numberProve">
                </div>
                <input type="hidden" id="businessLicenseHidden">
                <input type="hidden" id="legalPersonCardZhenHidden">
                <input type="hidden" id="legalPersonCardFanHidden">
                <input type="hidden" id="logoHidden">
                <input type="hidden" id="authorizationHidden">
                <input type="hidden" id="numberProveHidden">
                <div class="ckalbk">
                    <div class="ckan opencase">查看案例</div>
                    <div class="mbxz"><a href="http://v.130.xyz/api/auth/uploadModel?type=2">号码证明模板下载</a></div>
                </div>
                <div class="bzbk"><span>备注</span>
                    <textarea placeholder="" id="remarkAdd" autocomplete="off"></textarea>
                </div>
                <div class="approvebk"><span><i>*</i>订购协议</span>
                    <div class="dgxy">
                        <input type="radio" checked="checked">
                        <span>我同意此<i class="openagreement">订购协议</i></span></div>
                </div>
<!--                <div class="xgan" onClick="determine()">确认添加</div>-->
                            <div class="xgan" lay-submit lay-filter="addform" onclick="addTelCerMerchants()">确认添加</div>
            </div>
        </div>
    </div>
</div>

<!--修改订单 -->
<div class="back display" id="editor">
    <div class="pop_content">
        <div class="approve_title">
            <h3>更改商户信息</h3>
            <div class="gban" id="gbxg"><img src="../../client/telcertification/images/close.png"></div>
        </div>
        <div class="approvecon" style="padding-top:100px;">
            <div class="approvebk"><span><i>*</i>集团名称</span>
                <input type="text" id="telCompanyName" placeholder="需跟营业执照名称一致" required lay-verify="required" name="telCompanyName"
                       maxlength="32" autocomplete="off" onblur="verificationNameEdit()">
            </div>
            <div class="approvebk"><span><i>*</i>联系人姓名</span>
                 <input type="text" id="telLinkName" maxlength="10" autocomplete="off" name="telLinkName">
            </div>
            <div class="approvebk"><span><i>*</i>联系人电话</span>
                <input type="tel" id="telLinkPhone" maxlength="12" autocomplete="off" name="telLinkPhone" onblur="vertifyTelLinkPhoneEdit()">
            </div>
            <div class="approvebk"><span><i>*</i>认证展示内容</span>
                <input type="text" id="telContent" placeholder="请跟营业执照主体一致" autocomplete="off" name="telContent">
            </div>
            <div class="imgbk"><span><i>*</i>上传营业执照</span>
                <div class="tpscbk">
                    <div class="tpimgbka" id="businessLicenseClassEdit"><img class="tpimga" border="0" src="../../public/images/addimg.png" test="111" style="margin:0px auto;max-height:140px;"></div>
                    <input type="file" id="businessLicense" style="display: none;" name="businessLicense" class="tpdza" >
                </div>
            </div>
            <div class="imgbk"><span><i>*</i>上传法人身份证正面</span>
                <div class="tpscbk">
                    <div class="tpimgbka" id="legalPersonCardZhenClassEdit"><img class="tpimga" border="0" src="../../public/images/addimg.png" test="111" style="margin:0px auto;max-height:140px;"></div>
                    <input type="file" id="legalPersonCardZhen" style="display: none;" name="legalPersonCardZhen" class="tpdza" >
                </div>
            </div>
            <div class="imgbk"><span><i>*</i>上传法人身份证反面</span>
                <div class="tpscbk">
                    <div class="tpimgbka" id="legalPersonCardFanClassEdit"><img class="tpimga" border="0" src="../../public/images/addimg.png" test="111" style="margin:0px auto;max-height:140px;"></div>
                    <input type="file" id="legalPersonCardFan" style="display: none;" name="legalPersonCardFan" class="tpdza">
                </div>
            </div>
            <div class="imgbk"><span><i>*</i>上传LOGO</span>
                <div class="tpscbk">
                    <div class="tpimgbka" id="logoClassEdit"><img class="tpimga" border="0" src="../../public/images/addimg.png" test="111" style="margin:0px auto;max-height:140px;"></div>
                    <input type="file" id="logo" style="display: none;" name="logo" class="tpdza">
                </div>
            </div>
            <div class="approvebk"><span><i>*</i>上传授权书</span>
                <input class="scwj" type="file" id="authorization" placeholder="选填" name="authorization">
            </div>
            <div class="ckalbk">
                <div class="ckan opencase">查看案例</div>
                <div class="mbxz"><a href="http://v.130.xyz/api/auth/uploadModel?type=3">授权书模板下载</a></div>
            </div>
            <div class="approvebk"><span><i>*</i>号码证明</span>
                <input class="scwj" type="file"  id="numberProve" placeholder="选填" name="numberProve">
            </div>
            <div class="ckalbk">
                <div class="ckan opencase">查看案例</div>
                <div class="mbxz"><a href="http://v.130.xyz/api/auth/uploadModel?type=3">授权书模板下载</a></div>
            </div>
            <div class="bzbk"><span>备注</span>
                <textarea id="remark" placeholder="请输入内容"></textarea>
            </div>
            <div class="approvebk"><span><i>*</i>订购协议</span>
                <div class="dgxy">
                    <input type="radio" checked="checked" >
                    <span>我同意此<i class="openagreement">订购协议</i></span></div>
            </div>
            <div class="xgan" onClick="determine()">确认修改</div>
        </div>
    </div>
</div>
<!--查看示例-->
<div class="back display" id="case">
    <div class="pop_content">
        <div class="approve_title">
            <h5>查看示例</h5>
            <div class="gban" id="closecase"><img th:src="@{/client/telcertification/images/close.png}"></div>
        </div>
        <div class="casecon"><img th:src="@{/client/telcertification/images/sqs.jpg}"></div>
    </div>
</div>
<!--订购协议-->
<div th:replace="telcertification/common/agreement :: agreement"></div>
<!--展示机型弹窗1 -->
<div class="tcbk display" id="zsjxa">
    <div class="zcjx">支持机型</div>
    <div class="jxbk"><span>泰迪熊</span><span>其他</span></div>
    <div class="gban" id="cancel">我已了解</div>
</div>
<!--展示机型弹窗2 -->
<div class="tcbk display" id="zsjxb">
    <div class="zcjx">支持机型</div>
    <div class="jxbk"><span>全部机型</span></div>
    <div class="gban" id="close">我已了解</div>
</div>
</body>
<script th:src="@{/public/js/jquery-2.1.4.min.js}"></script>
<!--<script th:src="@{/public/js/jquery-3.2.0.min.js}"></script>-->
<script th:src="@{/public/layui/layui.js}"></script>
<script th:src="@{/public/layui/lay/modules/laydate.js}"></script>
<script th:src="@{/public/layui/lay/modules/layer.js}"></script>
<script th:src="@{/public/js/regular.js}"></script>
<script type="text/javascript" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajax.js}"></script>
<script th:src="@{/client/telcertification/js/merchants.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajaxfileupload.js}"></script>
<script>
    $(".index2").addClass("active");
</script>
</html>
