<!DOCTYPE>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="telcertification/common/include :: linkcss"></head>
<head>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
<!--    <meta charset="utf-8"/>-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>商户管理</title>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

</head>

<body>
<div th:include="telcertification/common/include :: header"></div>
<div id="allOrder">
    <div class="order_middle">
<!--        <div class="order_div1">-->
<!--            <p style="cursor:pointer" class="active" id="myorder" onclick="telCerTable()">我的订单</p>-->
<!--            <p style="cursor:pointer" id="myorder2" onclick="fallDueTable()">即将到期号码</p>-->
<!--            <p style="cursor:pointer" id="myorder3" onclick="dueTable()">到期号码</p>-->
<!--        </div>-->
        <!-- 我的订单 -->
        <div class="myorder">
            <div class="number_search">
                <div>
                    <p>提交时间:</p>
                    <input type="text" class="layui-input" id="rangetime" name="rangetime">
                </div>
                <div>
                    <p>集团名称:</p>
                    <input type="text" id="companyName" name="companyName">
                </div>
                <div>
                    <p>联系电话:</p>
                    <input type="text" id="tel" name="tel">
                </div>
                <div>
                    <p>成员号码:</p>
                    <input type="text" id="membernum" name="membernum">
                </div>
                <button onclick="showTelCerTable()">搜索</button>
                 <div class="new_businesses" id="cause" onclick="addMerchant()">新增商户</div>
            </div>
            <!-- 集团信息列表-->
            <div class="number_list">
                <table class="layui-table" id='merchants' style="width:1200px!important;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>集团名称</th>
                        <th>展示名称</th>
                        <th>联系人</th>
                        <th>联系电话</th>
                        <th>成员数</th>
                        <th>总价(元)</th>
                        <th>创建时间</th>
                        <th>订购的产品</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- 即将到期号码 -->
        <div class="net_middle" style="display:none">
            <div class="net_bottom">
                <div class="search">
                    <div>
                        <p>号码:</p>
                        <input type="text" id="number">
                    </div>
                    <button onclick="showFallDueTable()"
                            style="background:#17a9ff;border:none;color:#fff; border-radius:5px;">
                        搜索
                    </button>
                </div>
                <div class="numberdf_list">
                    <table class="layui-table" id="fall_due_table" style="width:1200px!important;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>成员号码</th>
                            <th>订购年份</th>
                            <th>价格(元)</th>
                            <th>业务状态</th>
                            <th>业务反馈</th>
                            <th>提交时间</th>
                            <th>到期时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- 到期号码-->
        <div class="net_middle2" style="display:none">
            <div class="net_bottom">
                <div class="search">
                    <div>
                        <p>号码:</p>
                        <input type="text" id="number2">
                    </div>
                    <button onclick="showDueTable()"
                            style="background:#17a9ff;border:none;color:#fff; border-radius:5px;">
                        搜索
                    </button>
                </div>
                <div class="numberdf_list">
                    <table class="layui-table" id="due_table" style="width:1200px!important;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>成员号码</th>
                            <th>订购年份</th>
                            <th>价格(元)</th>
                            <th>业务状态</th>
                            <th>业务反馈</th>
                            <th>提交时间</th>
                            <th>到期时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="page"></div>
    </div>
    <div class="zsy"></div>
</div>
<script th:src="@{/public/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/public/layui/layui.js}"></script>
<script th:src="@{/public/layui/lay/modules/laydate.js}"></script>
<script th:src="@{/public/layui/lay/modules/layer.js}"></script>
<script th:src="@{/public/js/regular.js}"></script>
<script type="text/javascript" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajax.js}"></script>
<script th:src="@{/client/telcertification/js/merchants.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajaxfileupload.js}"></script>
<script>
    $(".index2").addClass("active");
</script>
</body>

</html>
