<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公告</title>
<link rel="stylesheet" type="text/css" href="../../public/css/common.css">
<link rel="stylesheet" type="text/css" href="../../client/telcertification/css/notice.css">
<link rel="stylesheet" type="text/css" href="../../client/telcertification/css/header.css">
<style type="text/css">
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #ff4103;
}
</style>
</head>

<body>
<div class="header">
  <div class="top">
    <div class="logo">
        <img src="../../client/telcertification/images/cllogo.jpg">
    </div>
    <div class="top_r">
        <a href="notice.html" class="notice dqxx">公告</a>
    </div>
  </div>
  <div class="menu">
    <div class="cdwbk">
        <a href="index.html" class="home">首页</a>
        <a href="choose.html">号码认证订购</a>
        <a href="merchants.html">订单列表</a>
        <a href="#">认证查询与取消</a>
    </div>
  </div>
</div>
<div class="wbk">
  <div class="nbk">
    <table id="example">
      <thead>
        <tr>
          <th>公告</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ggimg"><span><img src="../../client/telcertification/images/homebg.jpg"></span></td>
          <td class="ggbk"><div class="ggxx">
              <h3>电话邦号码认证上线通知</h3>
              <div class="ggnr">
                <p>电话邦号码认证上线，主要支持小米机型，目前只支持企业、个体户，需要营业执照、身份证，展示内容规则请参考【号码认证企业版显示名称说明】</p>
                <p>电话邦号码认证上线，主要支持小米机型，目前只支持企业、个体户，需要营业执照、身份证，展示内容规则请参考【号码认证企业版显示名称说明】</p>
              </div>
            </div></td>
          <td class="ggtime">2019-06-11 15:45:17</td>
        </tr>
        <tr>
          <td class="ggimg"><span><img src="../../client/telcertification/images/homebg.jpg"></span></td>
          <td class="ggbk"><div class="ggxx">
              <h3>电话邦号码认证上线通知</h3>
              <div class="ggnr">
                <p>电话邦号码认证上线，主要支持小米机型，目前只支持企业、个体户，需要营业执照、身份证，展示内容规则请参考【号码认证企业版显示名称说明】</p>
                <p>电话邦号码认证上线，主要支持小米机型，目前只支持企业、个体户，需要营业执照、身份证，展示内容规则请参考【号码认证企业版显示名称说明】</p>
              </div>
            </div></td>
          <td class="ggtime">2019-06-11 15:45:17</td>
        </tr>
        <tr>
          <td class="ggimg"><span><img src="../../client/telcertification/images/homebg.jpg"></span></td>
          <td class="ggbk"><div class="ggxx">
              <h3>电话邦号码认证上线通知</h3>
              <div class="ggnr">
                <p>电话邦号码认证上线，主要支持小米机型，目前只支持企业、个体户，需要营业执照、身份证，展示内容规则请参考【号码认证企业版显示名称说明】</p>
                <p>电话邦号码认证上线，主要支持小米机型，目前只支持企业、个体户，需要营业执照、身份证，展示内容规则请参考【号码认证企业版显示名称说明】</p>
              </div>
            </div></td>
          <td class="ggtime">2019-06-11 15:45:17</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
<script src="../../public/dataTables/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../public/dataTables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../public/dataTables/jquery.dataTables.min.css">
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
            // "pagingType":   "simple",
            "ordering": false,//禁止排序
            "searching":false, //搜索框
            "bLengthChange":false,
            "language": {
                "decimal":",",
                "thousands":".",
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "没有找到记录",
                "info": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "paginate" :{
                    // "first" : "",
                    "sPrevious" : "上一页",
                    "sNext" : "下一页",
                    // "sLast" : ""
                }
            }

        });
    } );
</script>
</html>
