<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="telcertification/common/include :: linkcss"></head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <title>订购统计</title>
    <link rel="stylesheet" type="text/css" th:href="@{/client/telcertification/css/statistics/statistics.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/client/telcertification/css/statistics/amazeui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/client/400/css/chunk-vendors.753ee7da.css}"/>

</head>
<body>
<div th:include="telcertification/common/include :: header"></div>
<!--</div>-->
<div id="allOrder" >

    <div class="shuju">
<!--        distributor-->
        <div class="shujuone" >
            <ul>
                <h2>累计</h2>
            </ul>

            <dl>
                <dt th:each="con:${configList}">
                    <span th:if="${con.type} == 1">
                        <span th:text="${con.typeName}"></span>:
                        <span id="teddyAllNum" th:text="${allService.teddyNum}"></span>个，
                        <span id="teddyAll" th:text="${con.price}*${allService.teddyNum}"></span>元</span>
                    <span th:if="${con.type} == 2">
                        <span th:text="${con.typeName}"></span>:
                        <span id="telBondAllNum" th:text="${allService.telBondNum}"></span>个，
                        <span id="telBondAll" th:text="${con.price}*${allService.telBondNum}"></span>元</span>
                    <span th:if="${con.type} == 4">
                        <span th:text="${con.typeName}"></span>:
                        <span id="hangUpMessageAllNum" th:text="${allService.hangupMessageNum}"></span>个，
                        <span id="hangUpMessageAll"></span>元</span>
                </dt>
<!--                <dt>泰迪熊+电话邦：<span th:text="${allService.teddyNum}+${allService.telBondNum}"></span>个，-->
<!--                    <span th:text="${allService.teddyAndTelBond}"></span>元</dt>-->
                <dt>合计：<span id="allNum" th:text="${allService.teddyNum}+${allService.telBondNum}+${allService.hangupMessageNum}"></span>个，
                    <span></span>元</dt>
            </dl>

<!--    <dt>泰迪熊+电话邦：<span th:text="${all.teddyNum}+${all.telBondNum}"></span>  个，<span th:text="${all.teddyAndTelBond}"></span> 元</dt>-->
<!--    <dt>挂机短信： <span th:text="${all.hangupMessageNum}"></span>  个，<span th:if="${con.type} == 4"> <span th:text="${con.price}"></span></span>元</dt>-->
<!--    <dt>合计：<span th:text="${all.teddyNum}+${all.telBondNum}+${all.hangupMessageNum}"></span>  个，<span th:text="${all.teddyAndTelBondAndHangup}"></span>元</dt>-->

        </div>
        <div class="shujutow">
            <ul>
                <h2>当月</h2>
            </ul>
            <dl>
                <dt th:each="con:${configList}">
                    <span th:if="${con.type} == 1">
                        <span th:text="${con.typeName}"></span>:
                        <span id="teddyTheMonthNum" th:text="${theMonthService.teddyNum}"></span>个，
                        <span id="teddyTheMonth" th:text="${con.price}*${allService.teddyNum}"></span>元</span>
                    <span th:if="${con.type} == 2">
                        <span th:text="${con.typeName}"></span>:
                        <span id="telBondTheMonthNum" th:text="${theMonthService.telBondNum}"></span>个，
                        <span id="telBondTheMonth" th:text="${con.price}*${theMonthService.telBondNum}"></span>元</span>
                    <span th:if="${con.type} == 4">
                        <span th:text="${con.typeName}"></span>:
                        <span id="hangUpMessageTheMonthNum" th:text="${theMonthService.hangupMessageNum}"></span>个，
                        <span id="hangUpMessageTheMonth"></span>元</span>
                </dt>
                <dt>合计：<span th:text="${theMonthService.teddyNum}+${theMonthService.telBondNum}+${theMonthService.hangupMessageNum}"></span>个，
                    <span></span>元</dt>
            </dl>

<!--            <dl th:each="theMonth:${theMonthService}">-->
<!--                <span th:each="con:${configList}">-->
<!--                    <dt>泰迪熊：<span th:text="${theMonth.teddyNum}"></span>  个，  <span th:if="${con.type} == 1"> <span th:text="${con.price}"></span></span> 元</dt>-->
<!--                    <dt>电话邦：<span th:text="${theMonth.telBondNum}"></span>   个，<span th:if="${con.type} == 2"> <span th:text="${con.price}"></span></span>元</dt>-->
<!--                    <dt>泰迪熊+电话邦：<span th:text="${theMonth.teddyNum}+${theMonth.telBondNum}"></span>  个，<span th:text="${theMonth.teddyAndTelBond}"></span> 元</dt>-->
<!--                    <dt>挂机短信： <span th:text="${theMonth.hangupMessageNum}"></span>  个，<span th:if="${con.type} == 4"> <span th:text="${con.price}"></span></span>元</dt>-->
<!--                    <dt>合计：<span th:text="${theMonth.teddyNum}+${theMonth.telBondNum}+${theMonth.hangupMessageNum}"></span>  个，元</dt>-->
<!--                </span>-->
<!--            </dl>-->
        </div>

        <div class="shujuthree">
            <ul>
                <h2>今日</h2>
            </ul>
            <dl>
                <dt th:each="con:${configList}">
                    <span th:if="${con.type} == 1">
                        <span th:text="${con.typeName}"></span>:
                        <span th:text="${todayService.teddyNum}"></span>个，
                        <span id="teddy" th:text="${con.price}*${todayService.teddyNum}"></span>元</span>
                    <span th:if="${con.type} == 2">
                        <span th:text="${con.typeName}"></span>:
                        <span th:text="${todayService.telBondNum}"></span>个，
                        <span id="telBond" th:text="${con.price}*${todayService.telBondNum}"></span>元</span>
                </dt>
                <dt>泰迪熊+电话邦：<span th:text="${todayService.teddyNum}+${todayService.telBondNum}"></span>个，
                    <span th:text="${todayService.teddyAndTelBond}"></span>元</dt>
            </dl>

<!--            <dl th:each="today:${todayService}">-->
<!--                <span th:each="con:${configList}">-->
<!--                    <dt>泰迪熊：<span th:text="${today.teddyNum}"></span>  个，  <span th:if="${con.type} == 1"> <span th:text="${con.price}"></span></span> 元</dt>-->
<!--                    <dt>电话邦：<span th:text="${today.telBondNum}"></span>   个，<span th:if="${con.type} == 2"> <span th:text="${con.price}"></span></span>元</dt>-->
<!--                    <dt>泰迪熊+电话邦：<span th:text="${today.teddyNum}+${today.telBondNum}"></span>  个，<span th:text="${today.teddyAndTelBond}"></span> 元</dt>-->
<!--                    <dt>挂机短信： <span th:text="${today.hangupMessageNum}"></span>  个，<span th:if="${con.type} == 4"> <span th:text="${con.price}"></span></span>元</dt>-->
<!--                    <dt>合计：<span th:text="${today.teddyNum}+${today.telBondNum}+${today.hangupMessageNum}"></span>  个，元</dt>-->
<!--                </span>-->
<!--            </dl>-->
        </div>
    </div>
    <div class="chart" id="chart" style="width: 400px;height:300px;float: left;margin: 20px 1%"></div>
    <v-chart :options="option" autoresize theme="light"></v-chart>
    <div class="chart" id="chart2" style="width: 400px;height:300px;float: left;margin: 20px 1%"></div>
    <v-chart :options="option" autoresize theme="light"></v-chart>

    <div class="order_middle" style="margin-top: 30px;float:right;">
        <!-- 我的订单 -->
        <div class="myorder" style="width: 800px;">
            渠道商名称：
            <input type="text" name="distributorName" id="distributorName" autocomplete="off" maxlength="20" style="margin:0 10px;width: 180px;height: 36px;border: 1px solid #ddd;">
            渠道商号码：
            <input type="text" name="phoneNum" id="phoneNum" autocomplete="off" maxlength="12" style="margin:0 10px;width: 180px;height: 36px;border: 1px solid #ddd;">
            <button class="layui-btn layui-btn-normal" onclick="showDistributorTable()"
                    style="border-radius: 5px;width: 80px;height: 34px;line-height: 34px;font-size: 16px;color: #fff;background: #17a9ff;border: none;margin-left: 30px;">搜索</button>
            <div class="number_list" style="margin-top: 15px">
                <input type="hidden" id="id" th:value="${id}">
                <table class="layui-table" id="distributor" style="width:800px;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>渠道商名称</th>
                        <th>级别</th>
                        <th>业务开通总数</th>
                        <th>上月累计开通数</th>
                        <th>当月新增开通数</th>
                        <th>今日新增开通数</th>
                    </tr>
                    </thead>
                </table>
<!--                <tr th:each="info:${distributor}">-->
<!--                    <td th:text="${info.distributorName}">100</td>-->
<!--                    <td th:text="${info.stage}">100</td>-->
<!--                    <td th:text="${info.total}">100</td>-->
<!--                    <td th:text="${info.lastMonthTotal}">300</td>-->
<!--                    <td th:text="${info.theMonthTotal}">300</td>-->
<!--                    <td th:text="${info.yesterdayTotal}">300</td>-->
<!--                </tr>-->
<!--                </tbody>-->
            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{/public/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/echarts.min.js}"></script>
<!--<script type="text/javascript">jQuery(".slideTxtBox").slide();</script>-->
<!--<script th:src="@{/public/js/jquery-3.2.0.min.js}"></script>-->
<script th:src="@{/public/layui/layui.js}"></script>
<script th:src="@{/public/layui/lay/modules/laydate.js}"></script>
<script th:src="@{/public/layui/lay/modules/layer.js}"></script>
<script th:src="@{/public/js/regular.js}"></script>
<script type="text/javascript" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajax.js}"></script>
<script type="text/javascript" th:src="@{/client/telcertification/js/statistics.js}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        showDistributorTable();
    });



    var myChart = echarts.init(document.getElementById("chart"));
    var myChart2 = echarts.init(document.getElementById("chart2"));
    var option = {
        // title:{
        //     text:"lala",
        //     subtext:"lala"
        // },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'right',
            data:['泰迪熊','电话邦','挂机短信','合计']
        },
        series: [
            {
                name:'累计',
                type:'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '20',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {value:document.getElementById("teddyAllNum").innerText, name:'泰迪熊'},
                    {value:document.getElementById("telBondAllNum").innerText, name:'电话邦'},
                    {value:document.getElementById("hangUpMessageAllNum").innerText, name:'挂机短信'},
                    {value:document.getElementById("allNum").innerText, name:'合计'}
                ]
            }
        ]
    };

    var option2 = {
        // title:{
        //     text:"lala",
        //     subtext:"lala"
        // },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'right',
            data:['泰迪熊','电话邦','挂机短信','合计']
        },
        series: [
            {
                name:'当月',
                type:'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '20',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {value:2, name:'泰迪熊'},
                    {value:1, name:'电话邦'},
                    {value:1, name:'挂机短信'},
                    {value:3, name:'合计'}
                ]
            }
        ]
    };



    myChart.setOption(option);
    myChart2.setOption(option2);


    $(".index5").addClass("active");
</script>
</html>