<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="telcertification/common/include :: linkcss"></head>
<head>
<!--    <meta charset="utf-8" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>待办事宜</title>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" th:href="@{/public/layui/css/layui.css}">-->
<!--    <link rel="stylesheet" th:href="@{/public/layui/css/modules/layer/default/layer.css}">-->
<!--    <link rel="stylesheet" th:href="@{/public/css/commer.css}">-->
<!--    <link rel="stylesheet" th:href="@{/client/telcertification/css/boxstyle.css}">-->
<!--    <link rel="stylesheet" th:href="@{/client/telcertification/css/msgbox.css}">-->
<!--    <link rel="stylesheet" th:href="@{/client/telcertification/css/webandwxxcx.css}">-->
<!--    <link rel="stylesheet" th:href="@{/client/telcertification/css/orderform.css}">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/public/dataTables/jquery.dataTables.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{/client/telcertification/css/order.css}">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/client/telcertification/css/header.css}">-->
    <style>
        .layui-layer-title {
            font-size: 1.2rem !important;
            letter-spacing: 4px !important;
        }
        .layui-form-label {
            width: 125px!important;
        }
        .number_search{
            width: 1200px;
            margin: 20px auto;
        }
        .new_busi {
            border-radius: 5px;
            width: 100px !important;
            height: 38px;
            font: 400 16px/38px 'MicrosoftYaHei [Regular]';
            color: #fff;
            background: #ff6637;
            border: none;
            text-align: center;
            float: right;
            display: block !important;
        }
        #example_filter{margin:0 auto;background: white;}
    </style>
</head>

<body>
<div th:include="telcertification/common/include :: header"></div>
<!--<div class="header">-->
<!--    <div class="top">-->
<!--        <div class="logo"><img th:src="@{/client/telcertification/images/logo.png}"></div>-->
<!--        <div class="top_r">-->
<!--            <a href="/telcertify/toTelNoticePage" class="notice">公告</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="menu">-->
<!--        <div class="cdwbk">-->
<!--&lt;!&ndash;            <a href="/telcertify/toTelIndexPage" class="home">首页</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="/telcertify/toTelChoosePage">号码认证订购</a>&ndash;&gt;-->
<!--            <a href="/telcertify/toTelMerchantsPage" class="dqxx">订单列表</a>-->
<!--&lt;!&ndash;            <a href="#">认证查询与取消</a>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div id="allOrder" style="margin-top: 30px;">
    <div class="order_middle">
        <!-- 我的订单 -->
        <div class="myorder">
            成员号码：<input type="text" name="phoneNum" id="phoneNum" autocomplete="off" maxlength="13" style="margin:0 10px;width: 180px;height: 36px;border: 1px solid #ddd;">
            <div class="number_search">
                <button class="layui-btn layui-btn-normal" onclick="showTelCerMemberTable()">搜索</button>
            </div>
            <div class="number_list">
                <input type="hidden" id="loginName" th:value="${session.username}" />
                <table class="layui-table" id="members" style="width:1200px;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>成员号码</th>
                        <th>渠道商</th>
                        <th>订购年份</th>
                        <th>价格(元)</th>
                        <th>业务状态</th>
                        <th>业务反馈</th>
                        <th>提交时间</th>
                        <th>开通时间</th>
                        <th>到期时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 添加号码 -->
<div id="cover"></div>
<form action="/telcertify/insertTelCerChild" name="Form" id="Form" method="post" class="layui-form">
<div id="ids" style="width:500px;height:500px;">
    <div class="ids_price" style="width:500px;background: #e4e2e3;">
        <i class="layui-icon layui-icon-close" id="guan" onclick="closePanel();"></i>
        <p>新增号码</p>
    </div>
    <div>
        <div id="num"></div>
        <div>
            <button type="button" class="subs" lay-submit lay-filter="formDemo" onclick="addPhoneNumList();">提交</button>
        </div>
    </div>
</div>
</form>
</body>
<script th:src="@{/public/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/public/layui/layui.js}"></script>
<script th:src="@{/public/layui/lay/modules/layer.js}"></script>
<script type="text/javascript" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>

<script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
<script type="text/javascript" th:src="@{/public/js/regular.js}"></script>
<script type="text/javascript" th:src="@{/public/js/numASMD.js}"></script>
<script type="text/javascript" th:src="@{/public/js/ajax.js}"></script>
<script th:src="@{/client/telcertification/js/todoMembers.js}"></script>
<script>
    $(".index2").addClass("active");
</script>

</html>

