<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/common/include :: header"></head>
<style type="text/css">
    .layui-input-inline{
        width: 490px!important;
    }
</style>
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="typeName" class="layui-form-label">
                <span class="x-red">*</span>类型名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="typeName" name="typeName" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="price" class="layui-form-label">
                <span class="x-red">*</span>金额
            </label>
            <div class="layui-input-inline">
                <input type="number" id="price" name="price" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="addConfig" lay-submit="">添加</button>
        </div>
    </form>
</div>
</body>
<div th:include="admin/common/include :: footer"></div>
<script type="text/javascript" th:src="@{/admins/js/my/telcer_config.js}"></script>
</html>