<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>企业彩铃-公告管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,testUser-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../admin/css/font.css">
    <link rel="stylesheet" href="../../admin/css/xadmin.css">
</head>
<body>
   <blockquote class="layui-elem-quote layui-quote-nm">
        订单编号：<span>81751f0ba1e04db79690b3ef0df284bd</span><br><br>
        当前状态：<span>订购成功</span><br><br>
        价格：<span>90</span>元<br><br>
        订购产品：<span>泰迪熊</span><br><br>
        企业信息：
        <span>集团名称：<span>徐州互睿网络科技有限公司</span></span><br><br>
        <span>联系人：<span>测试周</span></span><br><br>
        <span>联系电话：<span>15050840350</span></span><br><br>
        <span>认证展示内容：<span>徐州互睿网络科技有限公司</span></span><br><br>
        <span style="display: block;">法人身份证正反面：<br><br>
            正面：<img src="../../public/images/test1.jpg" width="20%" height="10%;">
            反面：<img src="../../public/images/test1.jpg" width="20%" height="10%;">
        </span><br><br>
        <span style="display: block;">LOGO：<img src="../../public/images/test1.jpg" width="20%" height="10%;"></span><br><br>
        <span width="100%" height="100%;" style="display: block;">营业执照：<img src="../../public/images/test1.jpg" width="20%" height="10%;"></span><br><br>
        <span>授权书：<a class="x-a" href="http://www.baidu.com" title="点击下载">徐州互睿网络科技有限公司.docx</a></span><br><br>
        <span>号码证明：<a class="x-a" href="http://www.baidu.com" title="点击下载">徐州互睿网络科技有限公司.docx</a></span><br><br>
        创建时间：<span>2019-06-21 12:13:26</span><br><br>
    </blockquote>
</body>
<script src="../../public/js/jquery.min.js"></script>
</script>
</html>