<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>企业彩铃-号码认证</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,testUser-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
	<link rel="stylesheet" th:href="@{/admin/css/font.css}">
	<link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/admin/dataTables/jquery.dataTables.min.css}">
</head>
<body class="layui-anim layui-anim-up">
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="">首页</a>
			<a href="">号码认证</a>
			<a>
				<cite>消费记录</cite>
			</a>
		</span>
		<a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
			<i class="layui-icon" style="line-height:38px">ဂ</i>
		</a>
	</div>
	<div class="x-body">
		<input type="hidden" id="phoneNum" th:value="${phoneNum}">
		<table class="layui-table" id="telcertification_consume_log">
			<thead>
				<tr>
					<th>ID</th>
					<th>成员名称</th>
					<th>成员号码</th>
					<th>类型</th>
					<th>状态</th>
					<th>资费</th>
					<th>提交时间</th>
					<th>开通时间</th>
					<th>到期时间</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>测试周</td>
					<td>15050840350</td>
					<td>首次</td>
					<td>开通成功</td>
					<td>160</td>
					<td>2019-06-19 17:20:26</td>
					<td>2019-06-19 18:20:26</td>
					<td>2021-06-19 18:20:26</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script th:src="@{/public/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
<script type="text/javascript" th:src="@{/admin/dataTables/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/page.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/my/telcer_consume.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
	    showTelcertification_consume_log();
	});
</script>
</html>