<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrtxn.ringtone.project.telcertification.mapper.CertificationRechargeLogMapper" >
  <resultMap id="BaseResultMap" type="com.hrtxn.ringtone.project.telcertification.domain.CertificationRechargeLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="recharge_time" property="rechargeTime" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, user_tel, price, recharge_time, operator_id,  remark
  </sql>

  <sql id="page">
    <if test="page.page != null and page.pagesize != null and page.pagesize !=''">
      LIMIT #{page.page},#{page.pagesize}
    </if>
  </sql>
<!--  获取全部充值记录-->
  <select id="getTelCerRechargeLogList" resultMap="BaseResultMap">
    SELECT * FROM tb_telcertification_recharge_log
    ORDER BY recharge_time DESC
    <include refid="page"/>
  </select>
<!--  获取全部充值记录总数-->
  <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM tb_telcertification_recharge_log
  </select>

<!--  <select id="selectByPrimaryKey" resultMap="" parameterType="java.lang.Integer" >-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from tb_telcertification_recharge_log-->
<!--    where id = #{id,jdbcType=INTEGER}-->
<!--  </select>-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_telcertification_recharge_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hrtxn.ringtone.project.telcertification.domain.CertificationRechargeLog" >
    insert into tb_telcertification_recharge_log (id, user_name, user_tel, 
      price, recharge_time, operator_id, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{rechargeTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=INTEGER}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hrtxn.ringtone.project.telcertification.domain.CertificationRechargeLog" >
    insert into tb_telcertification_recharge_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userTel != null" >
        user_tel,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="rechargeTime != null" >
        recharge_time,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="rechargeTime != null" >
        #{rechargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrtxn.ringtone.project.telcertification.domain.CertificationRechargeLog" >
    update tb_telcertification_recharge_log
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="rechargeTime != null" >
        recharge_time = #{rechargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hrtxn.ringtone.project.telcertification.domain.CertificationRechargeLog" >
    update tb_telcertification_recharge_log
    set user_name = #{userName,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      recharge_time = #{rechargeTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrtxn.ringtone.project.telcertification.domain.CertificationRechargeLog" >
    update tb_telcertification_recharge_log
    set user_name = #{userName,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      recharge_time = #{rechargeTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>