<div th:fragment="footer">
    <script th:inline="javascript"> var ctx = [[@{/}]]; </script>
    <script type="text/javascript" th:src="@{/public/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/public/layui/lay/modules/layer.js}"></script>
    <script type="text/javascript" th:src="@{/public/dataTables/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/regular.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/ajax.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/datatables.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/numASMD.js}"></script>
</div>