<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/common/include :: header"></head>
<style type="text/css">
    .layui-input-inline{
        width: 490px!important;
    }
</style>
<body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
            <input type="hidden" id="" name="id" th:value="${numcertificationPrice.id}">
            <div class="layui-form-item">
                <label for="categoryAlias" class="layui-form-label">
                    <span class="x-red">*</span>类型别名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="categoryAlias" name="categoryAlias" required lay-verify="required" autocomplete="off" class="layui-input" th:value="${numcertificationPrice.categoryAlias}">
                </div>
            </div>
            <!--<div class="layui-form-item">-->
                <!--<label for="category" class="layui-form-label">-->
                    <!--<span class="x-red">*</span>类型-->
                <!--</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<select name="category" id="category" lay-verify="required" lay-filter="aihao">-->
                        <!--<option th:selected="${numcertificationPrice.category} == '顶级号' " value="顶级号">顶级号</option>-->
                        <!--<option th:selected="${numcertificationPrice.category} == '超级号' " value="超级号">超级号</option>-->
                        <!--<option th:selected="${numcertificationPrice.category} == 'A类' " value="A类">A类</option>-->
                        <!--<option th:selected="${numcertificationPrice.category} == 'B类' " value="B类">B类</option>-->
                        <!--<option th:selected="${numcertificationPrice.category} == 'C类' " value="C类">C类</option>-->
                        <!--<option th:selected="${numcertificationPrice.category} == 'D类' " value="D类">D类</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-form-item">
                <label for="costPrice" class="layui-form-label">
                    <span class="x-red">*</span>成本价
                </label>
                <div class="layui-input-inline">
                    <input type="number" id="costPrice" name="costPrice" required lay-verify="required" autocomplete="off" class="layui-input" th:value="${numcertificationPrice.costPrice}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="raisePrice" class="layui-form-label">
                    <span class="x-red">*</span>加价
                </label>
                <div class="layui-input-inline">
                    <input type="number" id="raisePrice" name="raisePrice" onblur="addPrice()" required lay-verify="required" autocomplete="off" class="layui-input" th:value="${numcertificationPrice.raisePrice}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="guidePrice" class="layui-form-label">
                    <span class="x-red">*</span>指导价
                </label>
                <div class="layui-input-inline">
                    <input type="number" id="guidePrice" name="guidePrice" readonly="readonly" required lay-verify="required" autocomplete="off" class="layui-input" th:value="${numcertificationPrice.guidePrice}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">修改</button>
            </div>
        </form>
    </div>
</body>
<div th:include="admin/common/include :: footer"></div>


<script type="text/javascript" th:inline="javascript" th:src="@{/admins/js/my/price_update.js}"></script>

<script type="text/javascript">
    function addPrice(){
        var costPrice = $("#costPrice").val();
        var raisePrice = $("#raisePrice").val();
        $("#guidePrice").val(Number(costPrice) + Number(raisePrice));
    }
</script>
</html>