/* 网站产品介绍 */
.cd_nodata {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    border: 1px solid #ddd;
    border-top: none;
}

.webproduct_foot {
    position: relative;
}

.webproduct_foot>img {
    min-width: 1200px;
    width: 100%;
}

.webproduct_foot>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.webproduct_foot>div h3 {
    font: 400 48px 'MicrosoftYaHei [Regular]';
    color: transparent;
    background: linear-gradient(to right, #fcc458, #fc7e58);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 40px;
}

.webproduct_foot>div p {
    font: 400 30px 'MicrosoftYaHei [Regular]';
    color: #fff;
    margin-bottom: 40px;
}

.webproduct_foot>div a {
    font: 400 20px/40px 'MicrosoftYaHei [Regular]';
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    text-align: center;
}

/* 微信小程序 产品介绍*/
.wechatproduct_foot {
    position: relative;
}

.wechatproduct_foot>img {
    min-width: 1200px;
    width: 100%;
}

.wechatproduct_foot>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wechatproduct_foot>div h3 {
    margin-top: 30px;
    font: 400 30px 'MicrosoftYaHei [Regular]';
    color: #171717;
    margin-bottom: 10px;
}

.wechatproduct_foot>div p {
    font: 400 22px 'MicrosoftYaHei [Regular]';
    color: #171717;
    margin-bottom: 20px;
}

.wechatproduct_foot>div img:nth-of-type(1) {
    margin-bottom: 15px;
}

.wechatproduct_foot>div img:nth-of-type(2) {
    /* margin-bottom: 40px; */
    width: 200px;
}

/* 版本购买 */
.buy_middle .allversion {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.version_list {
    margin-top: 20px;
    margin-right: 18px;
}

.version_list>div:nth-of-type(1) {
    border-radius: 10px 10px 0 0;
    width: 380px;
    height: 250px;
    border: 1px solid #ddd;
    border-bottom: none;
    position: relative;
    overflow: hidden;
}

.version_list>div:nth-of-type(1) img {
    max-width: 100%;
    /* max-height: 100%; */
}

.version_list>div:nth-of-type(1) p {
    font: 400 20px 'MicrosoftYaHei [Regular]';
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.version_list>div:nth-of-type(2) {
    border: 1px solid #ddd;
    border-top: none;
    height: 100px;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
}

.version_list>div:nth-of-type(2) h5 {
    font: 400 22px/22px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin-bottom: 20px;
    padding-top: 18px;
}

.version_list>div:nth-of-type(2) div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.version_list>div:nth-of-type(2) div>p {
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.version_list>div:nth-of-type(2) div>p:nth-of-type(1) span {
    font: 400 22px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.moreversion {
    margin-top: 20px;
    margin-right: 20px;
}

.moreversion>div:nth-of-type(1) {
    border-radius: 10px 10px 0 0;
    width: 380px;
    height: 250px;
    overflow: hidden;
}

.moreversion>div:nth-of-type(1) img {
    max-width: 100%;
    max-height: 100%;
}

.moreversion>div:nth-of-type(2) {
    border: 1px solid #ddd;
    border-top: none;
    height: 100px;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.moreversion>div:nth-of-type(2) p {
    font: 400 22px/30px 'MicrosoftYaHei [Regular]';
    color: #000;
}

/* 网通下单 */
.buy_middle .allnetcom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.netcomversion_list {
    margin-top: 20px;
    margin-right: 18px;
}

.netcomversion_list>div:nth-of-type(1) {
    border-radius: 10px 10px 0 0;
    width: 220px;
    height: 144px;
    border: 1px solid #ddd;
    border-bottom: none;
    position: relative;
    overflow: hidden;
}

.netcomversion_list>div:nth-of-type(1) img {
    /* max-width: 100%; */
    /* max-height: 100%; */
    width: 220px;
}

.netcomversion_list>div:nth-of-type(1) p {
    font: 400 17px/28px 'MicrosoftYaHei [Regular]';
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.netcomversion_list>div:nth-of-type(2) {
    border: 1px solid #ddd;
    border-top: none;
    height: 100px;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
}

.netcomversion_list>div:nth-of-type(2) h5 {
    font: 400 19px/19px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin-bottom: 20px;
    padding-top: 18px;
}

.netcomversion_list>div:nth-of-type(2) div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.netcomversion_list>div:nth-of-type(2) div>p {
    font: 400 14px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.netcomversion_list>div:nth-of-type(2) div>p:nth-of-type(1) span {
    font: 400 19px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.morenetversion {
    margin-top: 20px;
    margin-right: 20px;
}

.morenetversion>div:nth-of-type(1) {
    border-radius: 10px 10px 0 0;
    width: 220px;
    height: 145px;
    overflow: hidden;
}

.morenetversion>div:nth-of-type(1) img {
    max-width: 100%;
    max-height: 100%;
}

.morenetversion>div:nth-of-type(2) {
    border: 1px solid #ddd;
    border-top: none;
    height: 100px;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.morenetversion>div:nth-of-type(2) p {
    font: 400 20px/30px 'MicrosoftYaHei [Regular]';
    color: #000;
}

/* 版本购买详情 */

.buydetail_div1 {
    display: flex;
    align-items: flex-start;
}

.buydetail_div1>div:nth-of-type(1) {
    position: relative;
    width: 280px;
    height: 340px;
    border-radius: 10px;

}

.buydetail_div1>div:nth-of-type(1) img {
    max-width: 100%;
    max-height: 100%;
}

.buydetail_div1>div:nth-of-type(1) p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 22px/36px 'MicrosoftYaHei [Regular]';
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
}

.buydetail1_detaiinfo {
    margin-left: 24px;
}

.buydetail1_detaiinfo>h4 {
    font: 400 22px/22px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin-bottom: 27px;
}

.buydetail1_detaiinfo>h4 span:nth-of-type(2) {
    font: 400 16px/16px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    margin-left: 15px;
}

.buydetail1_detaiinfo>div>p {
    font: 400 16px/16px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.buydetail1_detaiinfo>div>p span {
    font: 400 22px/22px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.buydetail1_detaiinfo>div>p span:nth-of-type(3) {
    margin-right: 10px;
}

.buydetail1_detaiinfo>div>div {
    display: flex;
    align-items: center;
    margin-top: 16px;
    flex-wrap: wrap;
    font: 400 16px/16px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.buydetail1_detaiinfo>div>div a {
    border: 1px solid #ff6637;
    height: 30px;
    padding: 0 20px;
    font: 400 16px/30px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    margin-left: 20px;
}

.buydetail1_detaiinfo>div>div:nth-of-type(3) p:nth-of-type(2) {
    font: 400 16px/16px 'MicrosoftYaHei [Regular]';
    color: #999;
}

.buydetail1_detaiinfo>div>div:nth-of-type(3) p span {
    font: 400 16px/16px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.buydetail1_detaiinfo>div>div:nth-of-type(3)>div {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.buydetail1_detaiinfo>div>div:nth-of-type(3)>div img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.buydetail1_detaiinfo>div>div:nth-of-type(3)>div div {
    position: absolute;
    top: 19px;
    left: -87px;
    width: 500px;
    height: 160px;
    background: url(../images/explain.png) no-repeat;
    display: none;
}

.buydetail1_detaiinfo>div>div:nth-of-type(3)>div div p {
    font: 400 16px/28px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    margin: 30px 10px;
}

.buydetail1_detaiinfo>div>div:nth-of-type(5) p {
    display: flex;
    align-items: center;
}

.buydetail1_detaiinfo>div>div:nth-of-type(5) p span {
    font: 400 22px/22px 'MicrosoftYaHei [Regular]';
    color: #ff0000;
}

.buydetail1_detaiinfo>div>div:nth-of-type(5) p span:nth-of-type(1) {
    margin-left: 25px;
}

.buydetail1_detaiinfo>div>div:nth-of-type(5) a {
    border: none;
    font: 400 14px/30px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    padding: 0;
}

.buydetail1_detaiinfo>div>div:nth-of-type(6) {
    margin-top: 47px;
}

.buydetail1_detaiinfo>div>div:nth-of-type(6) button {
    width: 120px;
    height: 40px;
    margin-right: 30px;
    font: 400 16px/40px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    border: 1px solid #ff6637;
    display: block;
    background: transparent;
    border-radius: 5px;
}

.buydetail1_detaiinfo>div>div:nth-of-type(6) a {
    text-align: center;
    padding: 0 !important;
    width: 120px;
    height: 40px;
    margin-right: 30px;
    font: 400 16px/40px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
    border: 1px solid #ff6637;
    display: block;
    background: transparent;
    border-radius: 5px;
}

.buydetail_div2 {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.buydetail_div2 h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font: 400 22px/22px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.buydetail_div2 div {
    /* width: 240px;
    height: 240px; */
    overflow: hidden;
}

.buydetail_div2 div>img {
    max-width: 100%;
    max-height: 100%;
}

/* 网通下单开通注意事项 */
.netcomedetail_div2 {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.netcomedetail_div2 h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font: 400 22px/22px 'MicrosoftYaHei [Regular]';
    color: #000;
}

.netcomedetail_div2 div {
    background: #f0f0f0;
    width: 900px;
    min-width: 900px;
    padding: 30px 50px;
    /* width: 240px;
    height: 240px; */
    overflow: hidden;
}

/* 业务公告 */
.bulletin {
    width: 1200px;
    min-width: 1200px;
    margin: 40px auto 50px;
}

.bulletin>h4 {
    height: 50px;
    text-indent: 60px;
    background: #f0f0f0;
    font: 400 18px/50px 'MicrosoftYaHei [Regular]';
    color: #333;
}

.bulletin_list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid #ddd;
    border-top: none;
}

.bulletin_list>div {
    display: flex;
    align-items: flex-start;

}

.bulletin_list>div>div:nth-of-type(1) {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.bulletin_list>div>div:nth-of-type(1) img {
    width: 100px;
}

.bulletin_list>div>div:nth-of-type(2) {
    margin-left: 30px;
    width: 756px;
}

.bulletin_list>div>div:nth-of-type(2)>h3 {
    font: 700 20px 'MicrosoftYaHei [Regular]';
    color: #333;
    display: flex;
    align-items: center;
}

.bulletin_list>div>div:nth-of-type(2)>h3 img {
    width: 40px;
    height: 20px;
    margin-left: 15px;
}

.bulletin_list>div>div:nth-of-type(2)>p {
    font: 400 18px/30px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    margin-top: 18px;
}

.bulletin_list>p {
    font: 400 20px 'MicrosoftYaHei [Regular]';
    color: #999;
}

#page {
    text-align: center;
    margin-top: 100px;
}

/*订单管理  */
.order {
    width: 1200px;
    min-width: 1200px;
    margin: 40px auto 0;
}

.order>h2 {
    margin-bottom: 20px;
    font: 700 24px 'MicrosoftYaHei [Regular]';
    color: #333;
}

.orderDetail {
    margin-top: 40px;
}

.orderDetail>div:nth-of-type(1) {
    display: flex;
    align-items: center;
    height: 60px;
    background: #dcdcdc;
}

.orderDetail>div:nth-of-type(1) p {
    width: 120px;
    height: 60px;
    text-align: center;
    font: 400 18px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.orderDetail>div:nth-of-type(2) {
    border-bottom: 1px solid #ddd;
}

.order-list {
    display: flex;
    align-items: center;
    height: 60px;
}

.order-list:nth-of-type(even) {
    background: #f0f0f0;
}

.order-list:nth-of-type(odd) {
    background: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.order-list p {
    width: 120px;
    text-align: center;
    font: 400 16px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.atime {
    font: 400 15px/28px 'MicrosoftYaHei [Regular]' !important;
    overflow: auto !important;
    text-overflow: clip !important;
    white-space: normal !important;
}

.atime2 {
    font: 400 14px/27px 'MicrosoftYaHei [Regular]' !important;
    overflow: auto !important;
    text-overflow: clip !important;
    white-space: normal !important;
}

#page2 {
    text-align: center;
    margin-top: 88px;
}

/* 订单详情 */
.order-detail {
    width: 1200px;
    min-width: 1200px;
    margin: 40px auto 0;
}

.order-detail>h2 {
    margin-bottom: 20px;
    font: 700 24px 'MicrosoftYaHei [Regular]';
    color: #333;
}

.orderDetails>div {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.orderDetails>div:last-of-type {
    border-bottom: none;
}

.orderDetails>div:nth-of-type(1)>div div p:nth-of-type(1) {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #333;
    width: 342px;
    margin-right: 10px;
}

.orderDetails>div>p {
    font: 400 20px 'MicrosoftYaHei [Regular]';
    color: #ff6637;
}

.orderDetails>div>div {
    font: 400 18px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-top: 30px;
    margin-left: 166px;
}

.orderDetails>div>div div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.orderDetails>div>div div:last-of-type {
    margin-bottom: 0;
}

.orderDetails>div>div div p:nth-of-type(1) {
    width: 132px;
    margin-right: 10px;
}

.orderDetails>div>div div p:nth-of-type(2) span:nth-of-type(1) {
    margin-right: 20px;
}

.orderDetails>button {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    background: #ff6637;
    font: 400 18px/50px 'MicrosoftYaHei [Regular]';
    color: #fff;
    border: none;
    display: block;
    margin: 120px auto 20px;
}

/* 报表统计 */
.report_record {
    width: 1200px;
    min-width: 1200px;
    margin: 40px auto;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.fl {
    width: 330px;
    margin-left: 52.5px;
}

.fl>h3 {
    width: 330px;
    height: 40px;
    background: #f19149;
    font: 400 18px/40px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-indent: 40px;
}

.fl>p {
    margin-left: 40px;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    margin-top: 20px;
}

.fl>p span {
    font: 400 20px'MicrosoftYaHei [Regular]';
    color: #ff6637;
}

.fl>p span:nth-of-type(1) {
    margin-left: 20px;

}

.report_list {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.report_search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.report_search div:nth-of-type(1) {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-right: none;
}

.report_search div:nth-of-type(2) {
    height: 30px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
}

.report_search div:nth-of-type(2) input {
    border: none;
    height: 28px;
    width: 220px;
}

.report_search div:nth-of-type(3) {
    width: 50px;
    height: 32px;
    background: #ff6637;
    font: 400 14px/32px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-right: 50px;
}

.report_search>button {
    width: 70px;
    height: 34px;
    border: none;
    background: #ff6637;
    border-radius: 5px;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #fff;
}

.re_list>div:nth-of-type(1) {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    height: 60px;
}

.re_list>div:nth-of-type(1) p {
    width: 200px;
    text-align: center;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.r_list {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-top: none;
}

.r_list p {
    width: 200px;
    text-align: center;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 价格管理 */
.price_middle {
    width: 1200px;
    min-width: 1200px;
    margin: 30px auto;
}

.pr_search {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.pr_search>p {
    font: 400 18px'MicrosoftYaHei [Regular]';
    color: #000;
    margin-right: 10px;
}

.pr_search>select {
    width: 141px;
    height: 28px;
    border: 1px solid #ddd;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.pr_search>button {
    width: 80px;
    height: 30px;
    background: #ff6637;
    border-radius: 5px;
    margin-left: 50px;
    border: none;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #fff;
}

.pri_title {
    display: flex;
    align-items: center;
    background: #dcdcdc;
    height: 50px;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #333;
}

.pri_title>div:nth-of-type(1) input {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 40px;
    margin-right: 8px;
}

.pri_title>div:nth-of-type(1) {
    justify-content: flex-start;
    width: 120px;
}

.pri_title>div:last-of-type {
    margin-right: 20px;
}

.pri_title>div {
    display: flex;
    align-items: center;
    width: 176.6px;
    justify-content: center;
}

.priAll {
    display: none;
}

.pri_all {
    display: flex;
    align-items: center;
    height: 50px;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #333;
}

.pri_all>p {
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #ff6637;
    margin-left: 40px;
    width: 300px;
}

.pri_all div {
    display: flex;
    align-items: center;
    width: 176.6px;
    justify-content: center;
}

.pri_all>div:nth-of-type(1) {
    margin-left: 313px;
}

.pri_all>div:nth-of-type(2) {
    margin-left: 177px;
}

.pri_all input {
    width: 135px;
    height: 30px;
    color: #999;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.pri_all button {
    width: 110px;
    height: 30px;
    border-radius: 5px;
    background: #ff6637;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #fff;
    border: none;
}

.pri_list {
    display: flex;
    align-items: center;
    height: 50px;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #333;
}

.pri_list:nth-of-type(odd) {
    background: #fff;

}

.pri_list:nth-of-type(even) {
    background: #f0f0f0;
}

.pri_list>div:nth-of-type(1) input {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 40px;
    margin-right: 8px;
}

.pri_list>div {
    display: flex;
    align-items: center;
    width: 176.6px;
    justify-content: center;
}

.pri_list>div:nth-of-type(1) {
    justify-content: flex-start;
    width: 120px;
}

.pri_list>div:nth-of-type(5) input {
    width: 135px;
    height: 30px;
    color: #999;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.pri_list>div:last-of-type {
    margin-right: 20px;
}

.pri_list>div button {
    width: 110px;
    height: 30px;
    border-radius: 5px;
    background: #ff6637;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #fff;
    border: none;
}

/* 网站-订单管理 */
.order_middle {
    /* border: 1px solid red; */
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.order_div1 {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
}

.order_div1>p {
    width: 200px;
    border-right: 1px solid #000;
	font-size:16px;
    color: #000;
    text-align: center;
}

.order_div1>p:last-of-type {
    border-right: none;
}

.order_search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.order_search>div {
    height: 38px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 220px;
    /* border: 1px solid red; */
}

.order_search>div:last-of-type {
    width: 600px;
}

.order_search>div:last-of-type>input {
    width: 500px;
    height: 36px;
    border: 1px solid #ddd;
}

.order_search>div>p {
    font: 400 16px/38px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin-right: 8px;
}

.order_search>div>select {
    width: 120px;
    height: 38px;
    color: #999;
    border: 1px solid #ddd;
}

.order_search>div:nth-of-type(2),
.order_search>div:nth-of-type(6) {
    width: 235px;
}

.order_search>div:nth-of-type(5) {
    width: 270px;
}

.order_search>div:nth-of-type(5)>p {
    width: 103px;
}

.order_search>button {
    border-radius: 5px;
    width: 80px;
    height: 38px;
    font: 400 16px/38px 'MicrosoftYaHei [Regular]';
    color: #fff;
    margin-top: 30px;
    background: #ff6637;
    border: none;
    margin-left: 30px;
}

.concatS {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-top: 10px;
}

.concatS>button {
    width: 100px;
    height: 34px;
    background: #ff6637;
    border-radius: 5px;
    font: 400 18px/34px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
    border: none;

}

.concatS>a {
    width: 100px;
    height: 34px;
    background: #ff6637;
    border-radius: 5px;
    font: 400 18px/34px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
    border: none;
    display: block;
}

.ord_list>div:nth-of-type(1) {
    display: flex;
    align-items: center;
    height: 60px;
    background: #f0f0f0;
}

.ord_list>div:nth-of-type(1)>p {
    margin: 0;
    padding: 0;
    width: 85px;
    height: 60px;
    text-align: center;
    font: 400 16px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.ord_list>div:nth-of-type(1)>p:last-of-type {
    width: 186.6px;
    text-align: center;
    /* border: 1px solid red; */
}

.ordlist {
    display: flex;
    align-items: center;
    height: 60px;
    border: 1px solid #ddd;
    border-top: none;
}

.ordlist>p {
    margin: 0;
    padding: 0;
    width: 85px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 400 15px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    border-right: 1px solid #ddd;
}

.ordlist>p:last-of-type {
    width: 186.6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: none;
}

.ordlist>p:last-of-type img {
    cursor: pointer;
}

/* 微信小程序-订单管理 */

.wxord_list>div:nth-of-type(1) {
    display: flex;
    align-items: center;
    height: 60px;
    background: #f0f0f0;
}

.wxord_list>div:nth-of-type(1)>p {
    margin: 0;
    padding: 0;
    width: 91.8px;
    height: 60px;
    text-align: center;
    font: 400 16px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.wxord_list>div:nth-of-type(1)>p:last-of-type {
    width: 190px;
    text-align: center;
    /* border: 1px solid red; */
}

.wxordlist {
    display: flex;
    align-items: center;
    height: 60px;
    border: 1px solid #ddd;
    border-top: none;
}

.wxordlist>p {
    margin: 0;
    padding: 0;
    width: 91.8px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 400 15px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    border-right: 1px solid #ddd;
}

.wxordlist>p:last-of-type {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: none;
}

.wxordlist>p:last-of-type img {
    cursor: pointer;
}


/* 网通订单管理 */

.netcom_div1 {
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
}

.netcom_div1>p {
    width: 202px;
    height: 52px;
    background: url(../images/4_03.png) no-repeat;
    font: 400 19px/52px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
}

.netcom_search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.netcom_search>div {
    height: 36px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* width: 220px; */
    /* border: 1px solid red; */
}

.netcom_search>div>input {
    width: 200px;
    height: 34px;
    border: 1px solid #ddd;
}

.netcom_search>div>p {
    font: 400 16px/36px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin-right: 8px;
}

.netcom_search>button {
    border-radius: 5px;
    width: 80px;
    height: 38px;
    font: 400 16px/38px 'MicrosoftYaHei [Regular]';
    color: #fff;
    margin-top: 30px;
    background: #ff6637;
    border: none;
    margin-left: 30px;
}

.netcom_list>div:nth-of-type(1) {
    display: flex;
    align-items: center;
    height: 60px;
    background: #f0f0f0;
}

.netcom_list>div:nth-of-type(1)>p {
    margin: 0;
    padding: 0;
    width: 130px;
    height: 60px;
    text-align: center;
    font: 400 16px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.netcom_list>div:nth-of-type(1)>p:last-of-type {
    width: 160px;
    text-align: center;
}

.netcomList {
    display: flex;
    align-items: center;
    height: 60px;
    border: 1px solid #ddd;
    border-top: none;
}

.netcomList>p {
    margin: 0;
    padding: 0;
    width: 130px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 400 15px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    /* border-right: 1px solid #ddd; */
}

.netcomList>p:last-of-type {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border-right: none; */
}

.netcomList>p:last-of-type img {
    cursor: pointer;
}

/* 网通订单管理*/
.net_middle {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto 50px;
}

.net_bottom {
    margin-top: 20px;
}

.net_bottom .search {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.net_bottom .search>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.net_bottom .search>div p {
    font: 400 18px/38px 'MicrosoftYaHei [Regular]';
    color: #333;
    margin-right: 15px;
    margin-left: 40px;
}

.net_bottom .search>div input {
    border: 1px solid #ddd;
    width: 140px;
    height: 38px;
    display: block;
}

.net_bottom .search>div select {
    border: 1px solid #ddd;
    width: 180px;
    height: 38px;
    display: block;
}

.net_bottom .search>button:nth-of-type(1) {
    width: 80px;
    height: 38px;
    margin-left: 50px;

}

.net_bottom .search>button:nth-of-type(2) {
    width: 100px;
    height: 38px;
    margin-left: 150px;
    background: #ff6637;
    font: 400 14px/38px 'MicrosoftYaHei [Regular]';
    color: #fff;
    text-align: center;
    border: none;
}

.net_listheader {
    display: flex;
    align-items: center;
    height: 60px;
    background: #f0f0f0;
}

.net_listheader p {
    width: 200px;
    text-align: center;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

/* .net_listheader p:last-of-type {
    width: 240px;
} */

.net_list>div:nth-of-type(2) {
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 88px;
}

.netc_list {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

.netc_list:last-of-type {
    border-bottom: none;
}

.netc_list p {
    width: 200px;
    text-align: center;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.netc_list p:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.netc_list p:last-of-type button {
    width: 50px;
    height: 32px;
    display: block;
    background: #ff6637;
    font: 400 17px/32px 'MicrosoftYaHei [Regular]';
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* 号码认证价格管理 */

.numpri_title {
    display: flex;
    align-items: center;
    background: #dcdcdc;
    height: 50px;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #333;
}

.numpri_title>div:nth-of-type(1) input {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 40px;
    margin-right: 8px;
}

.numpri_title>div:nth-of-type(1) {
    justify-content: flex-start;
    width: 150px;
}

.numpri_title>div:last-of-type {
    margin-right: 20px;
}

.numpri_title>div {
    display: flex;
    align-items: center;
    width: 210px;
    justify-content: center;
}

.numpriAll {
    display: none;
}

.numpri_all {
    display: flex;
    align-items: center;
    height: 50px;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #333;
}

.numpri_all>p {
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #ff6637;
    margin-left: 40px;
    width: 320px;
}

.numpri_all div {
    display: flex;
    align-items: center;
    width: 210px;
    justify-content: center;
}

.numpri_all>div:nth-of-type(1) {
    margin-left: 210px;
}

.numpri_all>div:nth-of-type(2) {
    margin-left: 210px;
}

.numpri_all input {
    width: 168px;
    height: 30px;
    color: #999;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.numpri_all button {
    width: 110px;
    height: 30px;
    border-radius: 5px;
    background: #ff6637;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #fff;
    border: none;
}

.numpri_list {
    display: flex;
    align-items: center;
    height: 50px;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #333;
}

.numpri_list:nth-of-type(odd) {
    background: #fff;

}

.numpri_list:nth-of-type(even) {
    background: #f0f0f0;
}

.numpri_list>div:nth-of-type(1) input {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 40px;
    margin-right: 8px;
}

.numpri_list>div {
    display: flex;
    align-items: center;
    width: 210px;
    justify-content: center;
}

.numpri_list>div:nth-of-type(1) {
    justify-content: flex-start;
    width: 150px;
}

.numpri_list>div:nth-of-type(4) input {
    width: 168px;
    height: 30px;
    color: #999;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.numpri_list>div button {
    width: 110px;
    height: 30px;
    border-radius: 5px;
    background: #ff6637;
    font: 400 16px'MicrosoftYaHei [Regular]';
    color: #fff;
    border: none;
}

/* 号码认证-订单管理 */
.number_search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 35px;
}

.number_search>div {
    height: 38px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 300px;
}

.number_search>div:nth-of-type(1),
.number_search>div:nth-of-type(2),
.number_search>div:nth-of-type(3) {
    width: 300px;
}

.number_search>div>select {
    width: 180px;
    height: 38px;
    color: #999;
    border: 1px solid #ddd;
}

.number_search>div:nth-of-type(3)>input {
    width: 180px;
    height: 36px;
    border: 1px solid #ddd;
}

.number_search>div>input {
    width: 180px;
    height: 36px;
    border: 1px solid #ddd;
}

.number_search>div>p {
    font: 400 16px/38px 'MicrosoftYaHei [Regular]';
    color: #000;
    margin-right: 8px;
}

.number_search>button {
    border-radius: 5px;
    width: 80px;
    height: 34px;
	line-height:34px;
	font-size:16px;
    color: #fff;
    margin-top: 30px;
    background: #17a9ff;
    border: none;
    margin-left: 30px;
}

.number_list>div:nth-of-type(1) {
    /*display: flex;*/
    align-items: center;
    height: 60px;
    background: #f0f0f0;
}

.number_list>div:nth-of-type(1)>p {
    margin: 0;
    padding: 0;
    width: 116px;
    height: 60px;
    text-align: center;
    font: 400 16px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.number_list>div:nth-of-type(1)>p:last-of-type {
    width: 154px;
    text-align: center;
}

.numlist {
    display: flex;
    align-items: center;
    height: 60px;
    border: 1px solid #ddd;
    border-top: none;
}

.numlist>p {
    margin: 0;
    padding: 0;
    width: 116px;
    height: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 400 15px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.numlist>p:last-of-type {
    width: 154px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: none;
}

.numlist>p:last-of-type img {
    cursor: pointer;
}

/* 号码认证-成员管理 */

.number_listheader {
    display: flex;
    align-items: center;
    height: 60px;
    background: #f0f0f0;
}

.number_listheader p {
    width: 150px;
    text-align: center;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.number_listheader>p:nth-of-type(2),
.number_listheader>p:nth-of-type(3) {
    width: 130px;
}

.number_listheader>p:nth-of-type(6),
.number_listheader>p:nth-of-type(7) {
    width: 170px;
}

.numberdf_list>div:nth-of-type(2) {
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 88px;
}

.number_slist {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

.number_slist:last-of-type {
    border-bottom: none;
}

.number_slist p {
    width: 150px;
    text-align: center;
    font: 400 16px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.number_slist>p:nth-of-type(2),
.number_slist>p:nth-of-type(3) {
    width: 130px;
}

.number_slist>p:nth-of-type(6),
.number_slist>p:nth-of-type(7) {
    width: 170px;
}

.number_slist p:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.number_slist p:last-of-type button {
    width: 50px;
    height: 32px;
    display: block;
    background: #ff6637;
    font: 400 17px/32px 'MicrosoftYaHei [Regular]';
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* 号码认证-续费记录 */

.numRenewList {
    margin-top: 40px;
}

.numRenewList>div:nth-of-type(1) {
    display: flex;
    align-items: center;
    height: 60px;
    background: #dcdcdc;
}

.numRenewList>div:nth-of-type(1) p {
    width: 200px;
    height: 60px;
    text-align: center;
    font: 400 18px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
}

.numRenewList>div:nth-of-type(2) {
    border-bottom: 1px solid #ddd;
}

.renew_list {
    display: flex;
    align-items: center;
    height: 60px;
}

.renew_list:nth-of-type(even) {
    background: #f0f0f0;
}

.renew_list:nth-of-type(odd) {
    background: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.renew_list p {
    width: 200px;
    text-align: center;
    font: 400 16px/60px 'MicrosoftYaHei [Regular]';
    color: #5c5c5c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*号码标记查询 */
.numBanner {
    height: 550px;
    position: relative;
}

.numBanner>div:nth-of-type(1) {
    height: 550px;
    overflow: hidden;
}

.numBanner>div:nth-of-type(1) img {
    height: 550px;
}

.numsearch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 150px;
    padding-left: 22.4%;
}

.numsearch>h3 {
    font: 600 38px 'MicrosoftYaHei-Bold';
    color: #fff;
    margin-bottom: 16px;
}

.numsearch>p {
    font: 400 25px 'MicrosoftYaHei';
    color: #fff;
    margin-bottom: 16px;
}

.numsearch>div {
    display: flex;
    align-items: center;
}

.numsearch input {
    height: 57px;
    width: 412px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 5px;
}

.numsearch button {
    width: 124px;
    height: 57px;
    background-color: #ff3f3f;
    border: none;
    margin-left: 9px;
    font: 600 20px ' MicrosoftYaHei';
    color: #fff;
    border-radius: 5px;
}

.numsearch>div p {
    font: 400 18px 'MicrosoftYaHei';
    color: #fff;
    margin-right: 15px;
    margin-top: 41px;
    padding: 5px 10px;
    border-radius: 5px;
}

.numsearch>div p:nth-of-type(odd) {
    background-color: #fd403c;
}

.numsearch>div p:nth-of-type(even) {
    background-color: #f2914a;
}

.process {
    margin: 35px 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.operationTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.operationTitle h4 {
    font: 400 37px 'MicrosoftYaHei';
    color: #ff4518;
}

.operationTitle p {
    font: 400 29px 'MicrosoftYaHei';
    color: #b4b4b3;
    margin: 23px 0;
}

.ourService {
    background-color: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 30px;
}

.serviceTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.serviceTitle h4 {
    font: 400 37px 'MicrosoftYaHei';
    color: #333;
}

.serviceTitle p {
    font: 400 29px 'MicrosoftYaHei';
    color: #b4b4b3;
    margin: 23px 0;
}

.featureList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureList a {
    width: 360px;
    background: #ff4518;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    display: block;
    font: 400 18px/40px 'MicrosoftYaHei';
    text-align: center;
}

.featureList>div>div {
    display: flex;
    margin-bottom: 20px;
}

.cancelMark {
    margin-right: 160px;
}

.markNum {
    margin-left: 160px;
}

.featureList h4 {
    font: 400 28px 'MicrosoftYaHei';
    color: #333;
    margin-left: 20px;
}

.featureList p {
    font: 400 16px 'MicrosoftYaHei';
    color: #333;
    margin-left: 20px;
    margin-top: 16px;
}

/* 号码标记查询-查询结果list */
.brdcont {
    background: url(../images/numbanner.png) no-repeat center top;
    padding: 30px 0;
    padding-bottom: 60px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.bread {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bread_l {
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
}

.bread_r a {
    height: 30px;
    padding: 0 20px;
    background: #1AB2FD;
    color: #fff;
    font: 400 16px/30px 'MicrosoftYaHei [Regular]';
    display: block;
}

.bread_r img {
    width: 14px;
    height: 14px;
}

.container {
    padding: 40px 0;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.queryMain {
    padding: 20px;
    min-height: 400px;
    position: relative;
    z-index: 100;
    background: #fff;
    margin-top: -80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.bread_l span,
.bread_l em {
    display: inline-block;
    color: #FFBA00;
    margin: 0 3px;
    font-weight: bold;
}

.fullwidth {
    width: 100%;
}

.rs_table th,
.rs_table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.rs_table th {
    background: #eee;
    font-size: 16px;
}


.borderalink {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #aaa;
}

.borderalinks {
    border-color: #1AB2FD;
    color: #1AB2FD;
    border-radius: 5px;
}

.tips {
    background: #eee;
    padding: 15px;
}

.text-center {
    text-align: center;
}

.paycont {
    margin: 50px auto 20px;
    text-align: center;
}

.paybtn {
    display: inline-block;
    padding: 20px 100px;
    color: #fff;
    background: #FF3F3F;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 0 #ec3a3a;

}